.app-header {
	background: $color-mythic-dim;
	border-bottom: 1px solid darken($color-mythic-dim, 12.5%);
	box-shadow: 0 0 $lhse*.3333 rgba(#000, .5);
	color: desaturate(lighten($color-mythic-orange, 20%), 33.33%);
	z-index: index($layers, app-header);
	height: $height-app-header;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;

	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.app-title {
		a {
			text-decoration: none;
			color: $color-link-over-mythic-dim;
			transition-duration: $transition-duration-standard;
	
			&:hover,
			&:focus {
				color: #fff;
			}
			&:active {
				color: $color-link-focus;
			}
		}
	}
	.by-iristorm {
		display: inline-block;
		font-size: 87.5%;
		margin-left: $lhse;

		a {
			@include heading-font;
			display: inline-block;
			margin: 0 .125ch;
		}
	}
	h1 {
		margin: divide($lhse, 16) 0 0;
		font-size: 1.25em;
		display: inline-block;
	}
	.app-menu-toggler {
		display: none;
	}
	.app-menu {
		margin-bottom: -2px;

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: grid;
			grid-template-columns: repeat(4, minmax(max-content, 1fr));
			gap: $lhse*.5;
			align-items: center;
		}
		li {
			display: block;
			margin: 0;
			padding: 0;
			border-top: 1px solid rgba(#000, .0625);

			> &:first-child {
				border-top-width: 0;
			}
		}
		a,
		button {
			@extend .primary-btn;
			white-space: nowrap;
			overflow: hidden;

			&:hover,
			&:focus {
				position: relative;
				z-index: index($layers, above-overlay);
			}
		}
		button {
			&.attention:not(:disabled) {
				animation: flash .1667s linear;
				animation-iteration-count: 6;
				animation-direction: alternate;
	
				@keyframes flash {
					33.33% {
						filter: brightness(100%);
					}
					100% {
						filter: brightness(200%);
					}
				}
			}
		}
	}
	.app-header-link {
		> a,
		> button {
			@include button;
			margin-right: 0;
			margin-left: 0;
			display: block;
			width: 100%;
		}
	}
	.open-deck-heading {
		display: none;
	}
	.deck-menu-toggler {
		position: relative;
		z-index: index($layers, above-overlay);

		span {
			font-size: 66.67%;
		}
	}
	.deck-menu {
		position: relative;
		z-index: index($layers, above-overlay);

		.hover-shield {
			width: 100%;
			height: calc(100% + 2px);
			position: absolute;
			top: -2px;
			padding-bottom: 3em;
		}
		.up-pointing-triangle {
			position: absolute;
			top: 2.25em;
			right: 0;
			z-index: index($layers, above-overlay);

			&::before {
				position: absolute;
				bottom: 100%;
				right: $lhse*2;
				border: solid transparent;
				content: "";
				height: 0;
				width: 0;
				pointer-events: none;
				border-color: transparent;
				border-bottom-color: $color-mythic-orange;
				border-width: $lhse*.3333;
			}
		}
		ul {
			@include popup;
			list-style: none;
			margin: 0;
			padding: 0;
			min-width: 100%;
			max-height: 75vh;
			overflow-y: auto;
		}
		li {
			padding: 0;
		}
		a {
			min-width: 6em;
			max-width: 24em;
			text-overflow: ellipsis;
			overflow-x: hidden;
			white-space: nowrap;
			padding: 0 $lhse*.3333;
			height: $lhse*1.5;
			transition-duration: 0s;
			text-decoration: none;
			color: #000;
			text-align: right;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			
			&:hover,
			&:focus {
				background: rgba(#fff, .375)
			}
			&:active {
				background: $color-mythic-orange;
				color: #fff;
			}
		}
	}
	.mouseover-area {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		top: 0;
		height: calc(100% + 2px);
		width: 100%;
		display: block;
		border-radius: $border-radius-button;
	}
	.deck-menu-deck-name {
		font-weight: $font-weight-semibold;
		min-width: 6em;
		width: max-content;
		max-width: 14em;
		text-overflow: ellipsis;
		white-space: normal;
		line-height: 1;
		margin: divide($lhse, 6) 0;
	}
	.deck-menu-deck-colors {
		display: flex;
		font-size: 66.67%;
		margin-left: $lhse*.5;
		min-width: $lhse*2;
		justify-content: center;
		align-items: center;

		.mana-symbol {
			display: flex;
			cursor: inherit;
			box-shadow: 0 0 0 1px rgba(#000, .125);
			opacity: .9167;
		}
	}
}

@media (max-width: $width-app-breakpoint) {
	.app-header {
		height: $height-app-header * .875; // Equal to percentage of font-size change.

		.wrap {
			> * {
				font-size: 87.5%;
			}
		}
		.app-menu {
			> ul {
				gap: divide($lhse, 2);
			}
		}
	}
}
@media (max-width: $min-width-app) {
	.app-header {
		.wrap {
			display: flex;
		}
		.app-title {
			white-space: nowrap;
			margin-right: $lhse*.75;
		}
		.app-menu {
			> ul {
				width: 100%;
			}
		}
	}
}
@media (max-width: ($min-width-app*.9167)) {
	.app-header {
		.by-iristorm {
			display: none;
		}
	}
}
@media (max-width: 720px) { // Must match JavaScript
	.app-header {
		.app-title {
			text-align: left;
			width: auto;
			display: inline-block;
		}
		.by-iristorm {
			display: none;
		}
		.app-menu-toggler {
			position: relative;
			z-index: index($layers, app-menu-toggler);
			font-size: 87.5%;
			display: block;
		}
		.app-menu {
			@include popup;
			position: absolute;
			right: $lhse*.5;
			top: $height-app-header;
			margin: 0;
			z-index: index($layers, app-menu-toggler);

			&::before {
				position: absolute;
				bottom: 100%;
				right: $lhse*1.3333;
				border: solid transparent;
				content: "";
				height: 0;
				width: 0;
				pointer-events: none;
				border-color: transparent;
				border-bottom-color: $color-mythic-orange;
				border-width: divide($lhse, 3);
			}
			> .hover-shield {
				width: 100%;
				height: divide($lhse, 3);
				position: absolute;
				top: divide(-$lhse, 3);
			}
			> ul {
				overflow-y: auto;
				max-height: 75vh;
				max-width: $lhse*10;
				width: auto;
			}
			ul {
				display: block;
				background: none;

				li {
					display: block;
					
					&.app-header-link {
						a,
						button {
							display: flex;
							align-items: center;
							justify-content: flex-end;
							min-width: auto;
							padding: 0 divide($lhse, 3);
							min-height: $lhse*2;
							height: auto;
							background: none;
							color: #000;
							border: none;
							text-shadow: none;
							box-shadow: none;
							margin: 0;
							filter: none;
							border-radius: 0;
							transition: none;
							text-align: right;
							font-size: 100%;
							line-height: $line-height-standard;
							font-weight: $font-weight-semibold;
							
							&:hover,
							&:focus {
								background: rgba(#fff, .375);
								filter: none;
							}
							&:active {
								background: $color-mythic-orange;
								color: #fff;
							}
						}
					}
				}
				.deck-menu {
					background: rgba($color-mythic-lighter, .25);
					border: 1px solid desaturate($color-mythic-lighter, 33.33%);
					border-right-width: 0;
					border-left-width: 0;
				}
			}
		}
		.open-deck-heading {
			display: block;
			text-align: right;
			cursor: default;
			font-size: 66.67%;

			strong {
				@include heading-font;
				display: block;
				padding: 0 divide($line-height-standard, 3) * 1rem;
				color: $color-mythic-dim;
				text-transform: uppercase;
			}
		}
		.deck-menu-toggler {
			display: none !important;
		}
		.deck-menu {
			.hover-shield {
				height: auto;
				position: static;
				padding-bottom: 0;
			}
			.up-pointing-triangle {
				display: block;
				position: static;

				&::before {
					display: none;
				}
			}
			ul {
				border: 0;
				box-shadow: none;
				overflow: visible;
			}
			li {
				text-align: right;
			}
		}
	}
}
.bg-overlay {
	@include overlay-bg;
	transition: all $transition-duration-standard ease;
}
.overlay-enter,
.overlay-leave-to {
  opacity: 0;
}
