.app-footer {
	letter-spacing: divide(1, 256)*1em;
	background: #000;
	color: desaturate(darken($color-text, 25%), 12.5%);
	position: relative;
	padding: $lhse 0;

	p {
		font-size: 75%;
	}
	.divider {
		margin: 0 .5em;
	}
	a {
		&:link,
		&:visited {
			color: darken(desaturate($color-mythic-orange, 12.5%), 8.33%);
		}
		&:hover,
		&:focus {
			color: $color-mythic-lighter;
		}
		&:active {
			color: #fff;
		}
	}
}

@media (max-width: ($min-width-app*.75)) {
	.app-footer {
		p {
			&:first-of-type {
				line-height: $line-height-standard*1.5;
			}
		}
		a {
			display: inline-block;
		}
		.group {
			display: block;
			text-align: center;

			span {
				white-space: nowrap;
			}
		}
		.divider {
			&:first-of-type {
				display: none;
			}
		}
	}
}
