.app-footer {
	background: $color-group-bg;
	color: desaturate(darken($color-text, 20%), 8.33%);
	position: relative;
	padding: $lhse 0;
	margin-top: $lhse*.5;
	
	.root-home-page & {
		margin-top: $lhse*.1667;
		flex-grow: 1;
	}
	.wrap {
		max-width: $min-width-app*.8;
		padding: 0 $lhse;
	}
	p {
		font-size: 66.67%;
		letter-spacing: divide(1, 128)*1em;
	}
	.divider {
		margin: 0 .5em;
	}
	a {
		&:link,
		&:visited {
			color: desaturate(darken($color-link, 8.33%), 40%);
		}
		&:hover,
		&:focus {
			color: $color-link;
		}
		&:active {
			color: $color-link-focus;
		}
	}
}

@media (max-width: ($min-width-app*.75)) {
	.app-footer {
		p {
			&:first-of-type {
				line-height: $line-height-standard*1.5;
			}
		}
		a {
			display: inline-block;
		}
		.group {
			display: block;
			text-align: center;

			span {
				white-space: nowrap;
			}
		}
		.divider {
			&:first-of-type {
				display: none;
			}
		}
	}
}
