.app-header {
	background: $color-mythic-dim;
	color: lighten($color-mythic-dim, 33.33%);
	border-bottom: 1px solid darken($color-mythic-dim, 12.5%);
	z-index: index($layers, app-header);
	height: $height-app-header-short;
	box-shadow: 0 0 1px rgba(#fff, .5);

	.root-home-page & {
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: 0 0 divide($lhse, 2) rgba(#000, .5);
	}
	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}
	.app-title {
		@include heading-font;
		display: flex;
		align-items: flex-end;
		font-size: 150%;
		line-height: 1;
		white-space: nowrap;

		a {
			color: $color-link-focus;
			transition-duration: $transition-duration-standard;

			&:hover,
			&:focus {
				color: #fff;
			}
			&:active {
				color: saturate($color-link, 100%);
			}
		}
	}
	h1 {
		margin: 0 $lhse*.5 0 0;
		font-size: inherit;
	}
	.by-iristorm {
		font-size: 60%;
		margin: ($lhse*.0625) 1em;
		margin-left: 0;
	}
	.app-menu-toggler {
		display: none;
	}
	.app-menu {
		width: 100%;
		max-width: max-content;

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: grid;
			grid-template-columns: repeat(4, minmax(max-content, 1fr));
			gap: $lhse*.5;
			align-items: center;
		}
		li {
			display: block;
			margin: 0;
			padding: 0;
			border-top: 1px solid rgba(#000, .0625);

			> &:first-child {
				border-top-width: 0;
			}
		}
		a,
		button {
			@extend .primary-btn;
			white-space: nowrap;
			overflow: hidden;

			&:hover,
			&:focus {
				position: relative;
				z-index: index($layers, above-overlay);
			}
		}
		button {
			&.attention:not(:disabled) {
				animation: flash .2s linear;
				animation-iteration-count: 4;
				animation-direction: alternate;
	
				@keyframes flash {
					33.33% {
						filter: brightness(100%);
					}
					100% {
						filter: brightness(150%);
					}
				}
			}
		}
	}
	.app-header-link {
		> a,
		> button {
			@include button;
			margin-right: 0;
			margin-left: 0;
			width: 100%;
			font-size: 87.5%;
			min-height: $lhse*1.5;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.open-deck-heading {
		display: none;
	}
	.deck-menu-toggler {
		position: relative;
		z-index: index($layers, above-overlay);

		span {
			font-size: 75%;
			margin-left: .5ch;
		}
	}
	.deck-menu {
		position: relative;
		z-index: index($layers, above-overlay);

		.hover-shield {
			width: 100%;
			height: calc(100% + 2px);
			position: absolute;
			top: -2px;
			padding-bottom: 3em;
		}
		.up-pointing-triangle {
			position: absolute;
			top: 2.25em;
			right: 0;
			z-index: index($layers, above-overlay);

			&::before {
				position: absolute;
				bottom: 100%;
				right: $lhse*2;
				border: solid transparent;
				content: "";
				height: 0;
				width: 0;
				pointer-events: none;
				border-color: transparent;
				border-bottom-color: $color-mythic-orange;
				border-width: $lhse*.3333;
			}
		}
		ul {
			@include popup;
			list-style: none;
			margin: 0;
			padding: 0;
			min-width: 100%;
			max-height: 75vh;
			overflow-y: auto;
		}
		li {
			padding: 0;
		}
		a {
			min-width: 6em;
			max-width: 24em;
			text-overflow: ellipsis;
			overflow-x: hidden;
			white-space: nowrap;
			padding: 0 $lhse*.3333;
			height: $lhse*1.5;
			transition-duration: 0s;
			text-decoration: none;
			color: #000;
			text-align: right;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			
			&:hover,
			&:focus {
				background: rgba(#fff, .375)
			}
			&:active {
				background: $color-mythic-orange;
				color: #fff;
			}
		}
	}
	.mouseover-area {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		top: 0;
		height: calc(100% + 2px);
		width: 100%;
		display: block;
		border-radius: $border-radius-button;
	}
	.deck-menu-deck-name {
		font-weight: $font-weight-semibold;
		min-width: 6em;
		width: max-content;
		max-width: 14em;
		text-overflow: ellipsis;
		white-space: normal;
		line-height: 1;
		margin: divide($lhse, 6) 0;
	}
	.deck-menu-deck-colors {
		display: flex;
		font-size: 66.67%;
		margin-left: $lhse*.5;
		min-width: $lhse*2;
		justify-content: center;
		align-items: center;

		.mana-symbol {
			display: flex;
			cursor: inherit;
			box-shadow: 0 0 0 1px rgba(#000, .125);
			opacity: $opacity-mana-symbols;
		}
	}
}

@media (max-width: 1080px) {
	.app-header {
		.app-title {
			font-size: 125%;
		}
		.app-header-link {
			> a,
			> button {
				font-size: 80%;
			}
		}
	}
}
@media (max-width: $min-width-app) {
	.app-header {
		height: $height-app-header-tall;

		.wrap {
			flex-wrap: wrap;
			gap: divide($lhse, 3);
			align-content: center;
			justify-items: center;
		}
		.app-title {
			margin: 0 auto;
		}
		.app-menu {
			max-width: $max-width-content*.75;
			margin: 0 auto;
		}
	}
}
@media (max-width: 512px) { // Pixel width must match JavaScript method mobileView() in AppHeader.vue
	.app-header {
		height: $height-app-header-medium;
		padding-top: $lhse*.25;
		padding-bottom: $lhse*.25;

		.wrap {
			margin-right: auto;
			display: flex;
		}
		.app-title {
			flex-wrap: wrap;
			justify-content: flex-end;
			width: min-content;
			margin: 0;
		}
		h1 {
			margin: 0;
		}
		.by-iristorm {
			margin-right: $lhse*.125;
			margin-top: $lhse*.125;
		}
		.app-menu-toggler {
			position: relative;
			z-index: index($layers, app-menu-toggler);
			font-size: 87.5%;
			display: block;
		}
		.app-menu {
			@include popup;
			position: absolute;
			right: $lhse*.5;
			top: $height-app-header-short;
			margin: 0;
			z-index: index($layers, app-menu-toggler);

			&::before {
				position: absolute;
				bottom: 100%;
				right: $lhse*1.3333;
				border: solid transparent;
				content: "";
				height: 0;
				width: 0;
				pointer-events: none;
				border-color: transparent;
				border-bottom-color: $color-mythic-orange;
				border-width: divide($lhse, 3);
			}
			> .hover-shield {
				width: 100%;
				height: divide($lhse, 3);
				position: absolute;
				top: divide(-$lhse, 3);
			}
			> ul {
				overflow-y: auto;
				max-height: 75vh;
				max-width: $lhse*10;
				width: auto;
			}
			ul {
				display: block;
				background: none;
			}
			li {
				display: block;
			}
			.app-header-link {
				a,
				button {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					min-width: auto;
					padding: 0 divide($lhse, 3);
					min-height: $lhse*1.6667;
					height: auto;
					background: none;
					color: #000;
					border: none;
					text-shadow: none;
					box-shadow: none;
					margin: 0;
					filter: none;
					border-radius: 0;
					transition: none;
					text-align: right;
					font: $font-weight-semibold 112.5%/#{$line-height-standard} $font-family-standard;
					
					&:hover,
					&:focus {
						background: rgba(#fff, .375);
						filter: none;
					}
					&:active {
						background: $color-mythic-orange;
						color: #fff;
					}
				}
			}
			.deck-menu {
				background: rgba($color-mythic-lighter, .25);
				border: 1px solid desaturate($color-mythic-lighter, 33.33%);
				border-right-width: 0;
				border-left-width: 0;
			}
		}
		.open-deck-heading {
			display: block;
			text-align: right;
			cursor: default;
			font-size: 66.67%;

			strong {
				@include heading-font;
				display: block;
				padding: 0 divide($line-height-standard, 3) * 1rem;
				color: $color-mythic-dim;
				text-transform: uppercase;
			}
		}
		.deck-menu-toggler {
			display: none !important;
		}
		.deck-menu {
			.hover-shield {
				height: auto;
				position: static;
				padding-bottom: 0;
			}
			.up-pointing-triangle {
				display: block;
				position: static;

				&::before {
					display: none;
				}
			}
			ul {
				border: 0;
				box-shadow: none;
				overflow: visible;
			}
			li {
				text-align: right;
			}
		}
	}
}
@media (max-width: ($min-width-app*.4)) {
	.app-header {
		height: $height-app-header-short;

		.by-iristorm {
			display: none;
		}
	}
}
