:root {
	--header-height: #{$height-app-header-short};
	--header-top: calc(var(--header-height) * -1); // Multiplying a value by -1 is the only way to get a negative value with CSS custom properties.
}
.app-header {
	background: $color-mythic-dim;
	color: lighten($color-mythic-dim, 33.33%);
	border: solid darken($color-mythic-dim, 12.5%);
	border-width: 1px 0;
	z-index: index($layers, app-header);
	height: var(--header-height);
	box-shadow: 0 1px 0 rgba(#fff, .0833);
	transition: all $transition-duration-standard ease;
	// `top` property gets set by JavaScript in AppHeader.vue

	&.sticky {
		position: sticky;
		left: 0;
		right: 0;
		box-shadow: 0 0 divide($lhse, 3) rgba(#000, .6667);
	}
	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}
	.app-title {
		@include heading-font;
		display: flex;
		align-items: flex-end;
		font-size: 150%;
		line-height: 1;
		white-space: nowrap;

		a {
			color: $color-link-focus;

			&:hover,
			&:focus {
				color: #fff;
			}
			&:active {
				color: saturate($color-link, 100%);
			}
		}
	}
	h1 {
		margin: 0 $lhse*.5 0 0;
		font-size: inherit;
	}
	.by-iristorm {
		font-size: 60%;
		margin: ($lhse*.0625) 1em;
		margin-left: 0;
	}
	.app-menu-toggler {
		display: none;
	}
	.app-menu {
		width: 100%;
		max-width: max-content;

		> .hover-shield {
			display: none;
		}
		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: grid;
			grid-template-columns: repeat(4, minmax(max-content, 1fr));
			gap: $lhse*.5;
			align-items: center;
		}
	}
	.header-menu-item {
		@include button;
		white-space: nowrap;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		font-size: 87.5%;
		min-height: $lhse*1.5;
		display: flex;
		align-items: center;
		justify-content: center;

		&.attention:not(:disabled) {
			animation: flash .2s linear;
			animation-iteration-count: 4;
			animation-direction: alternate;

			@keyframes flash {
				33.33% {
					filter: brightness(100%);
				}
				100% {
					filter: brightness(150%);
				}
			}
		}
	}
	.open-deck-heading {
		display: none;
	}
	.deck-menu-toggler {
		position: relative;
		z-index: index($layers, app-menu-toggler);

		span {
			font-size: 75%;
			margin-left: .5ch;
		}
	}
	.deck-menu {
		position: relative;
		z-index: index($layers, above-overlay);

		.hover-shield {
			position: absolute;
			margin-top: -$lhse*1.2;
			width: 100%;
			height: 100%;
			border-radius: $border-radius-group;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			background: $color-background-alt;
		}
		ul {
			@include popup-menu-list;
			border-top-left-radius: 0;
			position: absolute;
			top: $lhse*1.3333;
			max-height: calc(100vh - #{$height-app-header-short + $lhse*.5});
		}
		a {
			&:hover,
			&:focus,
			&:active {
				.deck-menu-deck-colors {
					.mana-symbol {
						opacity: 1;
					}
				}
			}
		}
	}
	.mouseover-area {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.deck-menu-deck-name {
		font-weight: $font-weight-semibold;
		max-width: 10em;
		width: max-content;
		line-height: 1;
		padding: $lhse*.0833 0 $lhse*.1667;
	}
	.deck-menu-deck-colors {
		display: flex;
		font-size: 66.67%;
		margin-left: .5em;
		min-width: $lhse*2;
		justify-content: center;
		align-items: center;

		.mana-symbol {
			display: flex;
			cursor: inherit;
			box-shadow: 0 0 0 1px rgba(#000, .125);
			opacity: $opacity-mana-symbols;
		}
	}
}

@media (max-width: 1080px) {
	.app-header {
		.app-title {
			font-size: 125%;
		}
		.header-menu-item {
			font-size: 80%;
		}
		.deck-menu {
			.hover-shield {
				margin-top: -$lhse*1.0417;
			}
		}
	}
}
@media (max-width: $min-width-app) {
	:root {
		--header-height: #{$height-app-header-tall};
	}
	.app-header {
		.wrap {
			flex-wrap: wrap;
			gap: divide($lhse, 3);
			align-content: center;
			justify-items: center;
		}
		.app-title {
			margin: 0 auto;
		}
		.app-menu-positioner {
			width: 100%;
		}
		.app-menu {
			max-width: $max-width-content*.75;
			margin: 0 auto;
		}
	}
}
@media (max-width: 512px) { // This max-width must match JavaScript method mobileView() in AppHeader.vue.
	:root {
		--header-height: #{$height-app-header-medium};
	}
	.app-header {
		padding-top: $lhse*.25;
		padding-bottom: $lhse*.25;

		.wrap {
			display: grid;
			grid-template-columns: auto auto;
			justify-content: space-between;
			grid-gap: $lhse*.5;
			position: relative;
		}
		.app-title {
			flex-wrap: wrap;
			justify-content: flex-end;
			width: min-content;
			margin: 0;
		}
		h1 {
			margin: 0;
		}
		.by-iristorm {
			margin-right: $lhse*.125;
			margin-top: $lhse*.125;
		}
		.app-menu-positioner {
			position: relative;	
			z-index: index($layers, app-menu-toggler);
			margin-top: -$lhse*1.125;
		}
		.app-menu-toggler {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			font-size: 87.5%;
			z-index: 1;
		}
		.app-menu {
			position: absolute;
			top: $lhse*1.8;
			right: 0;
			width: auto;

			> .hover-shield {
				display: block;
				width: ($lhse*.875)*3.375;
				height: $lhse*1.5;
				position: absolute;
				top: -$lhse*1.5;
				right: 0;
				margin: 0;
				background: $color-background-alt;
				border-radius: $border-radius-group;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}
			> ul {
				@include popup-menu-list;
				display: block;
				border-top-right-radius: 0;
				margin-top: -$lhse*.5;
				position: relative;
				max-height: calc(100vh - #{$height-app-header-medium + $lhse*.25});
			}
		}
		.open-deck-heading {
			display: block;
			cursor: default;
			color: rgba(#fff, .8333);
			margin-left: $lhse*.375;

			strong {
				@include heading-font;
				font-size: 75%;
				color: inherit;
				text-transform: uppercase;
				text-shadow: $text-shadow-over-light-bg;
			}
		}
		.deck-menu-toggler {
			display: none !important;
		}
		.deck-menu {
			background: desaturate(darken($color-background-alt, 25%), 25%);
			padding: 0 0 $lhse*.3333 $lhse*.3333;
			
			.hover-shield {
				display: none;
			}
			ul {
				box-shadow: none;
				border-radius: $border-radius-group*.5;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				position: static;
				overflow: hidden;
				max-height: 100%;
			}
		}
	}
}
