*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font: 20px/1.5 $font-family-standard;
	background: linear-gradient(
		lighten($color-content-bg, 8.33%) 0%,
		adjust_hue(darken($color-content-bg, 8.33%), 30deg) 100%
	) fixed $color-content-bg;
	color: $color-text;
}
#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	position: relative;
}
.wrap {
	width: $width-site;
	margin: 0 auto;
}
main {
	width: $width-site;
	margin: 0 auto;
	height: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contents,
.deck {
	position: relative;
	z-index: 1;
	width: 100%;
}
.contents {
	padding: .75em;
}
.deck {
	article {
		padding: .75em 1.5em;
		position: relative;
	}
}
.card-display-scroll-view {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: .75em;
	border-top: 2px solid darken($color-text, 33.33%);
	padding: .75em 0;
}
.deck-main {
	grid-column: 3 / 8;
}
.bg-overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	transition: opacity .25s ease-out;
	background: rgba(lighten(#000, 12.5%), .5);
	z-index: 3;
}
.overlay-enter,
.overlay-leave-to {
  opacity: 0;
}