*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font: 20px/1.5 $font-family-standard;
	background: linear-gradient(
		lighten($color-content-bg, 12.5%) 0%,
		darken($color-content-bg, 12.5%) 100%
	) fixed $color-content-bg;
	color: $color-text;
}
#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	position: relative;
}
.wrap {
	max-width: $width-site;
	margin: 0 auto;
}
main {
	width: $width-site;
	margin: 0 auto;
	height: 100%;
	flex-grow: 1;
}
.contents,
.deck {
	position: relative;
	z-index: 1;
}
.contents {
	padding: .75em;
}
.deck {
	article {
		padding: .75em 1.5em;
		position: relative;
	}
}
.deck-main {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: .75em;
}
.bg-overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	transition: opacity .5s ease;
	background: rgba(lighten(#000, 12.5%), .3820); 
	z-index: 3;
	cursor: pointer;
}
