$height-card-list-controls: $lhse * 1.25;

.card-list-controls {
	grid-column: 3 / 8;
	display: flex;
	justify-content: space-between;

	> * {
		background: $color-group-bg;
		padding: $lhse/2 $lhse/2;
		display: flex;
		align-items: center;
		border: $border-sections;
		border-right: 0;
	}
	label {
		display: block;
		font-size: 83.33%;
		padding-bottom: $lhse/4;
		margin-left: .375em;
	}
	button {
		white-space: nowrap;
	}
}
.card-adder {
	align-items: center;
	flex-grow: 1;
	border-bottom-left-radius: $border-radius-group;

	form {
		display: grid;
		grid-template-columns: 3fr minmax(min-content, 1fr);
		width: 100%;
	}
	label {
		grid-column: span 2;
	}
	input {
		border-radius: $border-radius-button;
		padding-right: .75em;
		padding-left: .375em;
		height: $height-card-list-controls;

		&.attention {
			@keyframes pulsate-input {
				100% {
					background: #fff;
					border-color: $color-mythic-orange;
					border-style: solid;
					box-shadow: 0 0 1em 1px $color-mythic-orange;
				}
			}
			animation-name: pulsate-input;
			animation-duration: .25s;
			animation-iteration-count: 40;
			animation-direction: alternate;
			animation-timing-function: ease-in;
		}
	}
	button {
		margin-left: -$lhse/2;
		height: $height-card-list-controls;
	}
	.loading-indicator {
		animation: pulse .5s ease-out;
		animation-direction: alternate-reverse;
		animation-iteration-count: infinite;
		color: lighten(desaturate($color-mythic-complement, 37.5%), 25%);
		font-style: italic;
		font-size: 112.5%;
		width: 100%;
		text-align: center;
		cursor: default;

		@keyframes pulse {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}
}
.card-sorter {
	fieldset {
		padding: 0;
		border: 0;
		margin: 0;
		transition: opacity $transition-duration-standard ease;

		&:disabled {
			opacity: .25;

			select {
				opacity: 1;
				cursor: not-allowed;
			}
		}
	}
	select {
		height: $height-card-list-controls;
	}
	option[value=""] {
		font-style: italic;
	}
}
.deck-actions {
	grid-gap: $lhse/2;
	display: flex;
	flex-direction: column;
	border-right: $border-sections;
	border-bottom-right-radius: $border-radius-group;

	button {
		font-size: 83.33%;
		width: 100%;
	}
}

@media (max-width: $width-site-breakpoint) {
	.card-list-controls {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.card-adder {
		grid-column: span 2;
		border-right: $border-sections;
		border-bottom-width: 0;
		border-bottom-left-radius: 0;
	}
	.card-sorter {
		justify-content: center;
		border-bottom-left-radius: $border-radius-group;
	}
	.deck-actions {
		flex-direction: row;

		button {
			margin-right: $lhse/3;
			margin-left: $lhse/3;
		}
	}
}
