.card-display {
	grid-column: span 2;
	height: 534px; // Actual height of card as it appears in the app.
	position: sticky;
	top: $lhse;
	filter: drop-shadow(-1px 2px 2px rgba(#000, .5));
	
	a {
		position: absolute;
		display: block;
		backface-visibility: hidden;
		will-change: transform;
		mask-image: url('/img/card-mask.svg');
		width: 100%;
		height: auto;
		box-shadow: inset 0 0 0 16px #000;
		background: desaturate(darken($color-frame-generic, 25%), 25%);

		&.W {
			background: desaturate(darken($color-frame-white, 12.5%), 66.67%);
		}
		&.U {
			background: desaturate(darken($color-frame-blue, 25%), 25%);
		}
		&.B {
			background: desaturate(darken($color-frame-black, 25%), 25%);

			.loading-indicator {
				color: #fff;
			}
		}
		&.R {
			background: desaturate(darken($color-frame-red, 25%), 25%);
		}
		&.G {
			background: desaturate(darken($color-frame-green, 25%), 16.67%);
		}
		&.multicolor {
			background: desaturate(darken($color-frame-multicolor, 25%), 33.33%);
		}
	}
	.loading-indicator {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		animation: fade-in 2s ease;
		position: absolute;
		top: 0;
		font-style: italic;
		color: #000;
		font-size: 112.5%;
		backface-visibility: hidden;

		@keyframes fade-in {
			0% {
				opacity: 0;
			}
			50% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}
	img {
		display: block;
		width: 100%;
		height: auto;
		position: relative;
	}
}
.card-browse-enter-active {
	z-index: 1;
	animation: card-fan-in .5s ease;
}
.card-browse-leave-active {
	animation: overshadowed .5s ease-out;
}
@keyframes card-fan-in {
	0% {
		opacity: 0;
		transform: rotate(-5.625deg) translateX(-$lhse*4) translateY(-$lhse/2) scale(1.02);
	}
	37.5% {
		opacity: 1;
	}
}
@keyframes overshadowed {
	0% {
		filter: brightness(100%);
	}
	100% {
		filter: brightness(25%);
	}
}