$box-shadow-card-button: 0 -1px $lhse/3 3px rgba(#000, .3333);

@mixin box-shadow-hover-card-button($color) {
	box-shadow:
		0 0 0 1px rgba(#000, .375),
		0 0 0 3px $color,
		0 1px 1px 3px rgba(#000, .25),
		$box-shadow-card-button;
}
@mixin long-card-buttons {
	.card-list {
		.list-headings {
			display: flex;
		}
		.card-button {
			display: flex;
			height: $lhse;

			.rarity {
				margin-right: -1px;
			}
		}
		.card-label-group {
			width: 50%;
			padding: 0 $lhse/5;

			&:last-of-type {
				border-top: none;
				margin-top: 0;
			}
		}
	}
}
@mixin condensed-card-buttons {
	.card-list {
		.list-headings {
			display: none;
		}
		.card-button {
			display: block;
			height: auto;

			.rarity {
				margin-right: 0;
			}
		}
		.card-label-group {
			width: 100%;
			padding: 0 $lhse/3;

			&:last-of-type {
				border-top: 1px solid rgba(#000, .25);
				margin-top: 2px;
			}
		}
	}
}

@include long-card-buttons;

.card-list {
	margin-bottom: $lhse/4;
	min-height: $lhse*8;
	display: flex;
	flex-direction: column;
	
	&.no-cards {
		justify-content: center;
		text-align: center;
		color: #fff;
		text-shadow: $text-shadow-over-light-bg;
	}
	h3 {
		@include screen-readers-only;
	}
	.card-label-group {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:last-of-type {
			padding-left: (1/48) * 100%;
		}
	}
	.list-headings,
	li {
		.qty {
			width: 4.25rem;
			margin-right: -$lhse/4;
		}
	}
	.list-headings {
		@include heading-font;
		display: flex;
		text-shadow: $text-shadow-over-light-bg;

		strong {
			display: block;
			font-size: $lhse/2;
			line-height: 1;
			margin-bottom: $lhse/4;
			text-transform: uppercase;
			color: $color-text-brighter;
		}
		.rarity {
			margin-right: -$lhse/3;
		}
		.qty {
			text-align: center;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
	}
	li {
		display: flex;
		margin: 2px 0;
		padding: 0;
		transition: transform .5s ease; // For card sorting
		position: relative;

		&:hover,
		&:focus-within {
			.card-button {
				filter: contrast(112.5%);
				transition-duration: 0s;
				transition-property: filter, box-shadow, background, border-color;
				border-top-color: rgba(#fff, .5);
				border-right-color: rgba(#fff, .25);
				border-bottom-color: rgba(#000, .5);
				border-left-color: rgba(#000, .25);
				background: darken($color-frame-generic, 12.5%);
				box-shadow: $box-shadow-card-button;

				&.land {
					background: darken($color-frame-land, 16.67%);
				}
				&.white {
					background: lighten($color-mana-white, 12.5%);
				}
				&.blue {
					background: darken($color-frame-blue, 12.5%);
				}
				&.black {
					background: darken($color-frame-black, 40%);
					color: desaturate(lighten($color-frame-black, 20%), 50%);
				}
				&.red {
					background: darken($color-frame-red, 8.33%);
				}
				&.green {
					background: darken($color-frame-green, 16.67%);
				}
				&.multicolor {
					background: desaturate(darken($color-frame-multicolor, 16.67%), 8.33%);
				}
			}
			&:hover {
				z-index: index($layers, card-list-item-hover); // To make a hovered card button's glow overlap a focused-within card button's glow positioned directly below the other button. 
			}
			.qty {
				input {
					transition: none;
					color: $color-link;
				}
			}
		}
		&:focus-within {
			z-index: index($layers, card-list-item-focus-within);
			
			.card-button {
				@include box-shadow-hover-card-button($color-frame-generic);
				
				&.land {
					@include box-shadow-hover-card-button($color-frame-land);
				}
				&.white {
					@include box-shadow-hover-card-button(lighten($color-mana-white, 25%));
				}
				&.blue {
					@include box-shadow-hover-card-button(darken($color-mana-blue, 37.5%));
				}
				&.black {
					@include box-shadow-hover-card-button(darken($color-mana-black, 56.25%));
				}
				&.red {
					@include box-shadow-hover-card-button(desaturate(darken($color-mana-red, 33.33%), 25%));
				}
				&.green {
					@include box-shadow-hover-card-button(darken($color-mana-green, 37.5%));
				}
				&.multicolor {
					@include box-shadow-hover-card-button(saturate($color-mana-hybrid, 12.5%));
				}
			}
		}
		&:first-child {
			margin-top: 0;
		}
		&.gap-after {
			margin-bottom: $lhse/3;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.name,
		.mana,
		.type {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.mana,
		.rarity {
			margin-left: .5ch;
		}
		.name {
			margin: 0;
			font-size: 100%;
			line-height: 1.375;
			min-width: 33.33%;
			text-align: left;
			color: inherit;
		}
		.mana {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			font-size: 125%;
			overflow: visible;
		}
		.type {
			@include heading-font;
			font-size: 83.33%;
			line-height: 1.5;
		}
		.qty {
			display: flex;
			align-items: center;
			line-height: 1;
	
			> span {
				margin: 0 2px 0 .5ch;
				color: $color-text;
			}
			label {
				@include screen-readers-only;
			}
			input {
				color: $color-text-brighter;
				background: transparent;
				border: 0;
				font-size: $lhse*.875;
				width: 1.5em;
				text-align: center;
				outline: 1px solid rgba($color-mythic-orange, 0);
				transition: all $transition-duration-standard ease-out;
				padding: 0;
				font-weight: $font-weight-semibold;
				line-height: 1;
				text-shadow: $text-shadow-over-light-bg;

				&:hover,
				&:focus {
					background: rgba(#000, .5);
					color: #fff;
					transition-duration: 0s;
				}
				&:focus {
					outline: 2px solid $color-mythic-orange;
				}
			}
		}
	}
	.card-button {
		background: $color-frame-generic;
		margin: 0;
		padding: 0;
		border-radius: $border-radius-button;
		border: 2px solid transparent;
		text-shadow: none;
		transition: all $transition-duration-standard ease;
		color: $color-text-card-button;
		will-change: transform;
		filter: contrast(100%);
		width: 100%;
		align-items: center;
		box-shadow: -0.5px 1px 1px 1px rgba(#000, .25);

		&:active {
			transform: scale(.995) translate(0, .5px);
			transition-duration: 0s;
		}
		&.land {
			background: $color-frame-land;
		}
		&.white {
			background: $color-frame-white;
		}
		&.blue {
			background: $color-frame-blue;
		}
		&.black {
			background: $color-frame-black;
		}
		&.red {
			background: $color-frame-red;
		}
		&.green {
			background: $color-frame-green;
		}
		&.multicolor {
			background: $color-frame-multicolor;
		}
	}
}

@media (max-width: $width-site-breakpoint) {
	.card-list {
		li {
			font-size: 83.33%;
		}
	}
}
@media (max-width: $width-site-breakpoint-tablet) {
	@include condensed-card-buttons();
}
@media (max-width: ($min-width-site * .8)) {
	@include long-card-buttons();
}
@media (max-width: ($min-width-site * .6667)) {
	@include condensed-card-buttons();
}
@media (pointer: coarse) {
	.card-list {
		.card-button {
			min-height: 35px; // This is 80% of the WCAG's AAA recommendation for button heights.
		}
	}
}
