$height-card-list-controls: $lhse * 1.5;

@mixin clc-single-layer {
	.card-list-controls {
		display: grid;
		grid-template-columns: minmax(min-content, 3fr) minmax(min-content, 1fr) minmax(min-content, 1fr);

		> div {
			justify-content: center;
		}
	}
	.card-adder {
		border-bottom: 0;
		padding-right: 0;
		padding-left: 0;

		form {
			padding: 0 3.125%;
		}
		label {
			grid-column: span 2;
		}
	}
	.card-sorter {
		border-left: $border-sections;

		fieldset {
			display: block;
		}
	}
	.deck-actions {
		flex-direction: column;
	}
}
@mixin clc-double-layer {
	.card-list-controls {
		display: flex;
		flex-wrap: wrap;

		> div {
			height: $lhse*2.5;
		}
	}
	.card-adder {
		grid-column: span 2;
		border-bottom: $border-sections;
		width: 100%;
		
		form {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		label {
			margin: 0;
			padding: 0 divide($lhse, 3) 0 0;
			width: auto;
		}
		input {
			max-width: 16em;
			width: 100%;
		}
	}
	.card-sorter,
	.deck-actions {
		width: 50%;
		
		label {
			margin: 0;
			padding: 0 divide($lhse, 3) 0 0;
		}
	}
	.card-sorter {
		border-left: 0;

		fieldset {
			display: flex;
			align-items: center;
		}
	}
	.deck-actions {
		form {
			display: flex;
			align-items: center;
		}
		label {
			white-space: nowrap;			
		}
	}
}
@mixin clc-triple-layer {
	.card-list-controls {
		> div {
			min-height: $lhse*3.3333;
		}
		label {
			padding: 0 0 divide($lhse, 3) 0;
			margin-right: .375em;
			margin-left: .375em;
		}
	}
	.card-adder {
		form {
			display: grid;
			padding: 0;
		}
		input {
			width: 100%;
			max-width: 100%;
		}
	}
	.card-sorter {
		fieldset {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	.deck-actions {
		form {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}

@include clc-single-layer;

.card-list-controls {
	grid-column: 3 / 8;
	justify-content: space-between;
	border-radius: $border-radius-group;
	overflow: hidden;
	
	> div {
		background: $color-group-bg;
		padding: $lhse*.6667;
		display: flex;
		align-items: center;
		height: $lhse*3.3333;
	}
	label {
		display: block;
		font-size: 83.33%;
		padding-bottom: $lhse*.3333;
		margin-right: .375em;
		margin-left: .375em;
		color: $color-text-brighter;
	}
	option[value=""] {
		font-style: italic;
	}
}
.card-adder {
	align-items: center;
	flex-grow: 1;
	
	form {
		display: grid;
		grid-template-columns: 3fr minmax(min-content, 1fr);
		width: 100%;
	}
	input {
		border-radius: $border-radius-button;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		height: $height-card-list-controls;
		font-weight: $font-weight-semibold;

		&.attention {
			@keyframes pulsate-input {
				100% {
					background: #fff;
					border-color: $color-mythic-orange;
					border-style: solid;
					box-shadow: 0 0 1em 1px $color-mythic-orange;
				}
			}
			animation-name: pulsate-input;
			animation-duration: .25s;
			animation-iteration-count: 40;
			animation-direction: alternate;
			animation-timing-function: ease-in;
		}
	}
	button {
		height: calc(#{$height-card-list-controls} + 2px);
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		white-space: nowrap;
	}
	.loading-indicator {
		animation: pulse .5s ease-out;
		animation-direction: alternate-reverse;
		animation-iteration-count: infinite;
		color: lighten(desaturate($color-mythic-complement, 37.5%), 25%);
		font-style: italic;
		font-size: 112.5%;
		width: 100%;
		text-align: center;
		cursor: progress;
		
		@keyframes pulse {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}
}
.card-sorter {
	fieldset {
		padding: 0;
		border: 0;
		margin: 0;
		transition: opacity $transition-duration-standard ease;

		&:disabled {
			opacity: .25;

			select {
				opacity: 1;
				cursor: not-allowed;
			}
		}
	}
	select {
		height: $height-card-list-controls;
		font-weight: $font-weight-semibold;
	}
}
.deck-actions {
	border-left: $border-sections;

	select {
		width: 100%;
		height: $height-card-list-controls;
		font-weight: $font-weight-semibold;
	}
}

@media (max-width: ($width-app-breakpoint * .875)) {
	@include clc-double-layer;
}
@media (max-width: $width-app-breakpoint-tablet) {
	@include clc-triple-layer;
}
@media (max-width: ($width-app-breakpoint-tablet * .75)) {
	.card-adder {
		form {
			padding: 0 3.125%;
		}
	}
}
@media (max-width: ($min-width-app * .5)) {
	.card-adder {
		form {
			padding: 0;
		}
		button {
			min-width: 0;

			span {
				display: none;
			}
		}
	}
	.card-sorter,
	.deck-actions {
		width: 100%;
	}
	.card-sorter {
		border-bottom: $border-sections;
	}
	.deck-actions {
		border-left-width: 0;
	}
}
