.card-list-controls {
	grid-column: 3 / 8;
	display: flex;
	justify-content: space-between;

	> * {
		background: $color-group-bg;
		padding: $lhse/2 $lhse/2;
		display: flex;
		align-items: center;
		border: $border-sections;
		border-right: 0;
		
		&:first-child {
			border-bottom-left-radius: $lhse/2;
		}
		&:last-child {
			border-right: $border-sections;
			border-bottom-right-radius: $lhse/2;
		}
	}
	label {
		display: block;
		font-size: 83.33%;
		padding-bottom: $lhse/4;
		margin-left: .375em;
	}
}
.card-adder {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	width: 100%;
	
	label {
		grid-column: span 3;
	}
	input {
		grid-column: span 4;
		width: 100%;
		border-radius: $border-radius-button;
		padding-right: .75em;
		padding-left: .375em;
		
		&.attention {
			@keyframes pulsate-input {
				100% {
					background: #fff;
					border-color: $color-mythic-orange;
					border-style: solid;
					box-shadow: 0 0 1em 1px $color-mythic-orange;
				}
			}
			animation-name: pulsate-input;
			animation-duration: .25s;
			animation-iteration-count: 40;
			animation-direction: alternate;
			animation-timing-function: ease-in;
		}
	}
	button {
		grid-column: span 1;
		margin-left: -$lhse/2;
		line-height: $line-height-standard*.75;
	}
}
.card-sorter {
	display: block;

	select {
		padding: $lhse/4 .25em;
		border-radius: $border-radius-button;
	}
}
.deck-actions {
	grid-gap: $lhse/2;

	button {
		font-size: 83.33%;
	}
}