@mixin box-shadow-hover-card-button($color) {
	box-shadow:  0 0 $lhse/2 $color, 0 0 0 2px $color;
}

.card-list {
	border: $border-sections;
	border-bottom: 0;
	background: $color-group-bg;
	padding: $lhse/4;
	min-height: $lhse*7.5;
	display: flex;
	flex-direction: column;

	&.no-cards {
		justify-content: center;
		text-align: center;
	}
	h3 {
		@extend .screen-readers-only
	}
	.list-headings
	.card-button {
		display: flex;
	}
	.card-label-group {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 $lhse/5;

		&:last-of-type {
			padding-left: $lhse/2;
		}
	}
	.list-headings,
	li {
		.qty {
			width: 4.5rem;
			margin-right: -$lhse/4;
		}
	}
	.list-headings {
		@include heading-font;
		display: flex;

		strong {
			display: block;
			font-size: $lhse/2;
			line-height: 1;
			margin-bottom: $lhse/8;
			text-transform: uppercase;
			color: $color-text-brighter;
		}
		.qty {
			text-align: center;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
	}
	li {
		display: flex;
		margin: 2px 0;
		transition: all .3333s ease; // For card sorting
		position: relative;

		&:hover,
		&:focus-within {
			z-index: 1;

			.card-button {
				@include box-shadow-hover-card-button(
					desaturate(darken($color-mana-generic, 12.5%), 25%)
				);
				filter: contrast(116.67%);
				transition-duration: 0s;
				transition-property: filter;
	
				&.white {
					@include box-shadow-hover-card-button(
						$color-mana-white
					);
				}
				&.blue {
					@include box-shadow-hover-card-button(
						saturate(darken($color-mana-blue, 50%), 25%)
					);
				}
				&.black {
					@include box-shadow-hover-card-button(
						saturate(darken($color-mana-black, 50%), 25%)
					);
				}
				&.red {
					@include box-shadow-hover-card-button(
						saturate(darken($color-mana-red, 41.67%), 25%)
					);
				}
				&.green {
					@include box-shadow-hover-card-button(
						saturate(darken($color-mana-green, 50%), 25%)
					);
				}
				&.multicolor {
					@include box-shadow-hover-card-button(
						saturate(darken($color-mana-hybrid, 33.33%), 25%)
					);
				}
			}
			&:hover {
				z-index: 2;
			}
			.qty {
				input {
					transition: none;
					color: $color-mythic-orange;
				}
			}
		}
		.name,
		.mana,
		.type {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.mana,
		.rarity {
			margin-left: .5ch;
		}
		.name {
			margin: 0;
			font-size: 100%;
			color: #000;
			line-height: 1.375;
			min-width: 33.33%;
			text-align: left;
		}
		.mana {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			font-size: 125%;
		}
		.type {
			@include heading-font;
			font-size: 83.33%;
			line-height: 1.5;
		}
		.rarity {
			border-radius: $border-radius-button;
			width: $lhse;
			min-width: $lhse; // Needed so that the .rarity element doesn't get squished by a very long .type element.
			text-align: center;
			box-shadow: inset 0 0 1px 1px rgba(#000, .5);
			margin-right: -.167em;
			font: bold 75%/#{$line-height-standard*.75} sans-serif;
			padding: 1px 0;
			color: #000;
			text-shadow: 0 0 1.5px #fff;

			&.C {
				background: #000;
				box-shadow: inset 0 0 0 1.5px #eee;
				color: #eee;
				text-shadow: none;
			}
			&.U {
				background: linear-gradient(-60deg,
					darken($color-rarity-silver, 25%),
					lighten($color-rarity-silver, 25%),
					darken($color-rarity-silver, 25%)
				) $color-rarity-silver;
			}
			&.R {
				background: linear-gradient(-60deg,
					darken($color-rarity-gold, 25%),
					lighten($color-rarity-gold, 25%),
					darken($color-rarity-gold, 25%)
				) $color-rarity-gold;
			}
			&.M {
				background: linear-gradient(-60deg,
					darken($color-mythic-orange, 6.25%),
					saturate(lighten($color-mythic-lighter, 12.5%), 25%),
					darken($color-mythic-orange, 6.25%)
				) $color-mythic-orange;
				text-shadow: 0 0 1.5px saturate(lighten($color-mythic-lighter, 25%), 25%);
			}
			&.S {
				background: linear-gradient(-60deg,
					darken($color-rarity-special, 25%),
					saturate(lighten($color-rarity-special, 25%), 25%),
					darken($color-rarity-special, 25%)
				) $color-rarity-special;
				color: #fff;
				text-shadow: 0 0 1.5px #000;
			}
		}
		.qty {
			display: flex;
			align-items: center;
			line-height: 1;
	
			> span {
				margin: 0 2px 0 .5ch;
				color: darken($color-text, 16.67%);
			}
			label {
				@extend .screen-readers-only;
			}
			input {
				color: $color-text;
				background: transparent;
				border: 0;
				font-size: $lhse;
				width: 1.5em;
				text-align: center;
				outline: 1px solid rgba($color-mythic-orange, 0);
				transition: all $transition-duration-standard ease-out;
				padding: 0;
				font-weight: $font-weight-semibold;
				line-height: 1;
	
				&:hover,
				&:focus {
					background: rgba(#000, .5);
					color: #fff;
					transition-duration: 0s;
				}
				&:focus {
					outline: 2px solid $color-mythic-orange;
				}
			}
		}
	}
	.card-button {
		background: $color-frame-generic;
		margin: 0;
		padding: 0;
		border-radius: $border-radius-button;
		border: 3px outset $color-frame-generic;
		border-top-color: rgba(#fff, .5);
		border-right-color: rgba(#fff, .375);
		border-bottom-color: rgba(#000, .375);
		border-left-color: rgba(#000, .25);
		box-shadow: none;
		text-shadow: none;
		transition: all $transition-duration-standard ease;
		color: #000;
		will-change: transform;
		filter: contrast(100%);
		width: 100%;
		display: flex;
		align-items: center;
		
		&:active {
			transform: scale(.995) translate(0, .5px);
			transition-duration: 0s;
		}
		&.white {
			background: $color-frame-white;
		}
		&.blue {
			background: $color-frame-blue;
		}
		&.black {
			background: $color-frame-black;
		}
		&.red {
			background: $color-frame-red;
		}
		&.green {
			background: $color-frame-green;
		}
		&.multicolor {
			background: $color-frame-multicolor;
		}
	}
}

@media (max-width: $width-site-breakpoint) {
	.card-list {
		li {
			.name {
				font-size: 87.5%;
			}
			.mana {
				font-size: 112.5%;
			}
			.type {
				font-size: 75%;
			}
		}
	}
}
@media (max-width: $width-site-breakpoint-tablet) {
	.card-list {
		.list-headings {
			display: none;
		}
		.card-button {
			display: block;
			
			.card-label-group {
				width: 100%;
				padding: 0 $lhse/3;

				&:last-of-type {
					border-top: 1px solid rgba(#000, .25);
					margin-top: 2px;
				}
			}
		}
	}
}
