.card-display {
	grid-column: span 2;
	height: 534px; // Actual height of card as it appears in the app.
	position: sticky;
	top: $lhse;
	filter: drop-shadow(-1px 2px 2px rgba(#000, .5));
	
	a {
		position: absolute;
		display: block;
		backface-visibility: hidden;
		will-change: transform;
		mask-image: url('/img/card-mask.svg');
		background: #000;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}
.card-browse-enter-active {
	z-index: 1;
	animation: card-fan-in .5s ease;
}
.card-browse-leave-active {
	animation: overshadowed .5s ease-out;
}
@keyframes card-fan-in {
	0% {
		opacity: 0;
		transform: rotate(-5.625deg) translateX(-$lhse*4) translateY(-$lhse/2) scale(1.03);
	}
	37.5% {
		opacity: 1;
	}
}
@keyframes overshadowed {
	0% {
		filter: brightness(100%);
	}
	100% {
		filter: brightness(25%);
	}
}