.content-box {
	background: $color-group-bg;
	border: $border-sections;
	border-radius: $border-radius-group;
	padding: $lhse/2 $lhse;
	margin: $lhse;
	max-width: 64ch;
	min-width: 0;

	section {
		&::after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
.page-not-found {
	img {
		display: block;
		margin: $lhse/2 auto $lhse;
		width: $lhse*16;
		height: auto;
		padding: $lhse/3;
		background: darken($color-group-bg, 8.33%);
	}
	h2 {
		text-align: center;
	}
	small {
		font-style: italic;
	}
}
.deck-deleted {
	p {
		font-size: 116.67%;
		text-align: center;
	}
}
.screenshot {
	border: 2px solid darken($color-group-bg, 6.25%);
	margin: 0 auto;
	box-sizing: content-box;
}
.float-left,
.float-right {
	max-width: 40%;
	position: relative;
}
img {
	&.float-left,
	&.float-right {
		will-change: transform; // Makes floated images look less blurry in Chrome, even when they're at their original size.
	}
}
.float-left {
	float: left;
	margin-right: 1em;
}
.float-right {
	float: right;
	margin-left: 1em;
}

@media (max-width: $width-mobile-breakpoint) {
	.content-box {
		margin: 0;
		border: 0;
		border-radius: 0;
		padding-right: 6.25%;
		padding-left: 6.25%;
	}
}
