.content-box {
	background: $color-group-bg;
	border-radius: $border-radius-group;
	padding: $lhse $lhse*1.5 $lhse*.5;
	margin: $lhse $lhse*1.5;
	max-width: $max-width-content;
	min-width: 0;

	section {
		&::after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
.page-not-found {
	h2 {
		text-align: center;
		margin-bottom: $lhse*.5;
	}
}
.screenshot {
	border: $border-image;
	margin: 0 auto;
}
.float-left,
.float-right {
	max-width: 40%;
	position: relative;
}
img {
	&.float-left,
	&.float-right {
		will-change: transform; // Makes floated images look less blurry in Chrome, even when they're at their original size.
	}
}
.float-left {
	float: left;
	margin-right: 1em;
}
.float-right {
	float: right;
	margin-left: 1em;
}

@media (max-width: ($min-width-app*.875)) {
	.content-box {
		margin: $lhse*.5;
	}
}
@media (max-width: ($min-width-app*.75)) {
	.content-box {
		padding-right: $lhse*.75;
		padding-left: $lhse*.75;
	}
}
@media (max-width: $width-mobile-breakpoint) {
	.content-box {
		margin: 0;
		border: 0;
		border-radius: 0;
	}
}
@media (max-width: 24em) {
	.content-box {
		p,
		li {
			hyphens: auto;
		}
	}
}
