.deck-control-panel {
	border-radius: $border-radius-group;
	background: $color-group-bg;
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	min-height: $height-deck-header-component;

	&.viewing-controls {
		margin-bottom: divide($lhse, 3);
		grid-template-columns: 1fr 1fr;
		transition: border-radius $transition-duration-standard ease;

		.sideboard-visible & {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	&.action-controls {
		display: grid;
	}
	section {
		padding: $lhse*.25 $lhse*.5;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	label,
	h3 {
		display: block;
		margin-top: -$lhse*.125;
		margin-right: divide(1em, 3);
		margin-left: divide(1em, 3);
		color: $color-text;
		font: $font-weight-semibold #{83.33%}/#{1} $font-family-standard;
	}
	.radio-fieldset {
		label {
			@include heading-font;
			@include label-text-style;
			margin-top: 0;
		}
	}
}
.card-sorter {
	fieldset {
		padding: 0;
		border: 0;
		margin: 0;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		width: min-content;

		label {
			white-space: nowrap;
			padding-bottom: $lhse*.25;
		}
		&:disabled {
			opacity: divide(1, 3);
			filter: saturate(.5);

			select {
				opacity: 1;
				cursor: not-allowed;
			}
		}
	}
	select {
		height: $height-deck-control-panel-input;
		font-weight: $font-weight-semibold;
	}
}
.card-group-switch {
	> div {
		display: flex;
		justify-content: center;
	}
	h3 {
		margin-bottom: $lhse*.25;
		align-self: center;
		cursor: default;
		text-align: center;
	}
	fieldset {
		padding: 0 divide($lhse, 3);

		div {
			display: flex;
			align-items: center;
			margin: 0 .5em;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	label {
		.deck-control-panel & {
			margin: 0;
			padding-top: divide($lhse, 3);
			padding-bottom: divide($lhse, 3);
		}
	}
}
.card-adder,
.deck-actions {
	form {
		align-items: center;
		display: grid;
		grid-template-rows: $lhse*.75 $lhse*1.5;
	}
}
.scryfall-opener {
	a {
		@include button;
		@include secondary-button;
		min-width: $lhse*1.75;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all $transition-duration-standard ease;
		padding: $lhse*.125 $lhse*.25;

		img {
			opacity: .875;
		}
	}
	img {
		width: $lhse*1.25;
		height: $lhse*1.25;
	}
}
.card-adder,
.deck-actions {
	label {
		padding-bottom: $lhse*.25;
		margin-bottom: -$lhse*.25;
		width: max-content;
	}
}
.card-adder {
	flex-grow: 1;
	height: $lhse*3.3333;

	.sideboard-visible & {
		background-color: $color-mythic-very-dim;
		background-image: $gradient-background-sideboard;

		label {
			color: $color-text-over-mythic-very-dim;
		}
		input {
			border-color: $color-section-border-alt;
		}
	}
	form,
	.loading-indicator {
		width: 100%;
	}
	form {
		grid-template-columns: auto min-content;
	}
	input {
		border-radius: $border-radius-button;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: 100%;
		padding-right: 0;

		&.attention {
			@keyframes pulsate-input {
				100% {
					background-color: $color-input-bg-active;
					color: $color-link-active;
				}
			}
			animation-name: pulsate-input;
			animation-duration: .25s;
			animation-iteration-count: 10;
			animation-direction: alternate;
			animation-timing-function: ease-in-out;
		}
	}
	button {
		height: $height-deck-control-panel-input;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		width: $lhse*2.5;
		min-width: 0;
		margin-left: 1px;
	}
	.loading-indicator {
		display: flex;
		justify-content: center;
		animation: pulse .5s ease-out;
		animation-direction: alternate-reverse;
		animation-iteration-count: infinite;
		cursor: progress;

		@keyframes pulse {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		span {
			color: $color-text;
			font-style: italic;
			font-size: $font-size-bigger;
		}
	}
}
.deck-actions {
	label {
		white-space: nowrap;
	}
	select {
		width: 100%;
		height: $height-deck-control-panel-input;
	}
}

@mixin viewing-controls-single-layer-compressed {
	.deck-control-panel.viewing-controls {
		grid-template-columns: auto auto;

		.card-sorter label,
		.card-group-switch h3 {
			padding: 0 divide($lhse, 3) 0 0;
			margin: divide(-$lhse, 12) 0 0 0;
		}
	}
	.card-sorter {
		fieldset {
			flex-wrap: nowrap;
		}
	}
	.card-group-switch {
		border-left: $border-sections;

		> div {
			flex-wrap: nowrap;
			width: auto;
		}
		h3 {
			text-align: right;
		}
	}
}
@mixin viewing-controls-single-layer {
	.deck-control-panel.viewing-controls {
		.card-sorter label,
		.card-group-switch h3 {
			padding-right: 0;
			padding-bottom: $lhse*.25;
			margin-top: -$lhse*.125;
		}
	}
	.card-sorter {
		fieldset {
			flex-wrap: wrap;
		}
	}
	.card-group-switch {
		> div {
			flex-wrap: wrap;
			width: min-content;
		}
	}
}
@mixin viewing-controls-double-layers {
	.deck-control-panel.viewing-controls {
		display: block;
	}
	.card-sorter {
		border-bottom: $border-sections;
	}
	.card-group-switch {
		border-left-width: 0 !important;
	}
}
@mixin action-controls-single-layer {
	.deck-control-panel.action-controls {
		grid-template-columns: min-content auto min-content;
		grid-template-rows: auto;
	}
	.scryfall-opener {
		border-bottom-width: 0;
	}
	.card-adder {
		border-bottom-width: 0;
		padding-right: 0;
		padding-left: 0;
		border-left: $border-sections;
		flex-grow: 2;

		form {
			max-width: 20em;
		}
		label {
			grid-column: span 2;
		}
	}
	.deck-actions {
		grid-column: span 1;
		border-left: $border-sections;

		form {
			display: grid;
		}
	}
}
@mixin action-controls-double-layers {
	.deck-control-panel.action-controls {
		grid-template-columns: fit-content auto;
		grid-template-rows: auto auto;
	}
	.scryfall-opener {
		border-bottom: $border-sections;
	}
	.card-adder {
		border-bottom: $border-sections;
	}
	.deck-actions {
		grid-column: span 2;
		border-left-width: 0;

		form {
			display: flex;
		}
		label {
			margin-top: -$lhse*.125;
		}
	}
}
@mixin action-controls-double-layers-compressed {
	.deck-control-panel.action-controls {
		grid-template-columns: 1fr 1fr;
	}
	.scryfall-opener {
		grid-row: 2;
		border-bottom-width: 0;
		border-right: $border-sections;
	}
	.card-adder {
		grid-column: span 2;
		border-left-width: 0;
	}
	.deck-actions {
		grid-column: span 1;
		grid-row: 2;

		form {
			display: grid;
		}
	}
}

@include viewing-controls-single-layer-compressed;
@include action-controls-single-layer;

@media (max-width: $width-app-breakpoint-tablet) {
	@include viewing-controls-single-layer;
}
@media (max-width: $min-width-app) {
	@include action-controls-double-layers;
}
@media (max-width: ($min-width-app * .8)) {
	@include viewing-controls-single-layer-compressed;
	@include action-controls-single-layer;
}
@media (max-width: ($min-width-app * .6667)) {
	@include viewing-controls-single-layer;
	@include action-controls-double-layers;
}
@media (max-width: ($min-width-app * .5)) {
	@include viewing-controls-double-layers;
	@include action-controls-double-layers-compressed();

	.card-adder {
		button {
			width: auto;
		}
	}
}
