.deck-control-panel {
	border-radius: $border-radius-group;
	background: $color-group-bg;
	width: 100%;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto auto;

	&.viewing-controls {
		margin-bottom: divide($lhse, 3);
		grid-template-columns: 1fr 1fr;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	&.action-controls {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	section {
		padding: $lhse*.5;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	label,
	h3 {
		display: block;
		margin-right: .3333em;
		margin-left: .3333em;
		color: $color-text;
		font: $font-weight-semibold 83.33%/1 $font-family-standard;
	}
	.radio-fieldset {
		label {
			@include heading-font;
			@include label-text-style;
		}
	}
}
.card-sorter {
	fieldset {
		padding: 0;
		border: 0;
		margin: 0;
		transition: opacity $transition-duration-standard ease;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		gap: $lhse*.25 0;

		label {
			white-space: nowrap;
		}
		&:disabled {
			opacity: .25;

			select {
				opacity: 1;
				cursor: not-allowed;
			}
		}
	}
	select {
		height: $height-deck-control-panel-input;
		font-weight: $font-weight-semibold;
	}
}
.sideboard-toggler {
	justify-content: space-around;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: $lhse*.1667;

	h3 {
		margin: 0;
		align-self: center;
		cursor: default;
	}
	fieldset {
		div {
			display: flex;
			align-items: center;
			padding: 0 divide($lhse, 2);
		}
	}
	label {
		.deck-control-panel & {
			margin: $lhse*.125 0;
		}
	}
}
.card-adder {
	flex-grow: 1;

	.sideboard-visible & {
		background: $color-mythic-very-dim;
		
		label {
			color: $color-text-over-mythic-very-dim;
		}
	}
	form,
	.loading-indicator {
		height: $height-deck-control-panel-input * 1.5;
		width: 100%;
		align-items: center;
	}
	form {
		display: grid;
		grid-template-columns: auto min-content;
	}
	input {
		border-radius: $border-radius-button;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right-width: 0;
		min-width: none;
		width: 100%;
		padding-right: 0;

		&.attention {
			@keyframes pulsate-input {
				100% {
					border-color: $color-mythic-lighter;
					box-shadow: 0 0 $lhse $color-mythic-orange;
				}
			}
			animation-name: pulsate-input;
			animation-duration: .25s;
			animation-iteration-count: 20;
			animation-direction: alternate;
			animation-timing-function: ease-in;
		}
	}
	button {
		height: $height-deck-control-panel-input;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		width: $lhse*2.5;
		min-width: 0;
	}
	.loading-indicator {
		display: flex;
		justify-content: center;
		animation: pulse .5s ease-out;
		animation-direction: alternate-reverse;
		animation-iteration-count: infinite;
		cursor: progress;

		@keyframes pulse {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		span {
			color: $color-text;
			font-style: italic;
			font-size: 112.5%;
		}
	}
}
.deck-actions {
	label {
		white-space: nowrap;
	}
	select {
		width: 100%;
		height: $height-deck-control-panel-input;
	}
}

@mixin viewing-controls-single-layer {
	.sideboard-toggler {
		border-left: $border-sections;
		border-bottom-width: 0;
	}
}
@mixin viewing-controls-double-layers {
	.deck-control-panel.viewing-controls {
		display: block;
	}
	.card-sorter {
		border-right-width: 0;
		border-bottom: $border-sections;
	}
}
@mixin action-controls-single-layer {
	.deck-control-panel.action-controls {
		display: flex;
	}
	.card-adder,
	.deck-actions {
		label {
			padding-bottom: $lhse*.25;
		}
	}
	.card-adder {
		border-bottom-width: 0;
		padding-right: 0;
		padding-left: 0;

		form {
			max-width: 20em;
		}
		label {
			grid-column: span 2;
		}
	}
	.deck-actions {
		border-left: $border-sections;

		form {
			display: block;
		}
		label {
			padding-bottom: $lhse*.25;
		}
	}
}
@mixin action-controls-double-layers {
	.deck-control-panel.action-controls {
		display: block;
	}
	.card-adder {
		border-bottom: $border-sections;
	}
	.deck-actions {
		border-left-width: 0;

		form {
			display: flex;
			align-items: center;
		}
		label {
			padding: 0;
		}
	}
}

@include viewing-controls-single-layer;
@include action-controls-single-layer;

@media (max-width: ($min-width-app)) {
	@include action-controls-double-layers;
}
@media (max-width: ($min-width-app * .8)) {
	@include action-controls-single-layer;
}
@media (max-width: ($min-width-app * .6667)) {
	@include action-controls-double-layers;
}
@media (max-width: ($min-width-app * .5)) {
	@include viewing-controls-double-layers;

	.card-adder {
		button {
			width: auto;
		}
	}
}
