.deck-description {
	grid-column: span 7;
	margin-bottom: $lhse/2;

	h3 {
		font-size: 66.67%;
		text-transform: uppercase;
		margin: 0;
	}
	textarea {
		display: block;
		overflow-y: hidden;
		background: rgba(#000, 0);
		color: $color-text;
		border: 1px solid rgba($color-mythic-orange, 0);
		padding: $lhse/8 $lhse/4;
		margin: 0;
		width: 100%;
		height: $lhse;
		transition: background, border $transition-duration-standard ease; 

		&:hover,
		&:focus {
			background: rgba(#000, .5);
			border-color: $color-mythic-orange;
		}
	}
}