.deck-header {
	grid-column: span 7;
	margin: $lhse auto $lhse*.75;
	display: grid;
	grid-template-columns: 2fr repeat(6, min-content);
	align-items: center;
	justify-content: space-between;
}
.deck-info {
	display: flex;
	height: 100%;
	padding: $lhse*.25 divide($lhse, 3);
	border: 0 solid $color-section-border;
	border-right-width: 1px;
	align-items: center;
	justify-content: center;
	background: $color-group-bg;
	white-space: nowrap;
	cursor: default;

	&:first-of-type {
		border-radius: $border-radius-button;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	&:last-of-type {
		border-radius: $border-radius-button;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		border-right-width: 0;
	}
	h3 {
		margin: 0;
		margin-right: $lhse*.5;
		text-transform: uppercase;
		font-size: 75%;
		display: flex;
		align-items: center;
		text-align: right;
	}
	.output {
		line-height: 1;
		color: $color-text-brighter;
	}
}
.deck-name {
	padding-left: $lhse*.5;
	justify-content: left;
	max-width: 100%; // Needed for extremely long names with no spaces
	overflow: hidden;

	button {
		@include link;
		
		h2 {
			@include heading-font;
			margin: 0;
			color: inherit;
			white-space: normal;
		}
	}
}
.deck-colors {
	padding-top: 2px;
	padding-bottom: 2px;

	h3 {
		white-space: normal;
		width: min-content;
	}
	.output {
		.mana-symbol {
			box-shadow: none;
			line-height: .875;
		}
	}
	.no-colors {
		font-size: 200%;
	}
}
.average-mana-value {
	.output {
		font-size: 200%;
	}
}
.date-edited {
	h3 {
		white-space: normal;
	}
	.output {
		font-size: 87.5%;
	}
}
.card-names,
.card-total {
	h3 {
		white-space: normal;
	}
	.output {
		font-size: 200%;
	}
}
.more-stats-button {
	a {
		@include button;
	}
	a,
	button {
		@include primary-btn;
		font-size: 87.5%;
		min-width: 5.5em;
	}
	button {
		&[disabled] {
			cursor: not-allowed;
		}
	}
}

@media (max-width: $width-site-breakpoint) {
	.deck-header {
		overflow: hidden;
		display: grid;
		grid-template-columns: repeat(5, minmax(auto, 1fr));
		grid-template-rows: repeat(2, 1fr);
		border-radius: $border-radius-group;
		background: $color-group-bg;
	}
	.deck-info {
		border-radius: 0;
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 0;
		border-left-width: 0;
		order: 2;
		flex-grow: 1;

		&:nth-last-of-type(2) {
			border-right-width: 0;
		}
		h3 {
			max-width: 100%;
		}
		.output {
			display: flex;
			height: $line-height-standard * 1.75rem;
			align-items: center;
		}
	}
	.deck-name,
	.more-stats-button {
		border-top-width: 0 !important;
		height: auto;
	}
	.deck-name {
		border-left-width: 0 !important;
		border-radius: 0 !important;
		order: 0;
		grid-column: 2 / 5;
		border-right-width: 0 !important;
		justify-content: center;

		h2 {
			text-align: center;
		}
	}
	.deck-colors {
		.output {
			display: grid;
		}
	}
	.more-stats-button {
		border-radius: 0 !important;
		border-right-width: 0;
		order: 1;
		justify-self: flex-end;

		a,
		button {
			min-width: 66.67%;
			display: block;
		}
	}
	.card-total {
		.warning-symbol {
			margin-left: .125em;
			margin-bottom: -.125em;
		}
	}
}
@media (max-width: ($min-width-site*1.25)) {
	.deck-info {
		justify-content: center;

		h3 {
			width: min-content;
		}
	}
}
@media (max-width: $min-width-site) {
	.deck-header {
		grid-template-rows: repeat(2, min-content);
	}
	.deck-info {
		flex-direction: column;
		text-align: center;

		h3 {
			text-align: center;
			margin: 0;
			max-width: 6.125em;
			width: auto;
		}
	}
	.more-stats-button {
		a,
		button {
			white-space: normal;
			font-size: 80%;
		}
	}
}
@media (max-width: ($min-width-site * .75)) {
	.deck-header {
		margin-top: $lhse*.5;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto 1fr 1fr;
	}
	.deck-name {
		grid-column: span 3;
		padding-top: divide($lhse, 3);
		padding-bottom: divide($lhse, 3);
	}
	.deck-info,
	.more-stats-button {
		order: 1;
	}
	.deck-info {
		border-top-width: 0 !important;
		border-right-width: 0 !important;
		border-bottom-width: 1px !important;
		border-left-width: 1px !important;

		&:last-of-type(),
		&:nth-last-of-type(2),
		&:nth-last-of-type(3) {
			border-bottom-width: 0 !important;
		}
		&:first-of-type,
		&:nth-of-type(2),
		&:nth-of-type(5) {
			border-left-width: 0 !important;
		}
		h3 {
			max-width: 100%;
		}
		.output {
			height: auto;
		}
	}
	.more-stats-button {
		justify-self: center;
		width: 100%;
		height: 100%;
		
		a,
		button {
			white-space: normal;
			font-size: 87.5%;
		}
	}
	.deck-colors {
		.output {
			margin-top: divide($lhse, 4);
		}
	}
}
@media (max-width: ($min-width-site * .5)) {
	.deck-header {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content repeat(3, 1fr);
	}
	.deck-info {
		border-top-width: 0 !important;
		border-right-width: 0 !important;
		border-bottom-width: 1px !important;
		border-left-width: 1px !important;
		justify-content: center;

		&:nth-of-type(4),
		&:nth-last-of-type(2) {
			border-left-width: 0 !important;
		}
		&:nth-last-of-type(3) {
			border-left-width: 1px !important;
			border-bottom-width: 1px !important;
		}
	}
	.deck-name {
		grid-column: span 2;
		height: 100%;
		font-size: 87.5%;
	}
	.date-edited {
		.output {
			margin-top: $lhse*.25;
		}
	}
}
