.card-display {
	grid-column: span 2;
	height: 534px; // Actual height of card as it appears in the app.
	position: sticky;
	top: 1.5em;
	
	img {
		mask-image: url('/img/card-mask.svg');
		position: absolute;
		display: block;
		width: 100%;
		height: auto;
		backface-visibility: hidden;
		opacity: 1;
		will-change: transform;
	}
}
.card-browse-enter-active {
	z-index: 3;
	animation: card-fan-in .375s ease;
}
.card-browse-leave-active {
	animation: overshadowed .375s ease;
}
@keyframes card-fan-in {
	0% {
		opacity: 0;
		transform: rotate(-5.625deg) translateX(-4.5em) translateY(-.75em);
	}
	50% {
		opacity: 1;
	}
}
@keyframes overshadowed {
	0% {
		filter: brightness(100%);
	}
	100% {
		filter: brightness(33.33%);
	}
}