.card-list {
	margin-bottom: $lhse/2;
	background: rgba(#000, .3333);
	border-radius: $lhse/2;
	padding: $lhse/4;

	.no-cards {
		height: 100%;
		display: flex;
		justify-content: center;
		color: $color-text;
		padding: $lhse*2;
	}
	.labels .button-group,
	.card-button {
		display: grid;
		grid-template-columns: repeat(9, 1fr) min-content;
		grid-gap: 1.5rem;
		width: 91.67%;
	}
	.labels,
	li {
		.name {
			grid-column: span 3;
		}
		.mana {
			grid-column: span 2;
		}
		.type {
			grid-column: span 4;
		}
		.rarity {
			grid-column: span 1;
		}
		.qty {
			width: 8.33%;
		}
	}
	.labels {
		@include heading-font;
		text-transform: uppercase;
		font-size: $lhse/2;
		line-height: 1;
		margin-bottom: $lhse/4;
		display: flex;
		
		.button-group {
			display: grid;
			width: 100%;

			.name {
				padding-left: $lhse/2;
			}
			.mana {
				text-align: right;
			}
			.rarity {
				margin-left: -2em;
			}
		}
		.qty {
			text-align: right;
			padding-right: 1.25em;
		}
		strong {
			display: block;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
	}
	li {
		display: flex;
		margin: 2px 0;
		transition: all .3333s ease; // For card sorting
		position: relative;

		&:hover,
		&:focus-within {
			z-index: 1;

			.card-button {
					@include box-shadow-hover-card-button(rgba(#000, .333));
					filter: contrast(125%);
					transition-duration: 0s;
		
					&.white {
						@include box-shadow-hover-card-button(
							$color-mana-white
						);
					}
					&.blue {
						@include box-shadow-hover-card-button(
							saturate(darken($color-mana-blue, 25%), 25%)
						);
					}
					&.black {
						@include box-shadow-hover-card-button(
							saturate(darken($color-mana-black, 50%), 25%)
						);
					}
					&.red {
						@include box-shadow-hover-card-button(
							saturate(darken($color-mana-red, 25%), 25%)
						);
					}
					&.green {
						@include box-shadow-hover-card-button(
							saturate(darken($color-mana-green, 25%), 25%)
						);
					}
					&.multicolor {
						@include box-shadow-hover-card-button(
							saturate(darken($color-mana-hybrid, 25%), 25%)
						);
				}
			}
			&:hover {
				z-index: 2;
			}
			.qty {
				input {
					transition: none;
					color: $color-mythic-orange-lighter;
					text-shadow: $text-shadow-colored-text;
				}
			}
		}
		.name {
			margin: 0;
			font-size: 100%;
		}
		.mana {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			font-size: 125%;
		}
		.type {
			@include heading-font;
			font-size: 83.33%;
		}
		.rarity {
			border-radius: $border-radius-button;
			width: $lhse;
			text-align: center;
			box-shadow: inset 0 0 1px .5px #000;
			margin-right: -.167em;
			font: bold 75%/1.375 sans-serif;
			color: #000;
			text-shadow: 0 0 1.5px #fff;

			&.common {
				background: #000;
				box-shadow: inset 0 0 0 1.5px #eee;
				color: #eee;
				text-shadow: none;
			}
			&.uncommon {
				background: linear-gradient(-60deg,
					darken($color-rarity-silver, 25%),
					lighten($color-rarity-silver, 25%),
					darken($color-rarity-silver, 25%)
				) $color-rarity-silver;
			}
			&.rare {
				background: linear-gradient(-60deg,
					darken($color-rarity-gold, 25%),
					lighten($color-rarity-gold, 25%),
					darken($color-rarity-gold, 25%)
				) $color-rarity-gold;
			}
			&.mythic {
				background: linear-gradient(-60deg,
					darken($color-mythic-orange, 6.25%),
					saturate(lighten($color-mythic-lighter, 12.5%), 25%),
					darken($color-mythic-orange, 6.25%)
				) $color-mythic-orange;
				text-shadow: 0 0 1.5px saturate(lighten($color-mythic-lighter, 25%), 25%);
			}
		}
		.qty {
			display: flex;
			align-items: center;
			line-height: 1;
	
			> span {
				margin: 0 2px 0 $lhse/4;
				color: darken($color-text, 12.5%);
			}
			input {
				color: $color-text;
				background: transparent;
				border: 0;
				font-size: $lhse;
				width: 1.75em;
				text-align: center;
				outline: 1px solid rgba($color-mythic-orange, 0);
				transition: all $transition-duration-standard ease-out;
				padding: 0;
				font-weight: 500;
				line-height: 1;
	
				&:hover,
				&:focus {
					background: rgba(#000, .5);
					color: #fff;
					transition-duration: 0s;
				}
				&:focus {
					outline: 2px solid $color-mythic-orange;
				}
			}
		}
	}
	.card-button {
		background: $color-frame-generic;
		align-items: center;
		margin: 0;
		padding: 0 .5em;
		border-radius: $border-radius-button;
		border: none;
		box-shadow: $box-shadows-card-button;
		transition: all $transition-duration-standard ease;
		text-align: left;
		color: #000;
		will-change: transform;
		filter: contrast(100%);
		width: 100%;
	
		&:active {
			transform: scale(.995) translate(0, .5px);
			transition-duration: 0s;
		}
		&.white {
			background: $color-frame-white;
		}
		&.blue {
			background: $color-frame-blue;
		}
		&.black {
			background: $color-frame-black;
		}
		&.red {
			background: $color-frame-red;
		}
		&.green {
			background: $color-frame-green;
		}
		&.multicolor {
			background: $color-frame-multicolor;
		}
	}
}