.card-list-controls {
	grid-column: 3 / 8;
	display: flex;
	padding: $lhse/4 $lhse/2;
	background: darken($color-content-bg, 12.5%);
	align-items: center;
	justify-content: space-between;
	border: 1px solid lighten($color-content-bg, 6.25%);

	label {
		@include heading-font;
		display: block;
		font-size: 83.33%;
	}
	input,
	select {
		&:hover,
		&:focus {
			border-style: solid;
			border-color: $color-mythic-orange;
		}
	}
}
.card-adder {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0 1px;
	
	label {
		grid-column: span 3;
	}
	input {
		grid-column: span 3;
		background: darken($color-content-bg, 25%);
		color: $color-text;
		border: 2px inset $color-content-bg;
		padding: $lhse/8 .25em;
		width: 100%;
		height: 100%;

		&.attention {
			@keyframes pulsate-input {
				0% {
					background: darken($color-content-bg, 25%);
				}
				100% {
					background: darken($color-mythic-orange, 12.5%);
				}
			}
			animation-name: pulsate-input;
			animation-duration: .5s;
			animation-iteration-count: 16;
			animation-direction: alternate;
			animation-timing-function: ease-in;
		}
	}
	button {
		grid-column: span 1;
		height: 100%; // The pixel subtraction is to compensate for the button's box shadow which makes the button seem slightly taller.
		margin-left: -$lhse/4;
	}
}
.card-sorter {
	select {
		border: 2px inset $color-content-bg;
		padding: $lhse/4 .25em;
		background: darken($color-content-bg, 25%);
		color: $color-text;
	}
}
.deck-actions {
	display: flex;

	button {
		margin-left: 1em;
		font-size: 87.5%;
	}
}