.deck-description {
	grid-column: span 7;
	border: $border-sections;
	border-bottom: 0;
	background: $color-group-bg;
	padding: $lhse/2;
	border-top-left-radius: $lhse/2;
	border-top-right-radius: $lhse/2;

	h3 {
		font-size: 75%;
		text-transform: uppercase;
		margin: -$lhse/4 0 0;
	}
	textarea {
		display: block;
		overflow-y: hidden;
		background: rgba(#000, 0);
		color: $color-text;
		border: 1px solid rgba($color-mythic-orange, 0);
		padding: $lhse/8 $lhse/4;
		margin: 0;
		width: 100%;
		height: $lhse;
		transition: background, border $transition-duration-standard ease; 

		&:hover,
		&:focus {
			background: rgba(#000, .5);
			border-color: $color-mythic-orange;
		}
		&::placeholder {
			color: desaturate(darken($color-text, 25%), 12.5%);
		}
	}
}