.deck-header {
	grid-column: span 7;
	margin: $lhse auto $lhse*.75;
	display: grid;
	grid-template-columns: 2fr repeat(4, min-content);
	align-items: center;
	justify-content: space-between;
}
.deck-info {
	display: flex;
	height: 100%;
	padding: $lhse/4 $lhse/2;
	border: $border-sections;
	border-left-width: 0;
	align-items: center;
	justify-content: center;
	background: $color-group-bg;
	white-space: nowrap;
	cursor: default;

	&:first-of-type {
		border-radius: $border-radius-button;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-left: $border-sections;
	}
	&:last-of-type {
		border-radius: $border-radius-button;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
	h3 {
		margin: 0;
		margin-right: $lhse/2;
		text-transform: uppercase;
		font-size: 75%;
		display: flex;
		align-items: center;
		text-align: right;
	}
	.output {
		line-height: 1;
		color: $color-text-brighter;
	}
}
.deck-name {
	padding-left: $lhse/2;
	justify-content: left;

	button {
		@extend a;
		padding: 0;
		margin: 0;
		background: none;
		border: 0;
		box-shadow: none;
		min-width: min-content;
		border-radius: 0;
		text-shadow: none;
		display: inline-block;
		text-align: left;
		
		h2 {
			@include heading-font;
			margin: 0;
			color: inherit;
			white-space: normal;
		}
	}
}
.deck-colors {
	h3 {
		white-space: normal;
	}
	.output {
		display: flex;
	}
	.no-colors {
		font-size: 200%;
	}
	.mana-symbol {
		font-size: 166.67%;
	}
}
.average-cmc {
	.output {
		font-size: 200%;
	}
}
.date-edited {
	h3 {
		white-space: normal;
	}
	.output {
		font-size: 87.5%;
	}
}
.card-total {
	h3 {
		white-space: normal;
	}
	.output {
		font-size: 200%;
	}
}

@media (max-width: $width-site-breakpoint) {
	.deck-header {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		border: $border-sections;
		border-radius: $border-radius-button;
		overflow: hidden;

		.deck-info {
			border-radius: 0;
			border-bottom-width: 0;

			&:nth-of-type(2) {
				border-left-width: 0;
			}
			&:last-of-type() {
				border-right-width: 0;
			}
		}
	}
	.deck-name {
		grid-column: span 4;
		border-top-width: 0;
		border-right-width: 0;
		border-left-width: 0 !important;
		justify-content: center;
		
		button {
			text-align: center;
		}
	}
}
