@mixin deck-info-box-wide() {
	flex-direction: row;

	h3 {
		text-align: right;
		margin: 0 $lhse*.5 0;
		width: max-content;
	}
}
@mixin deck-info-box-narrow() {
	flex-direction: column;
	text-align: center;
	justify-content: center;

	h3 {
		text-align: center;
		margin: 0 0 $lhse*.25;
	}
}

.deck-header {
	grid-column: span 6;
	margin: $lhse auto $lhse*.5;
	display: grid;
	grid-template-columns: 1fr repeat(5, min-content);
	grid-template-rows: auto auto;
	align-items: center;
	justify-content: space-between;
	border-radius: $border-radius-button;
	overflow: hidden;
	max-width: 100%;
	background: $color-group-bg;
}
.deck-info {
	@include deck-info-style;
	color: $color-text;
	min-height: $height-deck-header-component;

	h3 {
		color: $color-text;
	}
}
.deck-name {
	padding-left: $lhse*.75;
	justify-content: left;
	overflow: hidden;

	button {
		@include link;
		text-decoration-thickness: 1.5px;

		h2 {
			@include heading-font;
			margin: 0;
			color: inherit;
			white-space: normal;
		}
	}
}
.deck-colors {
	h3 {
		white-space: normal;
		width: min-content;
	}
	.output {
		width: max-content;

		&.size-mana-symbols {
			margin-top: $lhse*.125;
			margin-bottom: $lhse*.125;
		}
		&.no-colors {
			font-size: 200%;
			display: flex;
		}
		.mana-symbol {
			opacity: $opacity-mana-symbols;
		}
	}
}
.average-mana-value {
	.output {
		font-size: 200%;
	}
}
.date-edited {
	h3 {
		white-space: normal;
	}
	.output {
		font-size: 87.5%;
	}
}
.card-names,
.card-total {
	h3 {
		white-space: normal;
	}
	.output {
		font-size: 200%;
	}
}
.card-total {
	padding-right: $lhse*.75;
	border-right-width: 0;

	.output {
		display: flex;
		align-items: center;
	}
	.warning-symbol {
		margin-left: .25em;
	}
}
.deck-views {
	padding: $lhse*.25;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	border-width: 0;
	border-top: $border-sections;
	padding-right: $lhse*.125;
	max-width: 100%;
	border-radius: 0;
	grid-column: span 6;

	h3,
	li {
		margin: 0 $lhse*.6667;
	}
	h3 {
		text-transform: uppercase;
		font-size: 112.5%;
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
	}
	li {
		list-style: none;
	}
	a {
		@include heading-font;
		display: block;
		padding: divide($lhse, 3) 0;
		font-size: 87.5%;
		text-align: center;

		&.current-page {
			opacity: .5;
		}
	}
}

@media (max-width: $width-app-breakpoint) {
	.deck-header {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(3, auto);
		border-radius: $border-radius-group;
		background: $color-group-bg;
	}
	.deck-info {
		border-radius: 0;
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 0;
		border-left-width: 0;
		order: 1;

		.output {
			display: flex;
			max-height: $line-height-standard * 1.75rem;
			align-items: center;
		}
	}
	.deck-name {
		border-width: 0;
		order: 0;
		grid-column: span 5;
		justify-content: center;
		padding-left: $lhse*.5;

		h2 {
			text-align: center;
		}
	}
	.deck-colors {
		.output {
			display: grid;
		}
	}
	.date-edited {
		.output {
			margin-top: $lhse*.0417;
		}
	}
	.card-total {
		border-right-width: 0;
		padding-right: $lhse*.5;
	}
	.deck-views {
		order: 2;
		grid-column: span 5;
		padding: $lhse*.25;
	}
}
@media (max-width: $min-width-app) {
	.deck-header {
		grid-template-rows: repeat(2, min-content);
	}
	.deck-info {
		@include deck-info-box-narrow();
	}
	.deck-views {
		h3 {
			margin: $lhse*.25 auto $lhse*.125;
		}
	}
}
@media (max-width: ($min-width-app * .875)) {
	.deck-header {
		margin-top: $lhse*.5;
	}
}
@media (max-width: ($min-width-app * .75)) {
	.deck-header {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto 1fr 1fr auto;
		min-width: 66.67vw;
	}
	.deck-info {
		padding-top: $lhse*.25;
		padding-bottom: $lhse*.25;
		grid-column: span 2;

		&:nth-of-type(2),
		&:nth-of-type(3) {
			@include deck-info-box-wide();
		}
		&:nth-of-type(2) {
			grid-column: 1 / 4;
			border-left-width: 1px;
		}
		&:nth-of-type(3) {
			grid-column: 4 / 7;
		}

		&:nth-of-type(6) {
			border-right-width: 0;
		}
	}
	.deck-name {
		grid-column: span 6;
		padding-top: divide($lhse, 2);
		padding-bottom: divide($lhse, 2);
	}
	.deck-views {
		grid-column: span 6;
		white-space: normal;
	}
}
@media (max-width: ($min-width-app * .5)) {
	.deck-info {
		&:nth-of-type(2),
		&:nth-of-type(3) {
			@include deck-info-box-narrow();
		}
	}
}
