.deck-menu {
	display: flex;
	align-items: center;
}
.deck-menu-group {
	position: relative;

	ul {
		list-style: none;
		display: none;
		margin: 0;
		padding: 0;
		border: 3px solid $color-content-bg;
		overflow: hidden;
		position: absolute;
		top: 2.25em;
		right: 0;
		z-index: 4;
		box-shadow: -.125em .5em .75em rgba(#000, .333);
		background: darken($color-content-bg, 16.67%);
		background: darken(desaturate($color-mythic-orange, 25%), 25%);
		min-width: 100%;
		border-radius: .75em / 3em;

		&.show {
			display: block;
		}
	}
	a {
		@include heading-font;
		padding: .375em .75em;
		display: block;
		max-width: 24em;
		text-overflow: ellipsis;
		overflow-x: hidden;
		white-space: nowrap;
		transition: all .125s ease;
		color: $color-text;

		&:hover,
		&:focus {
			text-decoration: none;
			background: darken($color-mythic-orange, 12.5%);
			color: #fff;
		}
		&:active {
			background: $color-mythic-orange;
			color: $color-text;
		}
	}
}
.deck-selector {
	position: relative;
	z-index: 4;		
}
.add-new-deck {
	margin-left: 1em;
}
