*,
*::before,
*::after {
	box-sizing: border-box;
	backface-visibility: hidden;
}
html {
	scroll-padding-top: $line-height-standard*1rem;
}
body {
	font: 20px/#{$line-height-standard} $font-family-standard;
	color: $color-text;
	background: $color-content-bg;
	min-width: 320px;
	contain: paint; // Needed for the draw simulator page's card image animations that appear from out of the viewport, and doesn't affect `sticky` positioning.
}
.fade-bg {
	background: $color-content-bg;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}
.texture-bg {
	background: top left repeat $color-content-bg;
	background-attachment: fixed, scroll;

	@mixin bg-image-texture-bg($length) {
		background-image:
			linear-gradient(191.25deg,
				rgba(#fff, .2) 0%,
				rgba(#000, .2) $length
			),
			url('img/turbulence-bg-tile.jpg');
	}

	@include bg-image-texture-bg(100%);
	@include bg-image-texture-bg(100lvh); // Prefer `100lvh` if the user's browser supports `lvh` units. Otherwise, fall back to `100%`.
}
.wrap {
	max-width: $max-width-app;
	margin: 0 auto;
	padding: 0 $lhse;
}
main {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.root-home-page & {
		align-items: flex-start;
		flex-grow: 0;
	}
	> article {
		margin: $lhse auto;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	@include heading-font;
	line-height: 1;
	color: $color-text-brighter;
	margin-top: $lhse;
	margin-bottom: $line-height-standard*.5rem;
}
h2 {
	margin-top: $line-height-standard * .5rem;
	font-size: 150%;

	&:first-child {
		margin-top: 0;
	}
}
h3 {
	font-size: 125%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 80%;
	text-transform: uppercase;
}
h6 {
	font-size: 60%;
	text-transform: uppercase;
}
p,
ul,
ol {
	margin: $lhse*.5 0;
}
strong,
b,
th {
	font-weight: $font-weight-semibold;

	*:not(a) > & {
		color: $color-text-brighter;
	}
}
small {
	font-size: 80%;
	display: inline-block;
}
ul,
ol {
	padding-left: $lhse;
}
ul {
	ul {
		margin-top: 0;
	}
}
ol {
	padding-left: $lhse + .25em;

	ol {
		list-style-type: lower-alpha;
		margin: 0;

		ol {
			list-style-type: lower-roman;
		}
	}
	li {
		padding-left: .25em;
	}
}
li {
	&:first-child {
		h5:first-child {
			margin-top: $lhse*.75;
		}
	}
	&:last-child {
		p:last-child {
			margin-bottom: $lhse*.75;
		}
	}
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
figure {
	margin: $lhse*.5;

	img {
		background-color: $color-group-bg-darker;
	}
}
figcaption {
	font-size: 80%;
	letter-spacing: (1/128)*1em;
	text-align: center;
	margin: $lhse*.125;
	color: $color-text-darker;

	a {
		@include link-colors($color-link-dim);
	}
}
::selection {
	background: $color-mythic-dim;
	color: #fff;
	text-shadow: none;
}
::-webkit-scrollbar {
	width: $line-height-standard * .6667rem;
	background: $color-group-bg-darker;
	border: 1px solid $color-group-bg-darker;
}
::-webkit-scrollbar-thumb {
	@include gradient-buttons($color-link, $color-mythic-dim);
	border: 1px solid darken($color-mythic-dim, 16.67%);
	border-top-width: 0;
	border-radius: 2px;
	box-shadow: $box-shadow-button-shine, $box-shadow-button-cast-shadow;

	&:hover {
		@include gradient-buttons($color-link-focus, $color-link-dark);
	}
	&:active {
		@include gradient-buttons($color-link-active, $color-link-focus);
	}
}
::-webkit-scrollbar-corner {
	color: $color-group-bg;
}
.fade-from-black {
	&-enter-active {
		transition: filter 1s ease;
	}
	&-enter {
		filter: brightness(0);
	}
}

@media (max-width: ($min-width-app*.875)) {
	.wrap {
		padding: 0 $lhse*.5;
	}
}
@media (max-width: $width-deck-hidden-image) { // Must match window width in JavaScript.
	body {
		contain: none; // The card image animation effect isn't needed at this viewport, and the `contain: paint` style doesn't keep the card image centered as it should be.
	}
}

/* Remove all animations and transitions for people who prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
