*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font: 20px/1.5 $font-family-standard;
	background: $color-content-bg;
	color: $color-text;
}
@supports (background-blend-mode: overlay) {
  body {
		background:
			radial-gradient(farthest-corner,
				desaturate(lighten($color-content-bg, 25%), 25%),
				desaturate(darken($color-content-bg, 12.5%), 25%)
			) fixed no-repeat,
			url('/img/bg-texture.jpg') repeat,
			$color-content-bg;
		background-blend-mode: overlay;
	}
}
#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	position: relative;
	max-width: 1920px;
}
.wrap {
	width: $width-site;
	margin: 0 auto;
	padding: 0 1.5em;
}
main {
	flex-grow: 1;
	display: flex;
	align-items: center;
	position: relative;
}
.deck {
	article {
		margin: .75em 0;
		position: relative;
	}
}
.card-display-scroll-view {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: .75em;
	border-top: 2px solid darken($color-text, 33.33%);
	padding: .75em 0;
}
.deck-main {
	grid-column: 3 / 8;
}
.bg-overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	transition: opacity .25s ease-out;
	background: rgba(darken($color-content-bg, 25%), .5);
	z-index: 3;
	backdrop-filter: blur(3px);
}
.overlay-enter,
.overlay-leave-to {
  opacity: 0;
}