*,
*::before,
*::after {
	box-sizing: border-box;
	backface-visibility: hidden;
}
body {
	font: 20px/1.5 $font-family-standard;
	background: #000;
	color: $color-text;
}
#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	position: relative;
	max-width: 1920px;
}
@supports (background-blend-mode: overlay) {
  #app {
		background:
			radial-gradient(ellipse at 62.5% 25%,
				rgba(#fff, .333),
				rgba(#000, .333)
			) fixed no-repeat,
			url('~@/img/topography.svg') repeat, // From http://www.heropatterns.com/
			$color-content-bg;
		background-blend-mode: overlay;
	}
}
.wrap {
	max-width: $max-width-site;
	min-width: $min-width-site;
	margin: 0 auto;
	padding: 0 $lhse;
}
main {
	flex-grow: 1;
	display: flex;
	align-items: center;
	position: relative;
	
	> article {
		margin: $lhse/2 auto;
	}
}
.bg-overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	transition: all $transition-duration-standard*2 ease;
	background: rgba(darken($color-content-bg, 25%), .5);
	z-index: index($layers, bg-overlay);
	backdrop-filter: blur(7px);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.overlay-enter,
.overlay-leave-to {
  opacity: 0;
}
h1,
h2,
h3,
h4 {
	@include heading-font;
	line-height: 1;
	color: $color-text-brighter;
}
p {
	margin: $lhse/2 0;
}
strong,
b {
	@include heading-font;
}
small {
	font-size: 75%;
	letter-spacing: (1/256)*1em;
}
::selection {
	background: saturate(darken($color-mythic-complement, 25%), 25%);
	color: #fff;
	text-shadow: none;
}
.fade-enter-active {
  transition: all .75s ease;
}
.fade-leave-active {
  transition: all .25s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@media (max-width: $width-site-breakpoint) {
	.wrap {
		padding: 0 $lhse/2;
	}
}
