*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font: 20px/1.5 $font-family-standard;
	background: $color-content-bg;
	color: $color-text;
}
@supports (background-blend-mode: overlay) {
  body {
		background:
			radial-gradient(ellipse at 62.5% 25%,
				rgba(#fff, .25),
				rgba(#000, .25)
			) fixed no-repeat,
			url('/img/bg-texture.jpg') repeat,
			$color-content-bg;
		background-blend-mode: overlay;
	}
}
#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	position: relative;
	max-width: 1920px;
}
.wrap {
	width: $width-site;
	margin: 0 auto;
	padding: 0 $lhse;
}
main {
	flex-grow: 1;
	display: flex;
	align-items: center;
	position: relative;
}
.bg-overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	transition: all $transition-duration-standard*2 ease;
	background: rgba(darken($color-content-bg, 25%), .5);
	z-index: index($layers, bg-overlay);
	backdrop-filter: blur(7px);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.overlay-enter,
.overlay-leave-to {
  opacity: 0;
}
h1,
h2,
h3,
h4 {
	@include heading-font;
	line-height: 1;
}
p {
	margin: $lhse/2 0;
}
strong,
b {
	@include heading-font;
}
::selection {
	background: $color-mythic-orange;
	color: #fff;
	text-shadow: none;
}