@mixin button-style($color) {
	background: linear-gradient(
		$color 0%,
		darken($color, 8.33%) 95%,
		lighten($color, 16.7%) 100%
	);
	border-color: $color;
}
* {
	transition: outline .25s ease;
	outline: 2px solid rgba($color-magic-orange, 0);
}
*:focus {
	outline: 0;
}
*:focus-visible {
	outline: 2px solid $color-magic-orange;
}
a {
	color: $color-magic-orange;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
	&:active {
		color: #000;
	}
}
button {
	@include button-style(desaturate(peru, 16.7%));
	cursor: pointer;
	box-shadow:
		0 1px 0 1px rgba(#000, .75), // The edge of the hole around the button
		-1px .167em .167em rgba(#000, .5); // The shadow of the button
	border-width: 0px;
	border-style: outset;
	border-top-width: 0;
	border-bottom-width: 2px;
	color: rgba(#fff, .875);
	border-radius: 12.5% / 1.5em;
	padding: .375em .5em ;
	min-width: 4.5em;
	margin-top: -2px;
	margin-bottom: 2px;

	&:hover,
	&:focus {
		@include button-style(peru);
	}
	&:active {
		border-top-width: 2px;
		border-bottom-width: 0;
		box-shadow: 0 0 0 1px rgba(#000, .75);
		margin-top: 0;
		margin-bottom: 0;
	}
	&[type="submit"],
	&.primary-btn {
		@include button-style(desaturate($color-magic-orange, 16.7%));

		&:hover,
		&:focus {
			@include button-style($color-magic-orange);
		}
		&:active {
			@include button-style(darken($color-magic-orange, 6.25%));
		}
	}
	&:disabled {
		filter: grayscale(.25);
		opacity: .75;
		cursor: default;
	}
}
input {
	&[type="text"],
	&[type="number"] {
		background-color: #fff;
		color: $color-black-label;
	}
}