*:focus-visible {
	outline: 2px solid $color-mythic-orange;
	outline-offset: 2px;
}
a {
	@include link;
}
button,
.button {
	@include button;
}
label {
	@include heading-font;
	line-height: 1;
}
input,
textarea,
select {
	@include link;
	caret-color: $color-link;
	line-height: 1.5;
	background: linear-gradient(
		darken($color-group-bg, 8.33%) 40%, darken($color-group-bg, 4.17%)
	) darken($color-group-bg, 6.25%);
	color: $color-link;
	font-weight: $font-weight-normal;
	border: $border-image;
	padding: .125em .25em;
	transition: $transition-duration-standard ease;
	transition-duration: border, background, box-shadow;

	&:hover,
	&:focus {
		text-decoration: none;
		background: $color-group-bg;
		border-color: $color-section-border;
	}
	&:focus {
		border-color: $color-link;
	}
	&:active {
		background: lighten($color-group-bg, 3.125%);
	}
	&:focus-visible {
		outline: none;
	}
	&::placeholder {
		color: lighten($color-group-bg, 37.5%);
		font-style: italic;
	}
}
input {
	height: 100%;
	line-height: 1;
	padding: 0 .5em;
}
.radio-fieldset {
	border: $border-image;
	border-radius: $border-radius-button;
	padding: 0;
	margin: 0;

	&:hover,
	&:focus-within,
	&:active {
		[type="radio"] {
			border-color: $color-link;
		}
	}
	> div {
		margin: $lhse*.1667 0;
	}
	label {
		padding-right: $lhse*.25;
		cursor: pointer;

		.deck-control-panel & {
			@include label-text-style;
		}
	}
}
[type="radio"] {
	cursor: pointer;
	appearance: none;
	width: .8em;
	height: .8em;
	margin: 0;
	border-radius: 50%;
	border: 2px solid $color-section-border;
	box-shadow: inset 0 0 0 2px $color-group-bg;
	background: $color-group-bg;

	&:hover,
	&:focus {
		background: $color-mythic-dim;

		&:not(:checked) {
			border-color: $color-link-focus;
		}
	}
	&:active {
		background: radial-gradient(
			#fff,
			$color-mythic-lighter 50%
		) $color-mythic-lighter;

		&,
		&:not(:checked) {
			border-color: #fff;
		}
	}
	&:checked {
		&,
		&:hover,
		&:focus,
		&:active {
			background: radial-gradient(
				$color-mythic-lighter,
				$color-link 50%
			) $color-link;
		}
	}
}
select {
	cursor: pointer;
	line-height: 1;
	border-radius: $border-radius-button;
	font-weight: $font-weight-semibold;
}
option {
	color: $color-link;
}
select,
option {
	background-color: $color-group-bg;	
}
