*:focus-visible {
	outline: 2px solid $color-mythic-orange;
	outline-offset: 2px;
}
a {
	@include link;
}
button,
.button {
	@include button;
}
label {
	@include heading-font;
	line-height: 1;
}
input,
textarea,
select {
	caret-color: $color-mythic-orange;
	line-height: 1.5;
	background: $color-input-bg;
	color: #000;
	font-weight: $font-weight-normal;
	border: 2px inset $color-content-bg;
	padding: divide($lhse, 8) .25em;
	transition: $transition-duration-standard ease;
	transition-duration: border, background, box-shadow;

	&:hover,
	&:focus {
		border-style: solid;
		border-color: $color-mythic-orange;
		background: lighten($color-input-bg, 8.33%);
	}
	&:focus-visible {
		outline: none;
	}
	&::placeholder {
		color: desaturate(darken($color-mythic-complement, 16.67%), 33.33%);
		font-style: italic;
	}
}
input {
	height: 100%;
	line-height: 1;
}
select {
	cursor: pointer;
	line-height: 1;
	border-radius: $border-radius-button;
}
option {
	font-weight: $font-weight-normal;
}
