.intro-illustration {
	width: $max-width-content*.6180;
	margin: 0 auto;
	border: $border-image;
}
.warning-symbol {
	color: $color-mythic-lighter;
	display: inline-block;
	cursor: default;
	font-size: 80%;
}
.mana-symbol {
	$common-mana-symbol-size: .875em;

	border-radius: 50%;
	width: $common-mana-symbol-size;
	height: $common-mana-symbol-size;
	line-height: 1;
	margin: 0 0 0 2px;
	box-shadow: inset .75px -1.5px 0px .5px rgba(#000, .75);
	background: $color-mana-generic;
	color: #000;
	font-weight: $font-weight-semibold;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	cursor: default;
	overflow: hidden;
	letter-spacing: divide(-1em, 12);
	padding-right: divide(1em, 12);

	&:first-of-type {
		margin-left: 0;
	}
	&.white {
		background: $color-mana-white;

		div {
			transform: scaleX(.8);
		}
	}
	&.blue {
		background: $color-mana-blue;
	}
	&.black {
		background: $color-mana-black;
	}
	&.red {
		background: $color-mana-red;
	}
	&.green {
		background: $color-mana-green;
	}
	&.hybrid {
		background: $color-mana-hybrid;
		font-size: 50%;
		line-height: 1.875;
		width: $common-mana-symbol-size * 2;
		height: $common-mana-symbol-size * 2;
		text-align: center;
	}
	&[title] {
		cursor: help;
	}
}
.rarity-symbol {
	border-radius: $border-radius-button;
	width: 1.3820em;
	min-width: 1.3820em; // Needed so that the .rarity element doesn't get squished by a very long .type element.
	text-align: center;
	box-shadow: inset 0 0 1px 1px rgba(#000, .5);
	margin-right: -.1667em;
	font: bold 75%/#{$line-height-standard*.8333} 'Trebuchet MS', sans-serif;
	padding: 1px 0;
	color: #000;
	text-shadow: 0 0 1.5px #fff;
	cursor: help;
	
	&.common {
		background: #111;
		box-shadow: inset 0 0 0 1px #ddd;
		color: #ddd;
		text-shadow: none;
	}
	&.uncommon {
		background: linear-gradient(-60deg,
			darken($color-rarity-silver, 25%),
			lighten($color-rarity-silver, 20%),
			darken($color-rarity-silver, 25%)
		) $color-rarity-silver;
	}
	&.rare {
		background: linear-gradient(-60deg,
			darken($color-rarity-gold, 25%),
			lighten($color-rarity-gold, 20%),
			darken($color-rarity-gold, 25%)
		) $color-rarity-gold;
	}
	&.mythic {
		background: linear-gradient(-60deg,
			saturate(darken($color-mythic-orange, 6.25%), 16.67%),
			saturate(lighten($color-mythic-lighter, 12.5%), 33.33%),
			saturate(darken($color-mythic-orange, 6.25%), 16.67%)
		) $color-mythic-lighter;
	}
	&.special {
		background: linear-gradient(-60deg,
			darken($color-rarity-special, 25%),
			saturate(lighten($color-rarity-special, 20%), 25%),
			darken($color-rarity-special, 25%)
		) $color-rarity-special;
		color: #fff;
		text-shadow: 0 0 1.5px #000;
	}
}
.update-notif {
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: index($layers, update-notif);
	background: $color-mythic-lighter;
	padding: divide($lhse, 8) $lhse*.5;
	min-height: $height-app-header;
	color: #000;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		margin: 0;
	}
	strong {
		color: inherit;
	}
	button {
		margin-left: 1ch;
		display: inline-block;
		min-width: $lhse*4;
	}
	.reloading {
		font-style: italic;
	}
}
.scroll-to-top {
	position: fixed;
	bottom: divide($lhse, 3);
	right: divide($lhse, 3);
	z-index: index($layers, above-overlay);

	button {
		min-width: $lhse;
	}
}
.stt-fade-enter-active,
.stt-fade-leave-active {
  transition: opacity .25s ease-out;
}
.stt-fade-enter,
.stt-fade-leave-to {
  opacity: 0;
}
.resize-mana-symbols {
	grid-gap: 0 2px;
	justify-items: center;

	.mana-symbol {
		margin: 0;
	}
	&.one-mana {
		.mana-symbol {
			font-size: 225%;
		}
	}
	&.two-mana {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;

		.mana-symbol {
			font-size: 150%;
		}
	}
	&.three-mana {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr 1fr;

		.mana-symbol {
			font-size: 108.33%;
			grid-row: 2;
			grid-column: span 3;

			&:first-of-type {
				grid-row: 1;
				grid-column: span 6;
			}
		}
	}
	&.four-mana {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
		grid-gap: 2px;

		.mana-symbol {
			font-size: 108.33%;
		}
	}
	&.five-mana {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr 1fr;

		.mana-symbol {
			font-size: 83.33%;
			grid-row: 2;
			grid-column: span 4;
			
			&:first-of-type {
				grid-row: 1;
				grid-column: span 6;
				justify-self: flex-end;
			}
			&:nth-of-type(2) {
				grid-row: 1;
				grid-column: span 6;
				justify-self: flex-start;
			}
		}
	}
}

@media (max-width: ($min-width-app*.5)) {
	.update-notif {
		display: block;

		p {
			margin: 0;
		}
		button {
			margin: $lhse*.25 auto;
		}
	}
}
