.bg-overlay {
	@include overlay-bg;
	transition: all $transition-duration-standard ease;
}
.overlay-enter,
.overlay-leave-to {
  opacity: 0;
}
.intro-illustration {
	width: $max-width-content*.6180;
	margin: 0 auto;
	border: $border-image;
}
.scroll-to-top {
	position: fixed;
	bottom: divide($lhse, 3);
	right: divide($lhse, 3);
	z-index: index($layers, above-overlay);

	button {
		min-width: $lhse;
	}
}
.stt-fade-enter-active,
.stt-fade-leave-active {
  transition: opacity .25s ease-out;
}
.stt-fade-enter,
.stt-fade-leave-to {
  opacity: 0;
}
.bigger {
	font-size: $font-size-bigger;
}
