.warning-symbol {
	color: $color-mythic-lighter;
	display: inline-block;
	cursor: default;
	font-size: 83.33%;
}
.mana-symbol {
	$common-mana-symbol-size: .875em;

	border-radius: 50%;
	width: $common-mana-symbol-size;
	height: $common-mana-symbol-size;
	line-height: 1;
	margin: 0 0 0 2px;
	box-shadow: inset .75px -1.5px 0px .5px rgba(#000, .75);
	background: $color-mana-generic;
	color: #000;
	overflow: hidden;
	font-weight: $font-weight-semibold;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	
	&:first-of-type {
		margin-left: 0;
	}
	&.white {
		background: $color-mana-white;

		div {
			transform: scaleX(.8333);
		}
	}
	&.blue {
		background: $color-mana-blue;
	}
	&.black {
		background: $color-mana-black;
	}
	&.red {
		background: $color-mana-red;
	}
	&.green {
		background: $color-mana-green;
	}
	&.hybrid {
		background: $color-mana-hybrid;
		font-size: 50%;
		line-height: 1.875;
		width: $common-mana-symbol-size * 2;
		height: $common-mana-symbol-size * 2;
		text-align: center;
	}
}
.solo-message {
	background: $color-group-bg;
	border: $border-sections;
	border-radius: $border-radius-group;
	padding: $lhse/4 $lhse;
	margin: $lhse/2 auto;
	max-width: 64ch;
}
.page-not-found {
	img {
		display: block;
		margin: $lhse/2 auto $lhse;
		width: $lhse*16;
		height: auto;
		border: 1px solid darken($color-group-bg, 8.33%);
	}
	h2 {
		text-align: center;
	}
}
.deck-deleted {
	p {
		font-size: 116.67%;
		text-align: center;
	}
}
