.warning-symbol {
	color: $color-magic-orange;
	display: inline-block;
	cursor: default;
}
.deck-deleted {
	p {
		margin: 3em 1.5em;
		font-size: 1.125em;
		text-align: center;
	}
}
.mana-symbol {
	$common-mana-symbol-size: 1.375rem;

	border-radius: 50%;
	min-width: $common-mana-symbol-size;
	height: $common-mana-symbol-size;
	line-height: .833;
	margin: 0 .75px;
	text-align: center;
	box-shadow: inset .25px -1px 0px 0.5px rgba(#000, .667);
	background: $color-mana-generic;
	overflow: hidden;
	
	&.white {
		background: $color-mana-white;
	}
	&.blue {
		background: $color-mana-blue;
	}
	&.black {
		background: $color-mana-black;
	}
	&.red {
		background: $color-mana-red;
	}
	&.green {
		background: $color-mana-green;
	}
	&.hybrid {
		background: $color-mana-hybrid;
		font-size: .667em;
	}
}