.home-page {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: #000;
}
.intro {
	img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
		background: #2f3d4b; // The illustration's average color.
		animation: cinematic-fade-in 2.5s cubic-bezier(0, 0, 0, 1);
				
		@keyframes cinematic-fade-in {
			0%,
			8.33% {
				filter: brightness(0%) blur(8px);
				transform: scale(1.125);
			}
			100% {
				filter: brightness(100%) blur(0px);
				transform: scale(1);
			}
		}
	}
	.wrap {
		position: absolute;
		margin: 0 auto;
		top: 0;
		left: 0;
		right: 0;
	}
	.text-box {
		width: 25%;
		box-sizing: content-box;
		font-size: 116.67%;
		position: absolute;
		top: 8.333vh;
		right: $lhse;
		background: rgba(#000, .75);
		padding: 0 $lhse*.75;
		border-radius: $border-radius-group;
		border: $border-sections;
		box-shadow: -$lhse/8 $lhse/4 $lhse rgba(#000, .5);
		animation: animate-text-box .75s ease-out;
		animation-fill-mode: forwards;
		animation-delay: 2s;
		opacity: 0;
		color: $color-text-brighter;

		@keyframes animate-text-box {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		h2 {
			font-size: 112.5%;
			margin-top: $lhse/2;
		}
		.button-group {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: $lhse;
			justify-content: space-between;
			align-items: center;
			max-width: $lhse*12;
			margin: $lhse*.75 auto $lhse/2;

			button,
			.button {
				height: 100%;
				min-height: $lhse*1.5;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
.app-features {
	padding: $lhse 0;
	position: relative;
	background: $background-light-gradient;
	border-top: $border-special;

	h2,
	p,
	li {
		color: #000;
		text-shadow: -1px 1px 0 rgba(#fff, .2);
	}
	h2 {
		margin-top: 0;
	}
	.wrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0 $lhse;
	}
	.app-features-text {
		line-height: $line-height-standard*.875;
		max-width: $max-width-content;
		margin: 0 auto;

		ul {
			font-size: 120%;
			margin-bottom: 0;
		}
	}
	.button-group {
		grid-column: span 2;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid rgba(#000, .25);
		padding-top: $lhse;
		margin-top: $lhse*.75;

		button,
		.button {
			margin-right: 8.33%;
			margin-left: 8.33%;
			width: 25%;
			min-width: $lhse*5;
			height: 100%;
			min-height: $lhse*1.5;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 112.5%;
		}
	}
}

@media (max-width: $width-site-breakpoint) {
	.intro {
		.text-box {
			top: $lhse;
			font-size: 1em;
		}
	}
	.app-features {
		.app-features-text {
			ul {
				font-size: 100%;
			}
		}
	}
}
@media (max-width: $width-site-breakpoint-tablet) {
	.intro {
		.wrap {
			position: relative;
			background: $color-group-bg;
			border-top: $border-sections;
		}
		img {
			margin-bottom: -12.5%;
		}
		.text-box {
			position: static;
			top: 0;
			width: 100%;
			max-width: $max-width-content;
			margin: 0 auto;
			padding: $lhse/4 0;
			background: none;
			border: 0;
			border-radius: 0;
			box-sizing: border-box;
			box-shadow: none;
			opacity: 1;
			animation: none;
			text-align: center;
		}
	}
	.app-features {
		.wrap {
			grid-gap: 0 $lhse*.75;
		}
	}
}
@media (max-width: 840px) { // Max-width must match the "sizes" media query in the img element.
	.intro {
		img {
			margin-bottom: 0;
		}
	}
	.app-features {
		padding-top: $lhse;
		padding-bottom: $lhse;

		.wrap {
			display: block;
		}
		img {
			margin: 0 auto $lhse;
		}
		.app-features-text {
			li {
				padding: 0;
			}
		}
	}
}
@media (max-width: $width-site-breakpoint-tablet/2) {
	.app-features {
		.button-group {
			display: block;
			margin-top: $lhse/2;

			button,
			.button {
				margin: 0 auto $lhse/2;
			}
		}
	}
}
