.welcome {
	border-radius: $border-radius-group;
	border: $border-sections;
	overflow: hidden;
	background: $color-group-bg;

	.wrap {
		display: flex;
		align-items: center;
		padding: 0;
	}
	.illustration {
		position: relative;
		width: 75%;
		border-right: 1px solid #000;
		background-color: #68664f; // The average color of the illustration

		img {
			display: block;
			width: 100%;
			height: auto;
		}
		footer {
			position: absolute;
			bottom: 0;
			right: 0;
			font-style: italic;
	
			small {
				background: rgba(#000, .75);
				padding: $lhse/4 $lhse/2;
				color: $color-button-default;
			}
			a {
				&:active {
					color: #fff;
				}
			}
		}
	}
	.text-box {
		width: 25%;
		font-size: 108.33%;
		padding: ($line-height-standard*1rem);

		h2 {
			font-size: 125%;
			margin-top: $lhse/4;
		}
		strong i {
			font-family: $font-family-standard;
		}
	}
}