.welcome {
	border-radius: $border-radius-group;
	border: $border-sections;
	overflow: hidden;
	background: #28333f; // Illustration's average color.
	
	.wrap {
		display: flex;
		align-items: center;
		padding: 0;
	}
	.illustration {
		width: 75%;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.text-box {
		width: 25%;
		font-size: 108.33%;
		padding: $lhse/2;

		h2 {
			font-size: 125%;
			margin-top: $lhse/4;
		}
		strong i {
			font-family: $font-family-standard;
		}
	}
}

@media (max-width: $width-site-breakpoint) {
	.welcome {
		margin: 0;
		border: 0;
		border-radius: 0;

		.wrap {
			display: block;
			position: relative;
		}
		.illustration {
			width: auto;
			border: 0;
		}
		.text-box {
			width: 30%;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba(#000, .6667);
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 1em;
		}
	}
}