.welcome {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	
	.wrap {
		position: absolute;
		margin: 0 auto;
		top: 0;
		left: 0;
		right: 0;
	}
	.illustration {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
		background: #32404e; // The illustration's average color.
		min-width: $min-width-site;
	}
	.text-box {
		width: 25%;
		font-size: 108.33%;
		position: absolute;
		top: 8.333vh;
		right: $lhse;
		background: rgba($color-group-bg, .75);
		padding: 0 $lhse*.75;
		border-radius: $border-radius-group;
		border: $border-sections;
		box-shadow: -$lhse/8 $lhse/4 $lhse rgba(#000, .5);

		h2 {
			font-size: 125%;
			margin-top: $lhse/2;
		}
	}
}

@media (max-width: $width-site-breakpoint) {
	.welcome {
		.text-box {
			top: $lhse;
			font-size: 1em;

			p {
				line-height: $line-height-standard*.875;
			}
		}
	}
}