.sideboard-header {
	margin: divide($lhse, -3) 0 divide($lhse, 3);
	background: $color-mythic-very-dim;
	color: $color-text-over-mythic-very-dim;
	border-radius: 0;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	cursor: default;
	border-top: $border-sections;
	border-bottom: 3px solid $color-section-border-alt;
	box-shadow: 0 1px 0 rgba(#000, .0833);
	height: $lhse*2.25; // A particular height that prevents wider gaps between card buttons in the card list at all viewport widths due to pixel rounding by the browser.

	h3,
	h4,
	p {
		margin: 0;
		color: $color-text-over-mythic-very-dim;
	}
	h3 {
		align-self: center;
	}
	h3,
	.sideboard-card-total {
		padding: $lhse*.375 $lhse*.5;
	}
	h4 {
		@include label-text-style;
		text-align: right;
		margin-right: $lhse*.5;
	}
	.output {
		font-size: 200%;
		line-height: 1;
		margin-top: divide(-$lhse, 12);
		display: flex;
		align-items: center;
	}
	.warning-symbol {
		margin-left: .25em;
	}
	.sideboard-card-total {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		border-left: $border-sections-alt;
		padding-left: $lhse*.5;
	}
}

@media (max-width: ($min-width-app * .4167)) {
	.sideboard-header {
		display: block;
		padding: 0;
		height: auto;

		h3 {
			text-align: center;
			padding: $lhse*.25;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}
		.sideboard-card-total {
			justify-content: center;
			border-left-width: 0;
			border-top: $border-sections-alt;
			padding: $lhse*.25;
		}
	}
}
