.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: $width-site;
	width: 100%;
	margin: 0 auto;
	padding: 0 1.5em;

	h1 {
		margin: .5em 0;
		line-height: 1;
		font-size: 1.5em;
		text-shadow: 0 0 .75em rgba(#000, .6667);
		
		a {
			color: #fff;

			&,
			&:hover,
			&:focus {
				text-decoration: none
			}
		}
	}
}