.site-footer {
	font-size: 75%;
	letter-spacing: (1/256)*1em;
	background: #000;
	color: desaturate(darken($color-text, 25%), 12.5%);
	position: relative;
	padding: $lhse 0;

	span {
		margin: 0 .5em;
	}
	a {
		&:link,
		&:visited {
			color: desaturate($color-mythic-orange, 25%);
		}
		&:hover,
		&:focus {
			color: $color-mythic-lighter;
		}
		&:active {
			color: #fff;
		}
	}
}
