.site-header {
	background: $color-group-bg;
	border-bottom: $border-special;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: index($layers, site-header);
	height: $height-site-header;
	display: flex;
	align-items: center;
	box-shadow: 0 1px $lhse/4 rgba(#000, .5);

	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.site-title {
		a {
			text-decoration: none;
			color: $color-text-brighter;
			transition-duration: $transition-duration-standard;
	
			&:hover,
			&:focus {
				color: $color-link-focus;
			}
			&:active {
				color: $color-link;
			}
		}
	}
	.by-iristorm {
		display: inline-block;
		color: darken($color-text, 8.33%);
		font-size: 87.5%;

		a {
			@include heading-font;
			display: inline-block;
			margin: 0 .125ch;
		}
	}
	h1 {
		margin: $lhse/4 1ch $lhse/4 0;
		font-size: 1.25em;
		display: inline-block;
	}
	button {
		&:disabled {
			opacity: .5;
			box-shadow: none;
			margin: 0;
			cursor: not-allowed;
		}
	}
	.site-menu {
		margin-bottom: -2px;
		
		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: $lhse/2;
			align-items: center;
		}
		li {
			display: block;
			margin: 0;
			padding: 0;
		}
		button {
			&.attention:not(:disabled) {
				animation: flash .1667s linear;
				animation-iteration-count: 6;
				animation-direction: alternate;
	
				@keyframes flash {
					33.33% {
						filter: brightness(100%);
					}
					100% {
						filter: brightness(200%);
					}
				}
			}
		}
	}
	.site-header-link {
		> a,
		> button {
			@extend button;
			margin-right: 0;
			margin-left: 0;
			display: block;
			width: 100%;

			&:hover,
			&:focus {
				@extend button:hover
			}
		}
	}
	.open-deck-heading {
		display: none;
	}
	.deck-selector {
		position: relative;
		z-index: index($layers, deck-menu-group);
	}
	.deck-menu {
		position: relative;
		z-index: index($layers, deck-menu-group);

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			border: $border-sections;
			background: desaturate(darken($color-mythic-orange, 25%), 12.5%);
			background: $color-group-bg;
			position: absolute;
			top: 2.25em;
			right: 0;
			box-shadow: -.125em .25em .5em rgba(#000, .5);
			min-width: 100%;
			max-height: calc(75vh);
			overflow-y: auto;
		}
		li {
			padding: 0;
		}
		a {
			@include heading-font;
			padding: $lhse/4 $lhse/2;
			display: block;
			max-width: 24em;
			text-overflow: ellipsis;
			overflow-x: hidden;
			white-space: nowrap;
			transition-duration: 0s;
			text-decoration: none;

			&:hover,
			&:focus {
				background: $color-hover-bg;
			}
			&:active {
				background: $color-mythic-orange;
			}
		}
	}
}

@media (max-width: $width-site-breakpoint) {
	.site-header {
		.site-menu {
			> ul {
				grid-gap: $lhse/3;
			}
		}
	}
}
@media (max-width: $min-width-site) {
	.site-header {
		.wrap {
			display: flex;
		}
		.site-title {
			white-space: nowrap;
			margin-right: $lhse/2;
		}
		.by-iristorm {
			display: none;
		}
		.site-menu {
			> ul {
				// display: flex;
				// justify-content: flex-end;
				width: 100%;
			}
		}
	}
}
@media (max-width: $min-width-site*.875) {
	.site-header {
		height: auto;

		.wrap {
			display: block;
		}
		.site-title {
			width: 100%;
			text-align: center;
		}
		.by-iristorm {
			display: inline-block;
		}
		.site-menu {
			padding-bottom: $lhse/4;
		}
	}
}
@media (min-width: ($min-width-site*.625 + 1)) {
	.site-header {
		.toggler {
			display: none;
		}
		.site-menu {
			display: block !important; // Needs "!important" because of JavaScript effect.
		}
	}
}

@media (max-width: $min-width-site*.625) {
	.site-header {
		.wrap {
			display: flex;
		}
		.site-title {
			text-align: left;
			width: auto;
			display: inline-block;
		}
		.by-iristorm {
			display: none;
		}
		.site-menu {
			position: absolute;
			right: $lhse/2;
			top: $height-site-header;
			background: $color-group-bg;
			width: auto;
			border: $border-sections;
			padding-bottom: 0;
			box-shadow: -$lhse/12 $lhse/12 $lhse/4 rgba(#000, .5);
			margin: -$lhse/8 0 0;
			overflow-y: auto;
			max-height: 75vh;
			max-width: $lhse*9;

			ul {
				display: block;
				background: none;

				li {
					display: block;
					
					&.site-header-link {
						a,
						button {
							display: block;
							height: auto;
							min-width: auto;
							padding: $lhse/4 $lhse/2;
							background: none;
							border: none;
							color: $color-mythic-orange;
							text-shadow: none;
							box-shadow: none;
							margin: 0;
							filter: none;
							border-radius: 0;
							transition: none;
							text-align: right;
							font-size: 100%;
							line-height: $line-height-standard;

							&:hover,
							&:focus {
								color: $color-mythic-lighter;
								background: $color-hover-bg;
								filter: none;
							}
							&:active {
								color: #fff;
								background: $color-mythic-orange;
							}
						}
					}
				}
				.deck-menu {
					background: #000;
				}
			}
		}
		.open-deck-heading {
			@include heading-font;
			display: block;
			text-align: right;
			padding: $lhse/8 $lhse/2;
			color: desaturate(darken($color-text, 25%), 12.5%);
			font-size: 75%;
			text-transform: uppercase;
		}
		.deck-menu {
			border: 1px solid darken($color-text, 62.5%);
			border-right-width: 0;
			border-left-width: 0;

			> button {
				display: none !important;
			}
			ul {
				display: block !important;
				position: static;
				border: 0;
				box-shadow: none;
				overflow: visible;
			}
			li {
				text-align: right;

				a {
					font-family: $font-family-standard;
					font-weight: $font-weight-normal;
				}
			}
		}
	}
}
