.site-header {
	background: lighten($color-group-bg, 8.33%);
	border-bottom: $border-special;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: index($layers, site-header);
	height: $height-site-header;
	display: flex;
	align-items: center;
	box-shadow: 0 1px $lhse/4 rgba(#000, .5);

	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.site-title {
		a {
			text-decoration: none;
			color: $color-text-brighter;
			transition-duration: $transition-duration-standard;
	
			&:hover,
			&:focus {
				color: $color-link-focus;
			}
			&:active {
				color: $color-link;
			}
		}
	}
	.by-iristorm {
		display: inline-block;
		color: darken($color-text, 8.33%);
		font-size: 87.5%;

		a {
			@include heading-font;
			display: inline-block;
			margin: 0 .125ch;
		}
	}
	h1 {
		margin: $lhse/4 1ch $lhse/4 0;
		font-size: 1.25em;
		display: inline-block;
	}
	button {
		&:disabled {
			opacity: .5;
			box-shadow: none;
			margin: 0;
			cursor: not-allowed;
		}
	}
	.site-menu-toggler {
		display: none;
	}
	.site-menu {
		margin-bottom: -2px;

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: $lhse/2;
			align-items: center;
		}
		li {
			display: block;
			margin: 0;
			padding: 0;
		}
		a,
		button {
			&:hover,
			&:focus {
				position: relative;
				z-index: index($layers, above-overlay);
			}
		}
		button {
			&.attention:not(:disabled) {
				animation: flash .1667s linear;
				animation-iteration-count: 6;
				animation-direction: alternate;
	
				@keyframes flash {
					33.33% {
						filter: brightness(100%);
					}
					100% {
						filter: brightness(200%);
					}
				}
			}
		}
	}
	.site-header-link {
		> a,
		> button {
			@include button;
			margin-right: 0;
			margin-left: 0;
			display: block;
			width: 100%;
			
			> span {
				display: none
			}
		}
	}
	.open-deck-heading {
		display: none;
	}
	.deck-menu-toggler {
		position: relative;
	}
	.deck-menu {
		position: relative;
		z-index: index($layers, above-overlay);

		.up-pointing-triangle {
			position: absolute;
			top: 2.25em;
			right: 0;
			z-index: index($layers, above-overlay);

			&::before {
				position: absolute;
				bottom: 100%;
				right: $lhse*1.6667;
				border: solid transparent;
				content: "";
				height: 0;
				width: 0;
				pointer-events: none;
				border-color: transparent;
				border-bottom-color: $color-mythic-dim;
				border-width: $lhse/4;
			}
		}
		ul {
			@include popup;
			list-style: none;
			margin: 0;
			padding: 0;
			min-width: 100%;
			max-height: 75vh;
			overflow-y: auto;
		}
		li {
			padding: 0;
		}
		a {
			padding: $lhse/4 $lhse/2;
			display: block;
			max-width: 24em;
			text-overflow: ellipsis;
			overflow-x: hidden;
			white-space: nowrap;
			transition-duration: 0s;
			text-decoration: none;
			font-weight: $font-weight-semibold;
			color: #000;
		
			&:hover,
			&:focus {
				background: rgba(#fff, .375)
			}
			&:active {
				background: $color-mythic-orange;
				color: #fff;
			}
		}
	}
}

@media (max-width: $width-site-breakpoint) {
	.site-header {
		height: $height-site-header * .875; // Equal to percentage of font-size change.

		.wrap {
			> * {
				font-size: 87.5%;
			}
		}
		.site-menu {
			> ul {
				gap: $lhse/3;
			}
		}
	}
}
@media (max-width: $min-width-site) {
	.site-header {
		.wrap {
			display: flex;
		}
		.site-title {
			white-space: nowrap;
			margin-right: $lhse/2;
		}
		.site-menu {
			> ul {
				width: 100%;
			}
		}
	}
}
@media (max-width: $min-width-site*.875) {
	.site-header {
		.by-iristorm {
			display: none;
		}
		.site-menu {
			&::before {
				position: absolute;
				bottom: 100%;
				right: $lhse*1.3333;
				border: solid transparent;
				content: "";
				height: 0;
				width: 0;
				pointer-events: none;
				border-color: transparent;
				border-bottom-color: $color-mythic-dim;
				border-width: $lhse/3;
			}
		}
		.site-header-link {
			> a,
			> button {
				> span {
					display: inline;
				}
			}
		}
	}
}
@media (max-width: 720px) { // Must match JavaScript
	.site-header {
		.site-title {
			text-align: left;
			width: auto;
			display: inline-block;
		}
		.by-iristorm {
			display: none;
		}
		.site-menu-toggler {
			z-index: index($layers, above-overlay);
			font-size: 87.5%;
			display: block;
		}
		.site-menu {
			@include popup;
			position: absolute;
			right: $lhse/4;
			top: $height-site-header;
			margin: -$lhse/8 0 0;
			z-index: index($layers, above-overlay);

			> ul {
				overflow-y: auto;
				max-height: 75vh;
				max-width: $lhse*9;
				width: auto;
			}
			ul {
				display: block;
				background: none;

				li {
					display: block;
					
					&.site-header-link {
						a,
						button {
							display: block;
							height: auto;
							min-width: auto;
							padding: $lhse/4 $lhse/2;
							background: none;
							color: #000;
							border: none;
							text-shadow: none;
							box-shadow: none;
							margin: 0;
							filter: none;
							border-radius: 0;
							transition: none;
							text-align: right;
							font-size: 100%;
							line-height: $line-height-standard;
							font-weight: $font-weight-semibold;
							
							&:hover,
							&:focus {
								background: rgba(#fff, .375);
								filter: none;
							}
							&:active {
								background: $color-mythic-orange;
								color: #fff;
							}
						}
					}
				}
				.deck-menu {
					background: rgba($color-mythic-lighter, .25);
					border: 1px solid desaturate($color-mythic-lighter, 33.33%);
					border-right-width: 0;
					border-left-width: 0;
				}
			}
		}
		.open-deck-heading {
			display: block;
			text-align: right;
			cursor: default;
			
			strong {
				@include heading-font;
				padding: $lhse/8 $lhse/2;
				color: $color-mythic-dim;
				font-size: 75%;
				text-transform: uppercase;
			}
		}
		.deck-menu-toggler {
			display: none !important;
		}
		.deck-menu {
			.up-pointing-triangle {
				display: block !important;
				position: static;

				&::before {
					display: none;
				}
			}
			ul {
				border: 0;
				box-shadow: none;
				overflow: visible;
			}
			li {
				text-align: right;
			}
		}
	}
}
.bg-overlay {
	@include overlay-bg;
	transition: all $transition-duration-standard ease;
}
.overlay-enter,
.overlay-leave-to {
  opacity: 0;
}
