.site-footer {
	font-size: .833em;
	padding: .75em 1.5em;
	background: rgba(#000, .5);
	color: #999;
	text-align: center;
	position: relative;
	max-width: $width-site;
	margin: 0 auto;

	p {
		margin: .375em .75em;
	}
	a {
		&:active {
			color: #fff;
		}
	}
	.app-reset {
		position: absolute;
		top: 1.5em;
		right: 1.5em;
		font-size: .833em;
		text-transform: uppercase;
		opacity: .833;

		&:hover,
		&:focus,
		&:active {
			opacity: 1;
		}
	}
}