.mana-symbol {
	$common-mana-symbol-size: .8em;

	border-radius: 50%;
	width: $common-mana-symbol-size;
	height: $common-mana-symbol-size;
	background: $color-mana-generic;
	font: $font-weight-semibold #{100%}/#{1} $font-family-standard;
	color: #000;
	text-shadow: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: default;
	overflow: hidden;

	&.white {
		background: $color-mana-white;

		div {
			transform: scaleX(.8);
		}
	}
	&.blue {
		background: $color-mana-blue;
	}
	&.black {
		background: $color-mana-black;
	}
	&.red {
		background: $color-mana-red;
	}
	&.green {
		background: $color-mana-green;
	}
	&.hybrid,
	&.long-hybrid {
		background: $color-mana-hybrid;
		font-size: 120%;

		div {
			transform: scale(.5);
			line-height: $common-mana-symbol-size*2;
			letter-spacing: divide(1em, -12);
			text-indent: divide(1em, -6);
		}
	}
	&.long-hybrid {
		div {
			transform: scale(1) translateY(-.25em);
			letter-spacing: normal;
			text-indent: 0;
		}
	}
	&[title] {
		cursor: help;
	}
}
.size-mana-symbols {
	grid-gap: 0 2px;
	justify-items: center;

	.mana-symbol {
		margin: 0;
	}
	&.one {
		.mana-symbol {
			font-size: 200%;
		}
	}
	&.two {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;

		.mana-symbol {
			font-size: 150%;
		}
	}
	&.three {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr 1fr;

		.mana-symbol {
			grid-row: 2;
			grid-column: span 3;

			&:first-of-type {
				grid-row: 1;
				grid-column: span 6;
			}
		}
	}
	&.four {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
		grid-gap: 2px;
	}
	&.five {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr 1fr;

		.mana-symbol {
			font-size: 83.33%;
			grid-row: 2;
			grid-column: span 4;

			&:first-of-type {
				grid-row: 1;
				grid-column: span 6;
				justify-self: flex-end;
			}
			&:nth-of-type(2) {
				grid-row: 1;
				grid-column: span 6;
				justify-self: flex-start;
			}
		}
	}
}
.rarity-symbol {
	border-radius: $border-radius-button;
	min-width: 19px; // Needed so that the .rarity element doesn't get squished by a very long .type element.
	text-align: center;
	font: 800 12px/15px 'Ysabeau', 'Trebuchet MS', sans-serif;
	cursor: default;
	outline: 1px solid #000;
	color: $color-text-buttons;
	text-shadow: none;

	&[title] {
		cursor: help;
	}
	> div {
		transform: scaleX(1.25);
		backface-visibility: hidden;
	}
	&.common {
		background: lighten(#000, 20%);
		outline-color: darken(#fff, 4.17%);
		color: darken(#fff, 8.33%);
	}
	&.uncommon {
		background: linear-gradient(-60deg,
			darken($color-rarity-silver, 20%),
			lighten($color-rarity-silver, 20%),
			darken($color-rarity-silver, 20%)
		) $color-rarity-silver;
		text-shadow: -.375px .5px 0 rgba(#fff, .75);
	}
	&.rare {
		background: linear-gradient(-60deg,
			darken($color-rarity-gold, 20%),
			lighten($color-rarity-gold, 20%),
			darken($color-rarity-gold, 20%)
		) $color-rarity-gold;
		text-shadow: -.375px .5px 0 rgba(#fff, .5);
	}
	&.mythic {
		background: linear-gradient(-60deg,
			saturate(darken($color-rarity-mythic, 6.25%), 25%),
			saturate(lighten($color-mythic-lighter, 6.25%), 8.33%),
			saturate(darken($color-rarity-mythic, 6.25%), 25%)
		) $color-mythic-lighter;
		text-shadow: -.375px .5px 0 rgba(#fff, .25);
	}
	&.special {
		background: linear-gradient(-60deg,
			darken($color-rarity-special, 25%),
			saturate(lighten($color-rarity-special, 20%), 25%),
			darken($color-rarity-special, 25%)
		) $color-rarity-special;
		outline-color: darken(#fff, 4.17%);
		color: darken(#fff, 4.17%);
		text-shadow: .375px -.5px 0 rgba(#000, .5);
	}
}
.warning-symbol {
	color: darken($color-rarity-gold, 12.5%);
	font-size: 60%;
	margin-top: divide($lhse, 6);

	&[title] {
		cursor: help;
	}
}
