h1,
h2,
h3,
h4 {
	@include heading-font;
	line-height: 1;
}
p {
	margin: $lhse/2 0;
}
strong,
b {
	@include heading-font;
}
::selection {
	background: $color-mythic-orange;
	color: #fff;
	text-shadow: none;
}