@use "sass:math";
@function divide($dividend, $divisor) {
	@return math.div($dividend, $divisor)
}

// COLORS
$color-mythic-orange: #ea4b12; // Sampled
$color-mythic-lighter: #ff9624; // #FFF with overlay blend on mythic-orange
$color-mythic-complement: #15b4ed; // Inverted mythic-orange
$color-mythic-lighter-complement: #0069db; // #FFF with overlay blend on mythic-orange-complement
$color-mythic-dim: desaturate(darken($color-mythic-orange, 16.67%), 25%);
$color-mythic-very-dim: darken(desaturate($color-mythic-orange, 75%), 25%); // Darkened to match brightness level of $color-heading-bg.
$color-mythic-pale: desaturate(lighten($color-mythic-lighter, 20%), 62.5%);

$color-rarity-gold: lighten(#C19C00, 20%); // Sampled from Scryfall
$color-rarity-silver: lighten(#6C848C, 25%); // Sampled from Scryfall
$color-rarity-special: #905D98; // Sampled from Scryfall
$color-mana-white: desaturate(lighten(#fffcd5, 3.125%), 41.67%); // Sampled
$color-mana-blue: adjust_hue(#aae1fa, 5.625deg); // Sampled
$color-mana-black: adjust_hue(desaturate(lighten(#00032a, 62.5%), 93.75%), 22.5deg); // Inverted mana-white
$color-mana-red: adjust_hue(#f9aa8f, -2.8125deg); // Sampled
$color-mana-green: adjust_hue(#9bd3ae, -5.625deg); // Sampled
$color-mana-generic: desaturate(#ccc2c0, 50%); // Sampled
$color-mana-hybrid: desaturate(lighten($color-rarity-gold, 12.5%), 16.67%);

$color-link: saturate(lighten($color-mythic-orange, 8.33%), 16.67%);
$color-link-focus: saturate($color-mythic-lighter, 25%);
$color-content-bg: darken(desaturate($color-mythic-complement, 68.75%), 12.5%);
$color-group-bg: desaturate(darken($color-mythic-complement, 37.5%), 66.67%);
$color-text: lighten($color-group-bg, 68.75%);
$color-text-brighter: lighten($color-text, 6.25%);
$color-text-card-button: #000;
$color-button-default: lighten(desaturate($color-mythic-complement, 62.5%), 6.25%);
$color-input-bg: desaturate(lighten($color-mythic-complement, 33.33%), 62.5%);
$color-hover-bg: lighten($color-group-bg, 6.25%);
$color-section-border: desaturate(lighten($color-group-bg, 25%), 6.25%);
$color-heading-bg: darken($color-content-bg, 16.67%);

$color-frame-land: desaturate(lighten($color-mythic-lighter, 20%), 80%);
$color-frame-white: desaturate(darken($color-mana-white, 1.5625%), 33.33%);
$color-frame-blue: desaturate(lighten($color-mana-blue, 3.125%), 41.67%);
$color-frame-black: desaturate(darken($color-mana-black, 3.125%), 3.125%);
$color-frame-red: desaturate(lighten($color-mana-red, 8.33%), 50%);
$color-frame-green: desaturate(lighten($color-mana-green, 8.33%), 20%);
$color-frame-multicolor: desaturate(lighten($color-mana-hybrid, 3.125%), 33.33%);
$color-frame-generic: desaturate(lighten($color-rarity-silver, 8.33%), 8.33%);

// TEXT
$font-family-standard: 'Crimson Pro', serif;
$line-height-standard: 1.5;
$lhse: $line-height-standard * 1em;
$font-weight-normal: 300;
$font-weight-semibold: 500;
$text-shadow-over-light-bg: .5px -1px 1px rgba(#000, .333);

// WIDTHS
$min-width-app: 960px;
$width-mobile-breakpoint: $min-width-app * .625;
$width-app-breakpoint: $min-width-app*1.375;
$width-app-breakpoint-tablet: 1024px;
$max-width-app: 1440px;
$max-width-content: 64ch;

// MISCELLANEOUS
$box-shadows-card-button:
	inset -.75px 1.5px 0 1px rgba(#fff, .5),
	inset .75px -1.5px 0 1px rgba(#000, .5);
$border-radius-button: #{$lhse} / #{$lhse * 2};
$border-radius-group: $lhse*.5;
$layers: card-list-item-focus-within, card-list-item-hover, app-header, update-notif, bg-overlay, above-overlay, app-menu-toggler, card-overlay;
$transition-duration-standard: .25s;
$border-sections: 1px solid $color-section-border;
$border-image: 2px solid darken($color-group-bg, 6.25%);
$border-top-width-button: 0;
$border-bottom-width-button: 2px;
$height-app-header: $lhse*1.6667;
$background-light-gradient:
	radial-gradient(farthest-corner at 50% 0,
		desaturate(lighten($color-mythic-lighter, 25%), 62.5%),
		desaturate(lighten($color-mythic-lighter, 12.5%), 62.5%)
	)
	$color-mythic-pale;
$box-shadow-buttons:
	0 1px 0 1px rgba(#000, .75), // The edge of the hole around the button
	-1px .167em .125em 1px rgba(#000, .333); // The shadow of the button

$x: 2px dashed rgba(#c0f, .75);

@mixin heading-font {
	font-family: 'Philosopher', $font-family-standard;
	font-weight: bold;
}
@mixin popup {
	box-shadow: -.125em .25em .5em rgba(#000, .5);
	background: $background-light-gradient;
	border: 2px solid $color-mythic-orange;
	border-radius: $lhse*.25;
}
@mixin overlay-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: index($layers, bg-overlay);
	background: rgba($color-content-bg, .5);
	backdrop-filter: blur(3px);
}
@mixin button {
	background:
		radial-gradient(
			rgba(#fff, .667) 0%,
			rgba(#fff, 0) 100%,
		),
		linear-gradient(
			lighten($color-button-default, 25%) 0%,
			darken($color-button-default, 25%) 98%,
			lighten($color-button-default, 8.33%) 100%
		);
	border-color: $color-button-default;
	cursor: pointer;
	box-shadow: $box-shadow-buttons;
	border-width: 0px;
	border-style: outset;
	border-top-width: $border-top-width-button;
	border-bottom-width: $border-bottom-width-button;
	color: #000;
	border-radius: $border-radius-button;
	padding: $lhse*.25 .5em;
	min-width: 4.5em;
	margin-top: -2px;
	margin-bottom: 2px;
	filter: brightness(1);
	transition: filter $transition-duration-standard ease;
	line-height: 1;
	text-align: center;
	text-shadow: -.5px 1px .5px rgba(#fff, .25);
	font-weight: $font-weight-semibold;
	text-decoration: none;
	display: inline-block;

	&:hover,
	&:focus {
		filter: brightness(1.25);
		outline: none;
		color: #000;
		transition: filter $transition-duration-standard ease;
		text-decoration: none;
	}
	&:active {
		border-top-width: 1px;
		border-bottom-width: 1px;
		box-shadow: 0 0 0 1px rgba(#000, .75);
		margin-top: 0;
		margin-bottom: 0;
	}
	&:focus-visible {
		outline: 2px solid $color-mythic-orange;
	}
	&[type="submit"],
	&.primary-btn {
		@include primary-btn;	
	}
	&:disabled {
		filter: grayscale(.3333) brightness(.6667) !important;
		color: rgba(#000, .6667);
		cursor: not-allowed;
		box-shadow: none;
		margin: 0;

		&:active {
			border-top-width: $border-top-width-button;
			border-bottom-width: $border-bottom-width-button;
		}
	}
}
@mixin link {
	color: $color-link;
	text-decoration: none;
	transition: $transition-duration-standard ease;
	transition-property: color, text-decoration-color;
	padding: 0;
	margin: 0;
	background: none;
	border: 0;
	box-shadow: none;
	min-width: min-content;
	border-radius: 0;
	text-shadow: none;
	display: inline;
	text-align: left;
	filter: none;
	font-weight: normal;
	line-height: inherit;
	
	&:hover,
	&:focus {
		text-decoration: underline;
		transition-duration: 0s;
		color: $color-link-focus;
	}
	&:active {
		color: #fff;
	}
}
@mixin primary-btn {
	background:
		radial-gradient(
			rgba($color-link-focus, 1) 0%,
			rgba($color-link-focus, 0) 100%,
		),
		linear-gradient(
			lighten($color-link, 25%) 0%,
			$color-link,
			darken($color-link, 25%) 98%,
			lighten($color-link, 8.33%) 100%
		);
	border-color: desaturate(darken($color-link, 8.33%), 16.67%);
	border-top-color: desaturate($color-link, 37.5%);
}
@mixin screen-readers-only {
	clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
@mixin pronounced-heading {
	background: $color-heading-bg;
	padding: divide($lhse, 3) divide($lhse, 3);
	margin: $lhse divide(-$lhse, 3) $lhse*.5; 
	border-radius: $border-radius-button;
}

@font-face {
	font-family: "Crimson Pro";
	src: url("~@/fonts/CrimsonPro-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Crimson Pro";
	src: url("~@/fonts/CrimsonPro-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Crimson Pro";
	src: url("~@/fonts/CrimsonPro-Medium.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "Philosopher";
	src: url("~@/fonts/Philosopher-Bold.ttf") format("truetype");
	font-weight: bold;
	font-display: swap;
}
