// COLORS
$color-mythic-orange: #ea4b12; // Sampled
$color-mythic-lighter: #ff9624; // #FFF with overlay blend on mythic-orange
$color-mythic-complement: #15b4ed; // Inverted mythic-orange
$color-mythic-lighter-complement: #0069db; // #FFF with overlay blend on mythic-orange-complement
$color-rarity-gold: lighten(#C19C00, 20%); // Sampled from Scryfall
$color-rarity-silver: lighten(#6C848C, 20%); // Sampled from Scryfall
$color-rarity-special: #905D98; // Sampled from Scryfall

$color-link: saturate(lighten($color-mythic-orange, 8.33%), 16.67%);
$color-link-focus: saturate(lighten($color-mythic-lighter, 8.33%), 16.67%);
$color-content-bg: darken(desaturate($color-mythic-complement, 75%), 8.33%);
$color-group-bg: desaturate(darken($color-mythic-complement, 33.33%), 75%);
$color-text: lighten($color-group-bg, 66.67%);
$color-text-brighter: lighten($color-text, 6.25%);
$color-button-default: lighten(desaturate($color-mythic-complement, 62.5%), 25%);
$color-input-bg: desaturate(lighten($color-mythic-complement, 37.5%), 66.67%);

$color-mana-white: desaturate(lighten(#fffcd5, 3.125%), 6.25%); // Sampled
$color-mana-blue: saturate(#aae1fa, 6.25%); // Sampled
// $color-mana-black: desaturate(lighten(#070927, 60%), 66.67%); // Inverted mana-white
$color-mana-black: desaturate(lighten(#00032a, 60%), 93.75%); // Inverted mana-white
$color-mana-red: saturate(#f9aa8f, 6.25%); // Sampled
$color-mana-green: saturate(#9bd3ae, 8.33%); // Sampled
$color-mana-generic: #ccc2c0; // Sampled
$color-mana-hybrid: desaturate(lighten($color-rarity-gold, 16.67%), 12.5%); // From `gold` named color

$color-frame-white:
	desaturate(lighten($color-mana-white, 3.125%), 0%);
$color-frame-blue:
	desaturate(lighten($color-mana-blue, 6.25%), 20%);
$color-frame-black:
	desaturate(darken($color-mana-black, 6.25%), 6.25%);
$color-frame-red:
	desaturate(lighten($color-mana-red, 12.5%), 8.33%);
$color-frame-green:
	desaturate(lighten($color-mana-green, 12.5%), 8.33%);
$color-frame-multicolor:
	desaturate(lighten($color-mana-hybrid, 8.33%), 6.25%);
$color-frame-generic:
	desaturate(lighten($color-mana-generic, 6.25%), 8.33%);
$color-frame-generic:
	desaturate(lighten($color-rarity-silver, 16.67%), 8.33%);

// TEXT
$font-family-standard: 'Crimson Pro', 'Palatino Linotype', serif;
$line-height-standard: 1.5;
$lhse: $line-height-standard * 1em;
$font-weight-semibold: 500;

// MISCELLANEOUS
$box-shadows-card-button:
	inset -.75px 1.5px 0 1px rgba(#fff, .5),
	inset .75px -1.5px 0 1px rgba(#000, .5);
$min-width-site: 960px;
$width-site-breakpoint: $min-width-site*1.25;
$width-site-breakpoint-tablet: 1024px;
$max-width-site: 1440px;
$border-radius-button: #{$lhse} / #{$lhse * 2};
$border-radius-group: $lhse/2;
$layers: site-header, bg-overlay, deck-menu-group;
$transition-duration-standard: .25s;
$border-sections: 2px solid lighten($color-group-bg, 37.5%);

$x: 2px dashed rgba(#c0f, .75);

@mixin heading-font {
	font-family: 'Philosopher', $font-family-standard;
	font-weight: bold;
}
@mixin box-shadow-hover-card-button($color) {
	box-shadow: 0 0 $lhse/2 3px $color;
}
