@use "sass:math";
@function divide($dividend, $divisor) {
	@return math.div($dividend, $divisor);
}

// COLORS
$color-mythic-orange: #ea4b12; // Sampled
$color-mythic-lighter: #ff9624; // #FFF with overlay blend on mythic-orange
$color-mythic-complement: #15b4ed; // Inverted mythic-orange
$color-mythic-lighter-complement: #0069db; // #FFF with overlay blend on mythic-orange-complement
$color-mythic-dim: desaturate(darken($color-mythic-orange, 16.67%), 37.5%);
$color-mythic-very-dim: darken(desaturate($color-mythic-orange, 75%), 25%); // Darkened to match brightness level of $color-heading-bg.
$color-text-over-mythic-very-dim: desaturate(lighten($color-mythic-very-dim, 62.5%), 4.17%);

$color-rarity-gold: desaturate(lighten(#C19C00, 20%), 20%); // Sampled from Scryfall
$color-rarity-silver: lighten(#6C848C, 25%); // Sampled from Scryfall
$color-rarity-mythic: desaturate($color-mythic-orange, 16.67%);
$color-rarity-special: #905D98; // Sampled from Scryfall
$color-mana-white: desaturate(lighten(#fffcd5, 3.125%), 41.67%); // Sampled
$color-mana-blue: adjust_hue(#aae1fa, 5.625deg); // Sampled
$color-mana-black: adjust_hue(desaturate(lighten(#00032a, 62.5%), 93.75%), 22.5deg); // Inverted mana-white
$color-mana-red: adjust_hue(#f9aa8f, -2.8125deg); // Sampled
$color-mana-green: adjust_hue(#9bd3ae, -5.625deg); // Sampled
$color-mana-generic: desaturate(#ccc2c0, 50%); // Sampled
$color-mana-hybrid: saturate(lighten($color-rarity-gold, 12.5%), 6.25%);

$color-link: saturate(lighten($color-mythic-orange, 12.5%), 6.25%);
$color-link-focus: saturate(lighten($color-mythic-lighter, 20%), 40%);
$color-content-bg: darken(desaturate($color-mythic-complement, 75%), 12.5%);
$color-group-bg: desaturate(darken($color-mythic-complement, 37.5%), 70.83%);
$color-text: lighten($color-group-bg, 66.67%);
$color-text-brighter: lighten($color-text, 6.25%);
$color-button-default: lighten(desaturate($color-mythic-complement, 66.67%), 20%);
$color-input-bg: desaturate(lighten($color-mythic-complement, 33.33%), 62.5%);
$color-section-border: darken($color-content-bg, 6.25%);
$color-section-border-alt: desaturate(lighten($color-mythic-very-dim, 20%), 6.25%);
$color-heading-bg: lighten($color-group-bg, 8.33%);

$color-frame-land: desaturate(lighten($color-mythic-lighter, 20%), 80%);
$color-frame-white: desaturate(darken($color-mana-white, 1.5625%), 33.33%);
$color-frame-blue: desaturate(lighten($color-mana-blue, 3.125%), 41.67%);
$color-frame-black: desaturate(darken($color-mana-black, 3.125%), 3.125%);
$color-frame-red: desaturate(lighten($color-mana-red, 8.33%), 50%);
$color-frame-green: desaturate(lighten($color-mana-green, 8.33%), 20%);
$color-frame-multicolor: desaturate(lighten($color-mana-hybrid, 6.25%), 25%);
$color-frame-generic: desaturate(lighten($color-rarity-silver, 8.33%), 8.33%);

// TEXT
$font-family-standard: 'Crimson Pro', serif;
$line-height-standard: 1 + divide(1, 3);
$lhse: $line-height-standard * 1em;
$font-weight-normal: 300;
$font-weight-semibold: 500;
$text-shadow-over-light-bg: .5px -1px 1px rgba(#000, .25);

// WIDTHS
$min-width-app: 960px;
$width-mobile-breakpoint: $min-width-app * .625;
$width-app-breakpoint: $min-width-app*1.375;
$width-app-breakpoint-tablet: 1024px - 1;
$max-width-app: 1440px - 1;
$max-width-content: 64ch;
$height-deck-control-panel-input: $lhse * 1.5;

// MISCELLANEOUS
$box-shadows-card-button:
	inset -.75px 1.5px 0 1px rgba(#fff, .5),
	inset .75px -1.5px 0 1px rgba(#000, .5);
$border-radius-button: #{$lhse} / #{$lhse * 2};
$border-radius-group: divide($lhse, 2);
$layers: card-list-item-focus-within, card-list-item-hover, app-header, update-notif, bg-overlay, above-overlay, app-menu-toggler, card-overlay;
$transition-duration-standard: .25s;
$border-sections: 1px solid $color-section-border;
$border-sections-alt: 1px solid $color-section-border-alt;
$border-image: 3px solid $color-heading-bg;
$border-bottom-width-button: $lhse*.125;
$height-app-header-short: $lhse*1.75;
$height-app-header-medium: $lhse*2;
$height-app-header-tall: $lhse*3;
$background-light-gradient:
	radial-gradient(farthest-corner at 50% 0,
		desaturate(lighten($color-mythic-lighter, 25%), 62.5%),
		desaturate(lighten($color-mythic-lighter, 12.5%), 62.5%)
	) desaturate(lighten($color-mythic-lighter, 20%), 62.5%);
$opacity-mana-symbols: .9167;

$x: 2px dashed rgba(#c0f, .75);

@mixin heading-font {
	font-family: 'Philosopher', $font-family-standard;
	font-weight: bold;
}
@mixin label-text-style {
	font-size: 75%;
	text-transform: uppercase;
}
@mixin popup {
	box-shadow: -.125em .25em .5em rgba(#000, .5);
	background: $background-light-gradient;
	border: 2px solid $color-mythic-orange;
	border-radius: $lhse*.25;
}
@mixin overlay-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: index($layers, bg-overlay);
	background: rgba(darken($color-content-bg, 12.5%), .5);
	backdrop-filter: blur(4px);
}
@mixin gradient-buttons($color-top-layer, $color-bottom-layer) {
	background:
		radial-gradient(
			rgba($color-top-layer, .875),
			rgba($color-top-layer, 0)
		),
		linear-gradient(
			lighten($color-bottom-layer, 12.5%),
			desaturate($color-bottom-layer, 6.25%),
			desaturate(darken($color-bottom-layer, 12.5%), 12.5%)
		);
}
@mixin button {
	@include heading-font;
	@include gradient-buttons(
		lighten($color-button-default, 12.5%),
		darken($color-button-default, 12.5%)
	);

	cursor: pointer;
	box-shadow: 
		0 1px 0 .5px #000, // Rim around button
		inset -.5px 1px 1px rgba(#fff, .25), // Thin shine at top of button
		-1px .167em .125em 1px rgba(#000, divide(1, 3)); // Shadow cast beneath button
	border: 0 solid desaturate(darken($color-button-default, 33.33%), 12.5%);
	border-bottom-width: $border-bottom-width-button;
	border-radius: $border-radius-button;
	padding: $lhse*.25 .5em;
	margin: -2px 0 2px;
	min-width: 4.5em;
	filter: brightness(1);
	transition: filter $transition-duration-standard ease;
	color: #000;
	line-height: 1;
	text-align: center;
	text-shadow: 0 0 $lhse*.25 rgba(#fff, .25);
	text-decoration: none;
	display: inline-block;
	
	&:hover,
	&:focus {
		filter: brightness(1.25);
		outline: none;
		color: #000;
		transition: filter $transition-duration-standard ease;
		text-decoration: none;
	}
	&:active {
		border-bottom-width: 1px;
		box-shadow: 0 0 0 .5px #000;
		margin-top: 0;
		margin-bottom: 0;
		filter: none;
	}
	&:focus-visible {
		outline: 2px solid $color-mythic-orange;
	}
	&[type="submit"],
	&.primary-btn {
		@include primary-btn;	
	}
	&:disabled {
		filter: grayscale(.3333) brightness(.6667) !important;
		color: rgba(#000, .6667);
		cursor: not-allowed;
		box-shadow: none;
		margin: 0;

		&:active {
			border-bottom-width: $border-bottom-width-button;
		}
	}
}
@mixin primary-btn {
	@include gradient-buttons(
		desaturate(lighten($color-mythic-lighter, 6.25%), 16.67%),
		desaturate(lighten($color-mythic-orange, 4.17%), 12.5%)
	);
	border-color: desaturate(darken($color-link, 25%), 37.5%);
}
@mixin link {
	color: $color-link;
	text-decoration: none;
	transition: $transition-duration-standard ease;
	transition-property: color, text-decoration-color;
	padding: 0;
	margin: 0;
	background: none;
	border: 0;
	box-shadow: none;
	min-width: min-content;
	border-radius: 0;
	text-shadow: none;
	display: inline;
	text-align: left;
	filter: none;
	font-weight: normal;
	line-height: inherit;
	
	&:hover,
	&:focus {
		text-decoration: underline;
		transition-duration: 0s;
		color: $color-link-focus;
	}
	&:active {
		color: #fff;
	}
}
@mixin link-alt {
	color: saturate(darken($color-mythic-lighter-complement, 6.25%), 50%);
	
	&:hover,
	&:focus {
		color: saturate(darken($color-mythic-complement, 6.25%), 50%);
	}
	&:active {
		color: #fff;
	}
}
@mixin screen-readers-only {
	clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
@mixin pronounced-heading {
	background: $color-heading-bg;
	padding: divide($lhse, 4) divide($lhse, 3);
	margin: $lhse*.75 divide(-$lhse, 3) $lhse*.25; 
	border-radius: $border-radius-button;
}

@font-face {
	font-family: "Crimson Pro";
	src: url("~@/fonts/CrimsonPro-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Crimson Pro";
	src: url("~@/fonts/CrimsonPro-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Crimson Pro";
	src: url("~@/fonts/CrimsonPro-Medium.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "Philosopher";
	src: url("~@/fonts/Philosopher-Bold.ttf") format("truetype");
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: "Ysabeau";
	src: url("~@/fonts/Ysabeau-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-display: swap;
}
