// COLORS
$color-mythic-orange: #ea4b12; // Actual
$color-mythic-lighter: saturate(lighten(#EA7212, 12.5%), 12.5%); // From Paletton
$color-mythic-complement: #0CA25E; // From Paletton
$color-mythic-bluer: #0B8E89; // From Paletton
$color-mythic-orange-lighter: saturate(lighten($color-mythic-orange, 8.33%), 50%);
$color-black-label: #0d0f0f; // Actual
$color-rarity-gold: lighten(desaturate(#ffd700, 0%), 12.5%);
$color-rarity-silver: lighten(#778899, 16.67%);

$color-content-bg: lighten(desaturate($color-mythic-complement, 83.33%), 8.33%);
$color-content-bg-bluer: desaturate($color-mythic-bluer, 83.33%);
$color-text: lighten($color-content-bg, 50%);
$color-button-default: lighten($color-content-bg, 41.67%);
$color-button-primary: lighten($color-mythic-orange, 12.5%);

$color-mana-white: lighten(#f8f6d8, 6.25%); // Actual
$color-mana-blue: saturate(#c1d7e9, 25%); // Actual
// $color-mana-black: #bab1ab; // Actual
$color-mana-black: desaturate(lighten(#9D93A7, 6.25%), 8.33%); // From Paletton, compliment to white mana.
$color-mana-red: saturate(#e49977, 8.33%); // Actual
$color-mana-green: saturate(#a3c095, 12.5%); // Actual
$color-mana-generic: #cac5c0; // Actual
$color-mana-hybrid: saturate(#eecb6b, 12.5%);

$color-frame-white:
	desaturate(darken($color-mana-white, 3.125%), 33.33%);
$color-frame-blue:
	desaturate(lighten($color-mana-blue, 6.25%), 12.5%);
$color-frame-black:
	desaturate(darken($color-mana-black, 6.25%), 6.25%);
$color-frame-red:
	desaturate(lighten($color-mana-red, 12.5%), 6.25%);
$color-frame-green:
	desaturate(lighten($color-mana-green, 12.5%), 8.33%);
$color-frame-multicolor:
	desaturate(lighten($color-mana-hybrid, 8.33%), 16.67%);
$color-frame-generic:
	desaturate(lighten($color-mana-generic, 8.33%), 16.67%);

// TEXT
$font-family-standard: 'Crimson Pro', 'Palatino Linotype', serif;
$line-height-standard: 1.5;
$lhse: $line-height-standard * 1em;

// MISCELLANEOUS
$box-shadows-card-button:
	inset .75px -1.5px .5px 1px rgba(#000, .375),
	inset -.75px 1.5px .5px 1px rgba(#fff, .625);
$text-shadow-colored-text: 0 0 2px rgba(#000, .75);
$width-site: 1440px;
$border-radius-button: #{$lhse} / #{$lhse * 2};
$layers: bg-overlay, deck-menu-group;

$x: 2px dashed rgba(#c0f, .75);

@mixin heading-font {
	font-family: 'Philosopher', $font-family-standard;
	font-weight: bold;
}
@mixin box-shadow-hover-card-button($color) {
  box-shadow: $box-shadows-card-button, 0 0 $lhse/2 2px $color;
}
