.welcome {
	width: 100%;
	
	.contents {
		background: url('../public/img/welcome.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-bottom: 0;
		min-height: 75vh;
		overflow: hidden;
	}
	.text-box {
		box-sizing: content-box;
		color: #000;
		max-width: 22rem;
		line-height: 1.5;
		text-shadow: 0 0 .5em linen;
		background: radial-gradient(
			circle,
			rgba(linen, .833) (16em * .625),
			rgba(linen, 0) 16em
		);
		padding: 8em;
		margin-top: -6.5em;
		margin-right: -7em;
	}
	h2 {
		font-size: 1.25em;
		margin-top: .375em;
		line-height: 1.25;
	}
	strong i {
		font-family: $font-family-standard;
	}
	footer {
		margin: 0 6px .75em; // Horizontal equal to content border width

		small {
			font-size: 83.33%;
		}
		a {
			&:active {
				color: #fff;
			}
		}
	}
}