// NOTE: This SCSS file excludes the styles for the header menu, which are in header-menu.scss instead.

@import 'variables';

:root {
	--header-height: #{$height-app-header-short};
}
.app-header {
	background: $color-mythic-dim;
	color: desaturate(lighten($color-mythic-dim, 40%), 6.25%);
	border: solid darken($color-mythic-dim, 12.5%);
	border-width: 1px 0;
	border-top-color: $color-mythic-dim;
	z-index: index($layers, app-header);
	height: var(--header-height);
	box-shadow: 0 0 0 1px rgba(#fff, .125);

	.root-home-page & {
		position: sticky;
		top: 0;
		box-shadow: 0 0 $lhse*.25 rgba(#000, .6667);
	}
	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}
	.app-title {
		@include heading-font;
		display: flex;
		align-items: flex-end;
		line-height: 1;
		white-space: nowrap;

		a {
			color: $color-app-header-link;
			text-decoration: none;
			text-shadow: 0 0 2px rgba(#000, .2);

			&:hover,
			&:focus {
				color: $color-app-header-link-hover;
			}
			&:active {
				color: $color-app-header-link-active;
			}
		}
	}
	h1 {
		margin: 0 .5em 0 0;
		font-size: 150%;
	}
	.by-iristorm {
		font-size: 87.5%;
		margin: ($lhse*.0625) 1em;
		margin-left: 0;
		cursor: default;

		> span {
			display: none;
		}
	}
}

@media (max-width: $min-width-app) {
	.app-header {
		.app-title {
			font-size: 87.5%;
		}
	}
}
@media (max-width: ($min-width-app*.8)) {
	:root {
		--header-height: #{$height-app-header-tall};
	}
	.app-header {
		padding-top: $lhse*.125;

		.wrap {
			flex-wrap: wrap;
			gap: divide($lhse, 3);
			align-content: center;
		}
		.app-title {
			margin: 0 auto (-$lhse*.125);
		}
	}
}
@media (max-width: $max-width-mobile-header-menu) {
	:root {
		--header-height: #{$height-app-header-medium};
	}
	.app-header {
		padding-top: $lhse*.25;
		padding-bottom: $lhse*.25;

		.wrap {
			display: grid;
			grid-template-columns: auto auto;
			justify-content: space-between;
			grid-gap: $lhse*.5;
			position: relative;
		}
		.app-title {
			flex-wrap: wrap;
			justify-content: flex-end;
			width: min-content;
			margin: 0;
		}
		h1 {
			margin: 0;
		}
		.by-iristorm {
			margin-right: $lhse*.125;

			a {
				display: none;
			}
			> span {
				display: inline;
			}
		}
	}
}
