@import 'variables';

.update-notification {
	z-index: index($layers, update-notif);
	background: $color-background-alt;
	padding: 0 $lhse*.5;
	color: #000;
	min-height: $height-app-header-short;
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		margin: $lhse*.25;
		line-height: 1;
		text-align: center;
	}
	strong {
		color: inherit;
	}
	.button-container {
		width: $lhse*3.5;
		height: $lhse*1.25;
		display: flex;
		align-items: center;
	}
	button {
		@include secondary-button;
		display: block;
		font-size: 87.5%;
		margin-right: auto;
		margin-left: auto;
	}
	.reloading {
		font-style: italic;
	}
}

@media (max-width: ($min-width-app*.5)) {
	.update-notification {
		flex-wrap: wrap;
		padding: 0 $lhse*.25;

		.button-container {
			margin: 0 0 $lhse*.25;
		}
	}
}
