@use "sass:color";
@import 'variables';

.app-footer {
	background: rgba($color-group-bg-lighter, .5);
	border-top: 1px solid $color-content-bg-lighter;
	position: relative;
	padding: $lhse*2 0;
	transform: translateZ(0); // This is to fix an odd page-rendering glitch in Chrome. Without it, the text in the footer dims whenever a button elsewhere on the page is hovered/focused.

	.root-home-page & {
		margin-top: 0;
		flex-grow: 1;
	}
	.wrap {
		max-width: $max-width-content;
		padding: 0 $lhse;
	}
	p {
		@include tiny-font-size;
	}
	.divider {
		margin: 0 .25em;
	}
	a {
		@include link-colors(desaturate(lighten($color-link, 4.17%), 25%));

		&:hover,
		&:focus {
			@include link-colors($color-link-focus);
		}
		&:active {
			@include link-colors($color-link-active);
		}
	}
}

@media (max-width: ($min-width-app*.75)) {
	.app-footer {
		p {
			&:first-of-type {
				line-height: $line-height-standard*1.5;
			}
		}
		a {
			display: inline-block;
		}
		.group {
			display: block;
			text-align: center;

			span {
				white-space: nowrap;
			}
		}
		.divider {
			&:first-of-type {
				display: none;
			}
		}
	}
}
