@use 'sass:list';
@use 'variables-and-mixins' as *;

.update-notification {
	@include sideboard-header-bg;
	z-index: list.index($layers, update-notif);
	padding: 0 $lhse*.5;
	min-height: $height-app-header-short;
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		margin: $lhse*.25;
		line-height: 1;
		text-align: center;
	}
	strong {
		color: $color-text-brighter-over-mythic-brown;
	}
	.button-container {
		height: $lhse*1.25;
		gap: $lhse*.5;
	}
	button,
	.button {
		background: $color-button-gray;
		font-size: 87.5%;
		margin-right: auto;
		margin-left: auto;
		height: $lhse*1.5;
	}
	.reloading-message {
		font-style: italic;
		font-weight: $font-weight-label;
		color: $color-text-brighter-over-mythic-brown;
	}
}

@media (max-width: ($min-width-app*.5)) {
	.update-notification {
		flex-wrap: wrap;
		padding: 0 $lhse*.25;

		.button-container {
			margin: 0 0 $lhse*.25;
		}
	}
}
