// NOTE: This SCSS file excludes the styles for the header menu, which are in _header-menu.scss instead.

@import 'variables';

:root {
	--header-height: #{$height-app-header-short};
	--header-top: calc(var(--header-height) * -1); // Multiplying a value by -1 is the only way to get a negative value with CSS custom properties.
}
.app-header {
	background: $color-mythic-dim;
	color: desaturate(lighten($color-mythic-dim, 45.83%), 8.33%);
	border: solid darken($color-mythic-dim, 8.33%);
	border-width: 2px 0;
	border-top-color: $color-mythic-dim;
	z-index: index($layers, app-header);
	height: var(--header-height);
	box-shadow: 0 1px 0 1px rgba(#fff, .0833);
	transition: all $transition-duration-standard ease;
	will-change: top;

	&.sticky {
		position: sticky;
		// `top` property gets set by JavaScript in AppHeader.vue
		left: 0;
		right: 0;
		box-shadow: 0 0 divide($lhse, 3) rgba(#000, .6180);
	}
	&.sliding-up {
		box-shadow: none; // Combined with .app-header's transition property, this makes the box-shadow of .app-header gradually disappear as the header slides upward. Without this .sliding-up class, the box-shadow disappears abruptly once the bottom of the header reaches the top of the viewport.
	}
	.root-home-page &:not(.sticky) {
		box-shadow: none;
	}
	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}
	.app-title {
		@include heading-font;
		display: flex;
		align-items: flex-end;
		font-size: 150%;
		line-height: 1;
		white-space: nowrap;

		a {
			color: $color-app-header-link;
			text-decoration: none;

			&:hover,
			&:focus {
				color: $color-app-header-link-hover;
			}
			&:active {
				color: $color-app-header-link-active;
			}
		}
	}
	h1 {
		margin: 0 .5em 0 0;
		font-size: inherit;
	}
	.by-iristorm {
		font-size: 60%;
		margin: ($lhse*.0625) 1em;
		margin-left: 0;
		cursor: default;

		> span {
			display: none;
		}
	}
}

@media (max-width: $min-width-app) {
	.app-header {
		.app-title {
			font-size: 125%;
		}
	}
}
@media (max-width: ($min-width-app*.8)) {
	:root {
		--header-height: #{$height-app-header-tall};
	}
	.app-header {
		.wrap {
			flex-wrap: wrap;
			gap: divide($lhse, 3);
			align-content: center;
		}
		.app-title {
			margin: -$lhse*.0833 auto 0;
		}
	}
}
@media (max-width: $max-width-mobile-header-menu) {
	:root {
		--header-height: #{$height-app-header-medium};
	}
	.app-header {
		padding-top: $lhse*.25;
		padding-bottom: $lhse*.25;

		.wrap {
			display: grid;
			grid-template-columns: auto auto;
			justify-content: space-between;
			grid-gap: $lhse*.5;
			position: relative;
		}
		.app-title {
			flex-wrap: wrap;
			justify-content: flex-end;
			width: min-content;
			margin: 0;
		}
		h1 {
			margin: 0;
		}
		.by-iristorm {
			margin-right: $lhse*.125;

			a {
				display: none;
			}
			> span {
				display: inline;
			}
		}
	}
}
