@import 'variables';

@mixin long-card-bars {
	.card-list-section {
		li {
			&:has(.qty:hover)	{
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
}
@mixin condensed-card-bars {
	.card-list-section {
		li {
			&:has(.qty:hover)	{
				border-radius: $border-radius-button;
			}
		}
	}
	.qty {
		.qty-buttons {
			height: $lhse*1.75;
			top: -$lhse*.0833;
			bottom: 0;
		}
	}
}

@include long-card-bars;

.qty {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	line-height: 1;
	width: $width-qty-column;
	padding-right: 2px;

	> span {
		margin: -6.25% 1px 0 $lhse*.1667;
		color: $color-text-darker;
		cursor: default;
		text-indent: -1.5px; // Using text-indent instead of margin to prevent disrupting other elements' positions.
		transition: color $transition-duration-standard ease;
	}
	label {
		@include screen-readers-only;
	}
	input {
		color: $color-text;
		background: none;
		border: 0;
		min-width: 0;
		text-align: center;
		transition: none;
		padding: 0;
		margin: -4.17% 0 0 0;
		font: $font-weight-semibold #{100%}/#{1} $font-family-standard;
		border-radius: $border-radius-button;
		appearance: textfield;
		box-shadow: none;
		position: relative;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}
	}
	&:focus-within,
	&:hover {
		input {
			background: $color-input-bg-focus;
			outline: 1px solid $color-link-focus;
			border-radius: divide($border-radius-group, 4);
		}
		.qty-buttons {
			display: flex;
		}
	}
	.qty-buttons {
		position: absolute;
		right: -1.6667em;
		top: (-$lhse*.4);
		z-index: index($layers, card-list-item-hover);
		display: none;
		flex-direction: column;
		height: auto;
		background: $color-group-bg;
		border-radius: $border-radius-button;
	}
	button {
		border-bottom-width: 2px;
		font: normal 133.33%/1 sans-serif;
		min-width: auto;
		width: 1.25em;
		height: $lhse*.6667;
		max-height: none;
		padding: 0;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

		div {
			margin-bottom: $lhse*.0625; // Makes the "+" and "-" signs look more vertically centered on the button surface.
		}
	}
	.increment {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.decrement {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	&.kb-shortcut-highlight {
		outline: $outline-focus-visible !important;
		background: $color-input-bg-focus !important;
		border-radius: $border-radius-button;
		z-index: 1;
	}
}
.card-list-section {
	li {
		&:focus-within {
			&:not(:hover) {
				.qty {
					&:focus-within {
						.qty-buttons {
							display: none;
						}
					}
				}
			}
		}
		&:focus-within,
		&:hover,
		&.highlight {
			.qty {
				> span {
					color: $color-text;
					transition-duration: 0s;
				}
				input {
					// transition: none;
					color: $color-link;

					&:hover,
					&:focus {
						color: $color-link-focus;
					}
					&:focus-visible {
						outline-offset: 0;
						background: $color-input-bg-focus;
					}
					&:active {
						color: $color-link-active;
						background: $color-input-bg-active;
					}
				}
			}
		}
		&.flash {
			background: $color-input-bg-active !important;
			outline-color: $color-link-focus !important;

			input {
				color: $color-link-active !important;
			}
		}
	}
}

@media (max-width: $width-app-breakpoint-tablet) {
	@include condensed-card-bars();
}
@media (max-width: ($min-width-app * .8)) {
	@include long-card-bars();

	.card-list-section {
		li {
			&:has(.qty:hover)	{
				border-radius: $border-radius-button;
			}
		}
	}
}
@media (max-width: ($min-width-app * .6667)) {
	@include condensed-card-bars();

	.qty {
		.qty-buttons {
			display: none !important;
		}
	}
}
@media (max-width: ($min-width-app * .4)) {
	.qty {
		width: $width-qty-column*.6667;

		> span {
			display: none;
		}
	}
}
