@import 'variables';

.card-star {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -$lhse;
	width: $width-card-star;
	border-radius: $border-radius-button;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	cursor: pointer;
	display: flex;
	align-items: center;

	&:hover,
	&:focus-within,
	&:active {
		background: $color-heading-bg;
		box-shadow: $box-shadow-card-list-row-bg-edge;
	}
	&:active,
	&.flash {
		input {
			&:not(:checked) {
				+ svg {
					transition-delay: 0s !important;
					transform: scale(.75);
				}
			}
			+ svg {
				transform: scale(1.3333);
				z-index: 2;
				transition-delay: 0s !important;
				transition-duration: 0s !important;
			}
		}
	}
	input {
		position: absolute;
		right: $lhse*.625;
		width: $lhse;
		height: 100%;
		padding: 0;
		border: 0;
		box-shadow: none;
		background: none !important;

		&:checked {
			background: none;

			&:hover {
				+ svg {
					@keyframes spin {
						100% {
							transform: rotate(360deg);
						}
					}

					animation: spin 1.6667s ease-out;
				}
			}
			+ svg {
				opacity: 1;
			}
		}
		&:not(:checked) {
			+ svg {
				transition-delay: 0s;
				transition-duration: $transition-duration-standard*2;
			}
		}
		&::after {
			content: none;
			display: none;
		}
		+ svg {
			opacity: 0;
			fill: $color-card-star;
			width: $lhse*.8333;
			height: $lhse*.8333;
			position: relative;
			left: $lhse*.125;
			transition: $transition-duration-standard ease;
			transition-property: opacity, fill, transform, filter;
			z-index: 1;
		}
	}
}
.card-list-section {
	li {
		&:hover,
		&:focus-within,
		&.highlight {
			.card-star {
				input {
					&:checked {
						+ svg {
							opacity: 1;
							fill: lighten($color-card-star, 16.67%);
							filter: drop-shadow(0 0 $lhse*.125 $color-mythic-yellow);
							transition-delay: 0s;
							transition-duration: $transition-duration-standard;
						}
					}
					+ svg {
						opacity: .25;
					}
				}
				&:not(:hover),
				&:not(:focus-within) {
					input {
						&:checked {
							+ svg {
								transition-delay: 0s;
								transition-duration: $transition-duration-standard;
							}
						}
						&:not(:checked) {
							+ svg {
								transition-delay: 1s, 0s, 0s, 0s !important;
								transition-duration: 2s, $transition-duration-standard, $transition-duration-standard, $transition-duration-standard !important;
							}
						}
					}
				}
			}
		}
		&.highlight {
			.card-star {
				outline: $outline-keyboard-focus;

				&.flash {
					background: $color-input-bg-active;
					outline-color: $color-link-focus;

					input {
						&:not(:checked) {
							+ svg {
								opacity: 0 !important;
								transition-delay: 0s !important;
								transition-duration: $transition-duration-standard !important;
							}
						}
					}
				}
			}
		}
	}
}
