@import 'variables';
$height-card-image-section: #{680px * .6667};
$transition-delay-card: divide(1, 3) * 1s;

@mixin card-fan-in-from ($enter-from) {
	$transform: none;

	@if $enter-from == 'left' {
		$transform: rotate(-5.625deg) translateX(-$lhse*6)
	}
	@if $enter-from == 'right' {
		$transform: rotate(5.625deg) translateX($lhse*6);
	}

	@keyframes card-fan-in-#{$enter-from} {
		0% {
			opacity: 0;
			transform: $transform translateY(-$lhse*2) scale(1.0833);
		}
		38.20% {
			opacity: 1;
		}
	}

	animation-name: card-fan-in-#{$enter-from};
}
@mixin card-link ($rise-from) {
	$translate: none;
	$rotate: none;

	@if $rise-from == 'left' {
		$translate: translate($lhse*1.375, $lhse*1.75);
		$rotate: rotate((-360/192) * 1deg);
	}
	@if $rise-from == 'right' {
		$translate: translate(-$lhse*1.375, $lhse*1.75);
		$rotate: rotate((360/192) * 1deg);
	}

	a {
		position: absolute;
		display: block;
		transition: $transition-duration-card-image-hover-fast ease 0s;
		transition-property: transform, filter;
		border-radius: $border-radius-group;
		outline-offset: 0px;

		&:hover,
		&:focus {
			transform:
				scale(1.3333)
				$translate
				$rotate;
			transition-duration: $transition-duration-card-image-hover-slow;
			transition-delay: $transition-delay-card;
		}
		&:focus {
			transition-delay: 0s;
		}
		&:active {
			filter: contrast(125%);
			transition-duration: 0s;
			transition-delay: 0s;
		}
	}
}
@mixin card-edge-filters ($position) {
	$color-card-edge: darken(#fff, 70.83%);
	$drop-shadow-card-shadow: drop-shadow(0 $lhse*.5 $lhse*.75 rgba(#000, .6667));

	@if $position == 'left' {
		filter: drop-shadow(1px 1px 0 $color-card-edge);

		&:hover,
		&:focus-within {
			filter:
				drop-shadow(1px 1px 0 $color-card-edge)
				$drop-shadow-card-shadow;
		}
	}
	@if $position == 'right' {
		filter: drop-shadow(-1px 1px 0 $color-card-edge);

		&:hover,
		&:focus-within {
			filter:
				drop-shadow(-1px 1px 0 $color-card-edge)
				$drop-shadow-card-shadow;
		}
	}
}

@keyframes overshadowed {
	0% {
		filter: brightness(100%);
	}
	100% {
		filter: brightness(50%);
	}
}

.card-image {
	@include card-link('left');
	grid-area: card-img;
	position: sticky;
	top: calc(
		#{$lhse*.5} + var(--header-height) + var(--header-top)
	);
	transition: top $transition-duration-standard ease;
	z-index: index($layers, card-overlay);
	width: min(#{488px * .6667}, 25vw);
	max-height: $height-card-image-section;
	aspect-ratio: 488 / 680;

	@supports (aspect-ratio: auto) {
		outline: divide($lhse, 3) dashed rgba($color-text, .2);
		outline-offset: -$lhse*.75;
	}
	.card-edge {
		@include card-edge-filters('left');
		transition: filter $transition-duration-card-image-hover-fast ease 0s;
		position: absolute;
		width: 100%;
		will-change: transform, filter; // This prevents a slight visual jump after a card overlays another in Chrome.

		&:hover,
		&:focus-within {
			transition-duration: $transition-duration-card-image-hover-slow;
			transition-delay: $transition-delay-card;
			will-change: auto;
		}
		&:focus-within {
			transition-delay: 0s;
		}
	}
	.card-shape {
		mask-image: url('~@/img/card-mask.svg');
		box-shadow: inset 0 0 0 10px lighten(#000, 8.33%); // Black card border without card image
		background: desaturate(darken($color-frame-generic, 33.33%), 4.17%);

		&.land {
			background: desaturate(darken($color-frame-land, 37.5%), 0%);
		}
		&.W {
			background: desaturate(darken($color-frame-white, 16.67%), 8.33%);

			.loading-indicator {
				color: #000;
			}
		}
		&.U {
			background: desaturate(darken($color-frame-blue, 50%), 8.33%);
		}
		&.B {
			background: desaturate(darken($color-frame-black, 50%), 0%);
		}
		&.R {
			background: desaturate(darken($color-frame-red, 50%), 8.33%);
		}
		&.G {
			background: desaturate(darken($color-frame-green, 50%), 8.33%);
		}
		&.multicolor {
			background: desaturate(darken($color-frame-multicolor, 25%), 16.67%);
		}
	}
	img {
		display: block;
		width: auto;
		max-height: calc(100vh - #{$lhse});
		position: relative;
	}
	.close {
		display: none;
	}
}

$animation-duration-card-browse: .3820s;

.card-browse {
	&-enter-active {
		animation: $animation-duration-card-browse cubic-bezier(0, 0, .25, 1);
		z-index: 1;
	}
	&-leave-active {
		animation: overshadowed $animation-duration-card-browse ease-out;
	}
}
.deck-editor {
	.card-browse-enter-active {
		@include card-fan-in-from('left');
	}
}
.draw-simulator {
	.card-image {
		@include card-link('right');

		.card-edge {
			@include card-edge-filters('right');
		}
	}
	.card-browse-enter-active {
		@include card-fan-in-from('right');
	}
}
.card-browse-appear-active {
	@extend .card-browse-enter-active;
	animation-delay: $transition-duration-standard*1.5;
	animation-duration: $animation-duration-card-browse*1.5;
	animation-fill-mode: backwards;
}

@media (max-width: $width-app-breakpoint-tablet) {
	.card-image {
		width: min(#{488px * .6667}, 38.20vw);
	}
}
@media (max-width: $width-deck-hidden-image) {
	.card-image {
		z-index: index($layers, app-header);
		width: auto;
		aspect-ratio: auto;
		outline: none;

		.card-edge {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			will-change: auto;

			&,
			&:hover,
			&:focus-within {
				filter: drop-shadow(0 0 $lhse rgba(#fff, .1667));
			}
		}
		a {
			position: static;
			margin: $lhse*.5;

			&:hover,
			&:focus {
				transform: none !important;
			}
		}
		img {
			max-width: 91.67vw;
			max-height: 91.67vh;
		}
		.card-browse-leave-active {
			display: none;
		}
		.close {
			@include secondary-button;
			display: block;
			position: absolute;
			top: divide($lhse, 3);
			right: $lhse*.25;
			min-width: $lhse;
			padding: 0;
		}
	}
	.cd-overlay {
		@include overlay-bg;
	}
	.cd-overlay-fade {
		&-enter-active,
		&-leave-active {
			transition: opacity divide(1s, 3) ease;
		}
		&-leave-active {
			transition-duration: divide(1s, 6);
		}
		&-enter,
		&-leave-to {
			opacity: 0;
		}
	}
	.card-browse {
		&-enter-active {
			animation: none;
		}
		&-leave-active {
			animation: none;
		}
	}
}

@media (max-height: calc($height-card-image-section - $lhse*3)) {
	.card-image {
		outline: 0;
	}
}
