@use "sass:color";
@import 'variables';

@mixin box-shadow-hover-card-button($color) {
	$border-width-card-button: 2.5px;

	box-shadow:
		0 0 0 .5px rgba(#000, .875),
		0 0 0 $border-width-card-button $color,
		.3333px -1px 0 $border-width-card-button color.scale($color,
			$lightness: 50%
		),
		-.3333px 1px 0 $border-width-card-button color.scale($color,
			$lightness: -50%, $saturation: -50%
		),
		0 -1px divide($lhse, 4) $border-width-card-button rgba(#000, .25);
}
@mixin color-card-buttons($background-color) {
	background: $background-color;
}
@mixin long-card-buttons {
	.card-button {
		display: flex;
		height: 23px;
		max-width: $width-card-buttons-wide;

		.card-label-group {
			width: 50%;
			padding: 0 divide($lhse, 6);

			&:last-of-type {
				border-top: none;
				margin-top: 0;
				padding-left: .8333em;
			}
		}
		.rarity {
			margin-right: -$lhse*.0625;
		}
	}
}
@mixin condensed-card-buttons {
	.card-button {
		display: block;
		max-width: $width-card-buttons-narrow;
		height: 43px;

		.card-label-group {
			width: 100%;
			height: auto;
			padding: 0 divide($lhse, 4);

			&:last-of-type {
				padding-left: divide($lhse, 4);
			}
		}
		.name,
		.type {
			line-height: $line-height-standard*.875;
		}
		.rarity {
			margin-right: 0;
		}
	}
}

@include long-card-buttons();

.card-button {
	@include color-card-buttons($color-frame-generic);
	margin: 0;
	padding: 0;
	border-radius: $border-radius-button;
	border: 2px solid transparent;
	text-shadow: none;
	transition: all $transition-duration-standard ease;
	transition-property: border, color, filter, transform;
	width: 100vw;
	align-items: center;
	box-shadow: none;
	overflow: hidden;
	color: $color-black-label-text;

	&:active {
		transform: scale(.995) translate(0, .5px);
		transition-duration: 0s;
	}
	&.land {
		@include color-card-buttons($color-frame-land);
	}
	&.white {
		@include color-card-buttons($color-frame-white);
	}
	&.blue {
		@include color-card-buttons($color-frame-blue);
	}
	&.black {
		background: $color-frame-black;
		color: #000;
		text-shadow: 0 0 1px rgba(#fff, .3333);
	}
	&.red {
		@include color-card-buttons($color-frame-red);
	}
	&.green {
		@include color-card-buttons($color-frame-green);
	}
	&.multicolor {
		@include color-card-buttons($color-frame-multicolor);
	}
	.card-label-group {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.name,
	.mana,
	.type {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.mana,
	.rarity {
		margin-left: .25em;
	}
	.name {
		margin: 0;
		font-size: 87.5%;
		line-height: 1.375;
		min-width: 33.33%;
		text-align: left;
		color: inherit;
	}
	.mana {
		overflow: visible;
		margin-top: -3px;
		display: flex;
		align-items: center;

		.mana-symbol {
			box-shadow: -1px 1.5px 0 0 $color-black-label-text; // Needs to look good on Firefox
			margin: 0 0 0 2px;
		}
	}
	.type {
		@include heading-font;
		font-size: 75%;
		line-height: 1.5;
	}
}
.card-list-section {
	li {
		&:hover,
		&:focus-within {
			.card-button {
				filter: contrast(116.67%);
				transition-duration: 0s;
				transition-property: filter, box-shadow, border-color;
				border-top-color: rgba(#fff, .5);
				border-right-color: rgba(#fff, .25);
				border-bottom-color: rgba(#000, .5);
				border-left-color: rgba(#000, .25);
				outline-offset: 3px;

				&:active {
					filter: brightness(83.33%) saturate(133.33%);
					box-shadow: none !important;
				}
			}
		}
		&:focus-within {
			.card-button {
				@include box-shadow-hover-card-button(darken($color-frame-generic, 4.17%));

				&.land {
					@include box-shadow-hover-card-button(darken($color-frame-land, 16.67%));
				}
				&.white {
					@include box-shadow-hover-card-button(lighten($color-mana-white, 25%));
				}
				&.blue {
					@include box-shadow-hover-card-button(desaturate(darken($color-mana-blue, 40%), 16.67%));
				}
				&.black {
					@include box-shadow-hover-card-button(darken($color-mana-black, 41.67%));
				}
				&.red {
					@include box-shadow-hover-card-button(desaturate(darken($color-mana-red, 29.17%), 25%));
				}
				&.green {
					@include box-shadow-hover-card-button(desaturate(darken($color-mana-green, 25%), 16.67%));
				}
				&.multicolor {
					@include box-shadow-hover-card-button(desaturate($color-mana-hybrid, 16.67%));
				}
			}
		}
	}
}

@media (max-width: $width-app-breakpoint-tablet) {
	@include condensed-card-buttons();
}
@media (max-width: ($min-width-app * .5)) {
	.card-button {
		font-size: 87.5%;
		height: 35px;

		.type {
			line-height: 1;
		}
		.rarity-symbol {
			line-height: 1;
		}
	}
}

@media (pointer: coarse) {
	.card-button {
		min-height: 27px; // 24px is the minimum passable size by WCAG's level "AA" accessibility guidelines. Then I've added a few extra pixels so that the list items appear to have consistent gaps between each other.
	}
}
