@import 'variables';

@mixin long-card-buttons {
	.card-list-section {
		li {
			&:has(.qty:hover)	{
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
}
@mixin condensed-card-buttons {
	.card-list-section {
		li {
			&:has(.qty:hover)	{
				border-radius: $border-radius-button;
			}
		}
	}
	.qty {
		.qty-buttons {
			top: 0;
			bottom: 0;
		}
	}
}

@include long-card-buttons;

.qty {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	line-height: 1;
	width: $width-qty-column;
	padding-right: 2px;

	> span {
		margin: -4.17% 0 0 $lhse*.2;
		color: $color-text-darker;
		cursor: default;
		text-indent: -1.5px; // Using text-indent instead of margin to prevent disrupting other elements' positions.
		transition: color $transition-duration-standard ease;
	}
	label {
		@include screen-readers-only;
	}
	input {
		color: $color-text;
		background: none;
		border: 0;
		width: auto;
		min-width: 0;
		text-align: center;
		transition: all $transition-duration-standard ease-out;
		padding: 0 0 0 0;
		margin: -4.17% 0 0 0;
		font: $font-weight-semibold #{100%}/#{1} $font-family-standard;
		border-radius: $border-radius-button;
		appearance: textfield;
		box-shadow: none;
		position: relative;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}
	}
	&:focus-within,
	&:hover {
		background: $color-input-bg-focus;

		.qty-buttons {
			display: flex;
		}
	}
	.qty-buttons {
		position: absolute;
		top: divide($lhse, -3);
		right: -1.6em;
		z-index: index($layers, card-list-item-hover);
		display: none;
		flex-direction: column;
		height: auto;
	}
	button {
		border-bottom-width: 2px;
		font: normal 133.33%/1 sans-serif;
		min-width: auto;
		width: 1.25em;
		height: $lhse*.6667;
		max-height: none;
		padding: 0;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

		div {
			margin-bottom: $lhse*.0625; // Makes the "+" and "-" signs look more vertically centered on the button surface.
		}
	}
	.increment {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.decrement {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	&.kb-shortcut-highlight {
		outline: $outline-focus-visible !important;
		background: $color-input-bg-focus !important;
		border-radius: $border-radius-button;
		z-index: 1;
	}
}
.card-list-section {
	li {
		&:focus-within {
			&:not(:hover) {
				.qty {
					&:focus-within {
						.qty-buttons {
							display: none;
						}
					}
				}
			}
		}
		&:focus-within,
		&:hover,
		&.highlight {
			.qty {
				> span {
					color: $color-text;
					transition-duration: 0s;
				}
				input {
					transition: none;
					color: $color-link;

					&:hover,
					&:focus {
						color: $color-link-focus;
					}
					&:focus-visible {
						outline-offset: 0;
						background: $color-input-bg-focus;
					}
					&:active {
						color: $color-link-active;
						background: $color-link-dark;
					}
				}
			}
		}
		&.flash {
			background: $color-input-bg-active !important;
			outline-color: $color-link-focus !important;

			input {
				color: $color-link-active !important;
			}
		}
	}
}

@media (max-width: $width-app-breakpoint-tablet) {
	@include condensed-card-buttons();
}
@media (max-width: ($min-width-app * .8)) {
	@include long-card-buttons();

	.card-list-section {
		li {
			&:has(.qty:hover)	{
				border-radius: $border-radius-button;
			}
		}
	}
}
@media (max-width: ($min-width-app * .6667)) {
	@include condensed-card-buttons();

	.qty {
		.qty-buttons {
			display: none !important;
		}
	}
}
@media (max-width: ($min-width-app * .4)) {
	.qty {
		width: $width-qty-column*.6667;

		> span {
			display: none;
		}
	}
}
