@use "sass:color";
@import 'variables';

@mixin box-shadow-hover-card-bar($color) {
	$border-width-card-bar: 2px;

	box-shadow:
		0 0 0 .5px rgba(#000, .875),
		0 0 0 $border-width-card-bar $color,
		.3333px -1px 0 $border-width-card-bar color.scale($color,
			$lightness: 50%
		),
		-.3333px 1px 0 $border-width-card-bar color.scale($color,
			$lightness: -50%, $saturation: -50%
		),
		0 -1px divide($lhse, 4) $border-width-card-bar rgba(#000, .25);
}
@mixin long-card-bars {
	.card-bar {
		display: flex;
		height: 21.4px;
		max-width: $width-card-bars-wide;

		.card-label-group {
			width: 50%;
			padding: 0 divide($lhse, 8);

			&:last-of-type {
				border-top: none;
				margin-top: 0;
				margin-left: $lhse*.5;
			}
		}
		.mana {
			margin-bottom: 0;
		}
	}
}
@mixin condensed-card-bars {
	.card-bar {
		display: block;
		max-width: $width-card-bars-narrow;
		height: 37.4px;

		.card-label-group {
			width: 100%;
			height: auto;
			padding: 0 divide($lhse, 5);

			&:last-of-type {
				margin-left: 0;
			}
		}
		.name,
		.type {
			line-height: $line-height-standard*.875;
		}
		.mana {
			margin-bottom: 1.5px;
		}
		.rarity {
			font-size: 87.5%;
			margin-right: .0625em;
		}
	}
}

@include long-card-bars();

.card-bar {
	margin: 0;
	padding: 0;
	border-radius: $border-radius-button;
	border: 2px solid transparent;
	text-shadow: none;
	transition: all $transition-duration-standard ease;
	transition-property: border, color, filter, transform;
	width: 100vw;
	align-items: center;
	box-shadow: none;
	overflow: hidden;
	color: $color-black-label-text;

	&:active {
		transform: none;
		transition-duration: 0s;
		border-bottom-width: 0px;

		.card-label-group {
			> * {
				transform: translateY(1px);
			}
		}
	}
	&.white {
		background: $color-frame-white;
	}
	&.blue {
		background: $color-frame-blue;
	}
	&.black {
		background: $color-frame-black;
		color: $color-darker-black-label-text;
		text-shadow: 0 0 1px rgba(#fff, .25);
	}
	&.red {
		background: $color-frame-red;
	}
	&.green {
		background: $color-frame-green;
	}
	&.multi {
		background: $color-frame-multi;
	}
	&.colorless {
		background: $color-frame-generic;
	}
	&.land {
		background: $color-frame-land;
	}
	.card-label-group {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.name,
	.type {
		line-height: $line-height-standard*.875;
	}
	.name,
	.mana,
	.type {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.mana,
	.rarity {
		margin-left: .25em;
	}
	.name {
		margin: 0;
		font-size: 80%;
		min-width: 33.33%;
		max-width: $width-card-bars-wide*.476; // Carefully adjusted on extra-long truncated names so that the name doesn't push over the mana cost.
		text-align: left;
		color: inherit;
	}
	.mana {
		overflow: visible;
		margin-top: -2.75px;
		display: flex;
		align-items: center;
		font-size: 91.67%;

		.mana-symbol {
			box-shadow: -1px 1.5px 0 0 $color-black-label-text; // Needs to look good on Firefox
			margin: 0 0 0 2px;
		}
	}
	.type {
		@include heading-font;
		font-size: 80% * .80; // Sized proportionally from font-size of card name.
		line-height: 1.5;
		max-width: $width-card-bars-wide*.6667;
	}
}
.card-list-section {
	li {
		&:hover,
		&:focus-within,
		&.highlight {
			.card-bar {
				filter: contrast(116.67%);
				transition-duration: 0s;
				transition-property: filter, box-shadow, border-color;
				border-top-color: rgba(#fff, .5);
				border-right-color: rgba(#fff, .25);
				border-bottom-color: rgba(#000, .5);
				border-left-color: rgba(#000, .25);
				outline-offset: 4px;

				&:active {
					filter: brightness(83.33%) saturate(133.33%);
					box-shadow: none !important;
				}
			}
		}
		&:focus-within,
		&.highlight {
			.card-bar {
				&.white {
					@include box-shadow-hover-card-bar(lighten($color-mana-white, 25%));
				}
				&.blue {
					@include box-shadow-hover-card-bar(desaturate(darken($color-mana-blue, 40%), 16.67%));
				}
				&.black {
					@include box-shadow-hover-card-bar(darken($color-mana-black, 40%));
				}
				&.red {
					@include box-shadow-hover-card-bar(desaturate(darken($color-mana-red, 29.17%), 25%));
				}
				&.green {
					@include box-shadow-hover-card-bar(desaturate(darken($color-mana-green, 25%), 16.67%));
				}
				&.multi {
					@include box-shadow-hover-card-bar(desaturate($color-mana-hybrid, 16.67%));
				}
				&.colorless {
					@include box-shadow-hover-card-bar(darken($color-frame-generic, 4.17%));
				}
				&.land {
					@include box-shadow-hover-card-bar(darken($color-frame-land, 16.67%));
				}
			}
		}
	}
}

@media (max-width: $width-app-breakpoint-tablet) {
	@include condensed-card-bars();
}
@media (max-width: ($min-width-app * .5)) {
	.card-bar {
		font-size: 91.67%;
	}
}

@media (pointer: coarse) {
	.card-bar {
		min-height: 24.6px; // 24px is the minimum passable size by WCAG's level "AA" accessibility guidelines. Then I've added a few extra sub-pixels so that the list items appear to have consistent gaps between each other.
	}
}
