@import 'variables';

.card-list-section {
	padding: $lhse*.5 0;
	border-top: $border-sections-thick;
	border-bottom: $border-sections-thick;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;

	.no-cards {
		text-align: center;
		padding: $lhse*.5;
		background: rgba($color-group-bg, 1);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-grow: 1;

		p {
			max-width: $max-width-narrow-message;
			text-wrap: balance;
			margin-right: auto;
			margin-left: auto;
		}
		a {
			text-shadow: revert;
		}
	}
	ul {
		margin: 0 auto (-$margin-card-gap-after);
		padding: 0 0 0 $width-card-star*.6;
		list-style: none;
		position: relative;
		width: fit-content;
	}
	li {
		display: flex;
		margin: 1px 0;
		transition: all .5s cubic-bezier(.5, 0, 0, 1); // For card sorting
		transition-property: transform, filter, max-width;
		position: relative;
		border-radius: $border-radius-button;

		&:last-of-type {
			margin-bottom: $margin-card-gap-after;
		}
		&:hover,
		&:focus-within,
		&.highlight {
			transition-duration: 0s;
		}
		&:hover {
			z-index: index($layers, card-li-hover);
		}
		&:focus-within,
		&.highlight {
			z-index: index($layers, card-li-focus-within);
		}
		&:first-child {
			margin-top: 0;
		}
		&.gap-after,
		&:last-of-type {
			margin-bottom: $margin-card-gap-after;
		}
		&.highlight {
			outline: $outline-keyboard-focus;
			scroll-margin-top: $lhse*2;
			scroll-margin-bottom: $lhse*2;
		}
	}
	.card-list-section-main-leave-active {
		transition-duration: 0s; // When switching from one deck page to another, this stops the odd lingering of the previous deck list on the current page.
	}
	.card-li-fade {
		&-enter-active,
		&-leave-active {
			transition: all 1s ease;
		}
		&-leave-active {
			transition-duration: .5s;
		}
		&-enter,
		&-leave-to {
			opacity: 0;

			button {
				transform: scaleY(0);
				transition-duration: 1s;
			}
		}
		&-enter {
			filter: brightness(150%);
		}
		&-leave-to {
			filter: brightness(0%);
		}
	}
}

@media (max-width: $width-app-breakpoint-tablet) {
	.card-list-section {
		.no-cards {
			max-width: $width-list-editor-region;
		}
	}
}
@media (max-width: $width-deck-hidden-image) {
	.card-list-section {
		.no-cards {
			max-width: none;
		}
	}
}
@media (max-width: ($min-width-app * .5)) {
	.card-list-section {
		li {
			max-width: 80vw;

			&:has(.qty:focus-within),
			&:has(.qty:hover) {
				max-width: 66.67vw;
			}
		}
	}
}
