@use 'variables-and-mixins' as *;

.deck-header {
	grid-column: span 6;
	margin: $lhse auto 0;
	border-bottom: $border-sections-thick;
	display: grid;
	grid-template-columns: 1fr repeat(5, min-content);
	grid-template-rows: auto auto;
	align-items: center;
	align-content: flex-start; // Needed for Safari.
	justify-content: space-between;
	overflow: hidden;
	width: 100%;
	border-radius: $border-radius-group;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: $color-group-bg;

	.deck-info {
		min-height: $height-deck-header-component;

		h3 {
			align-items: center;
		}
	}
	.deck-name {
		padding: 0 $lhse*.6667;
		justify-content: left;
		overflow: hidden;
		min-height: $height-deck-header-component;

		h2 {
			margin: $lhse*.0833 0; // Adjust these vertical margins to eliminate larger margin-rounding gaps in the card list.
			white-space: normal;
		}
	}
	.deck-colors {
		h3 {
			white-space: normal;
			width: min-content;
		}
		.output {
			width: max-content;

			&.no-colors {
				font-size: $font-size-stat-value;
				display: flex;
			}
			img {
				opacity: $opacity-mana-symbols;
			}
		}
	}
	.average-mana-value,
	.card-names,
	.card-total {
		.output {
			font-size: $font-size-stat-value;
		}
	}
	.date-edited {
		h3 {
			white-space: normal;
		}
		.output {
			@include tiny-font-size;
		}
	}
	.card-names,
	.card-total {
		h3 {
			white-space: normal;
		}
	}
	.card-total {
		padding-right: $lhse*.75;
		border-right-width: 0;

		.output {
			display: flex;
			align-items: center;
		}
		.warning-symbol {
			margin-left: .25em;
		}
	}
}

@media (max-width: ($min-width-app*1.25)) {
	.deck-header {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: auto auto;

		.deck-name {
			border-width: 0;
			order: 0;
			grid-column: span 5;
			justify-content: center;

			h2 {
				text-align: center;
				padding: 0 $lhse*.25;
			}
		}
		.deck-colors {
			.output {
				display: grid;
			}
		}
		.card-total {
			border-right-width: 0;
			padding-right: $lhse*.5;
		}
	}
}
@media (max-width: ($min-width-app * .875)) {
	.deck-header {
		margin-top: $lhse*.5;
		min-width: 66.67vw;
		justify-content: stretch;


	}
}
@media (max-width: ($min-width-app * .75)) {
	.deck-header {
		min-width: 66.67vw;

		.deck-info {
			@include deck-info-box-narrow();

			h3 {
				width: auto;
				height: $lhse*1.25;
				display: flex;
			}
			.output {
				height: $line-height-standard*1.5rem;
				margin-top: -$lhse*.0833 !important;
			}
		}
	}
}
@media (max-width: ($min-width-app * .6)) {
	.deck-header {
		grid-template-columns: repeat(6, 1fr);

		.deck-info {
			&:nth-of-type(2),
			&:nth-of-type(3) {
				@include deck-info-box-wide();
				grid-column: span 3;

				h3 {
					width: min-content;
					padding-bottom: $lhse*.0833;
				}
			}
			&:nth-of-type(4),
			&:nth-of-type(5),
			&:nth-of-type(6) {
				grid-column: span 2;
			}
			&:nth-of-type(6) {
				border-right-width: 0;
			}
		}
		.deck-name {
			grid-column: span 6;
		}
	}
}
