$transform-dialog: scale(1.0625);
$transition-duration-dialog: .5s;

dialog {
	background: $color-group-bg;
	color: $color-text;
	padding: $lhse $lhse*1.25;
	width: fit-content;
	max-width: $max-width-content*.875;
	border: 1px solid $color-button-orange;
	box-shadow: inset 0 0 0 $border-width-sections-medium $color-group-bg-darker;
	opacity: 0;
	filter: $drop-shadow-card-shadow;
  transition: all ($transition-duration-dialog*.5) ease allow-discrete;

	&::backdrop {
		@include dialog-backdrop;
		transition: all ($transition-duration-dialog*.5) ease allow-discrete;
		opacity: 0;
	}
	&[open] {
		display: block;
		opacity: 1;
		filter: $drop-shadow-card-shadow;
		transition-duration: $transition-duration-dialog;

		&::backdrop {
			opacity: 1;
			transition-duration: $transition-duration-dialog;
		}
	}
	:first-child {
		margin-top: 0;
	}
	p {
		text-wrap: pretty;
	}
	form {
		min-height: $lhse*1.5;
		display: flex;
		align-items: center;
	}
	button {
		font-size: 83.33%;
		height: $lhse*1.5;
		margin-right: auto;
		margin-left: auto;

		&.cancel {
			background: $color-button-gray;
		}
	}
	&.with-text-input {
		form {
			display: grid;
			grid-template-columns: 1fr auto auto 1fr;
			width: 100%;
			gap: $lhse $lhse*.5;
			margin-top: $lhse*.75;
		}
		input {
			grid-column: span 4;
			max-width: 20em;
			width: 100%;
			text-align: center;
			margin: 0 auto;
			height: $lhse*1.25;
		}
		button {
			grid-row: 2;

			&:first-of-type {
				grid-column-start: 2;
			}
			&[formmethod="dialog"] {
				background: $color-button-gray;
				grid-column-start: 3;
			}
		}
	}
	&.with-two-buttons {
		form {
			justify-self: center;
			gap: $lhse;
		}
	}
}
@starting-style {
  dialog[open] {
    opacity: 0;
		filter: $drop-shadow-card-shadow brightness(2.5) saturate(1.25);

		&::backdrop {
			opacity: 0;
		}
  }
}
