@use 'sass:math';
@use 'variables-and-mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	backface-visibility: hidden;
}
* {
	scroll-margin: $lhse;
}
body {
	font: (20px + math.div(1, 3))/#{$line-height-standard} $font-family-standard;
	font-weight: $font-weight-regular; // The font size is precisely set to make the lowercase E in the standard font family to have a sharp-looking crossbar instead of a blurry one.
	color: $color-text;
	background: #000;
	min-width: 320px;
}
.footer-pusher {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background:
	  linear-gradient((180deg + 5.625),
	   rgba($color-text-extra-brighter, 16.67%) 0,
	   rgba($color-text-extra-brighter, 0%) 100vh
		),
		top left repeat url('@/img/turbulence-bg-tile.jpg')
		$color-content-bg;
	overflow-x: clip; // Needed in order to prevent browser bugs caused by card image transitions coming in from outside the browser viewport. In Firefox, it causes horizontal scrollbars to appear. In Safari, the page automatically zooms out tat certain viewport widths.
}
.wrap {
	max-width: $max-width-app;
	margin: 0 auto;
	padding: 0 $lhse;
}
main {
	flex-grow: 1;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: relative;

	.root-home-page & {
		flex-grow: 0;
	}
	> article {
		margin: $lhse auto;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	@include heading-font;
	line-height: 1;
	color: $color-text-brighter;
	margin-top: $lhse;
	margin-bottom: $line-height-standard*.5rem;
}
h2 {
	margin-top: $line-height-standard * .5rem;
	font-size: 150%;

	&:first-child {
		margin-top: 0;
	}
}
h3 {
	font-size: 125%;
}
h4 {
	font-size: 100%;
	margin-top: $lhse*1.5;
}
h5 {
	font-size: 80%;
	text-transform: uppercase;
	margin-top: $lhse*1.5;
}
h6 {
	font-size: 60%;
	text-transform: uppercase;
	margin-top: $lhse*1.5;
}
p,
ul,
ol {
	margin: $lhse*.5 0;
}
strong,
b,
th {
	font-weight: $font-weight-semibold;

	*:not(a) > & {
		color: $color-text-brighter;
	}
}
small,
.small {
	font-size: $font-size-small;
}
ul,
ol {
	padding-left: $lhse;
}
ul {
	ul {
		margin-top: 0;
	}
}
ol {
	padding-left: $lhse + .25em;

	ol {
		list-style-type: lower-alpha;
		margin: 0;

		ol {
			list-style-type: lower-roman;
		}
	}
	li {
		padding-left: .25em;
	}
}
li {
	&:first-child {
		h5:first-child {
			margin-top: $lhse*.75;
		}
	}
	&:last-child {
		p:last-child {
			margin-bottom: 0;
		}
	}
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
figure {
	margin: $lhse*.6667 auto;
	background-color: $color-group-bg-extra-darker;
	outline-offset: -1px;
	padding: math.div($lhse, 3);
	color: $color-text-darker;
	width: fit-content;
	height: fit-content;
	position: relative;
	z-index: 1; // Needed for floated <figure> elements with clickable links.

	img {
		margin: auto;
	}
}
figcaption {
	@include tiny-font-size;
	text-align: center;
	margin: $lhse*.25 0 (-$lhse*.2);
	text-wrap: pretty;

	a {
		@include link-colors($color-link-dim);
	}
}
kbd {
	$kbd-height: $lhse*1.25;

	background: $color-heading-bg;
	color: $color-text-brighter;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 1px;
	width: $kbd-height;
	height: $kbd-height;
	border-radius: $kbd-height*.0833;
	font-size: 75%;
	font-family: ui-sans-serif, system-ui, sans-serif;
	font-weight: 400;
	margin-top: -.125em; // To vertically align the key letters with normal text.
	margin-bottom: -.125em; // To maintain a consistent line height.

	&.ctrl-key {
		width: $kbd-height * 1.5;
	}
	&.shift-key {
		width: $kbd-height * 2;
	}
	&.space-bar {
		width: $kbd-height * 4;
	}
}
code {
	font-size: 80%;
	background: $color-group-bg-darker;
	outline: 1px solid $color-group-bg-extra-darker;
	padding: 0 .1667em;

	&.long-url {
		word-break: break-all;
	}
}
svg {
	fill: currentColor;
}
::selection {
	background: rgba($color-highlight-bg, .5);
	color: #fff;
	text-shadow: none;
}
::-webkit-scrollbar {
	width: $line-height-standard * .6667rem;
	background: $color-group-bg-lighter;
}
::-webkit-scrollbar-thumb {
	background: $color-mythic-dim;
	border: 2px solid $color-button-border;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 1px;
	box-shadow: $box-shadow-button-shine, 0 2px 1px rgba($color-subtle-bluish-shadow-base, math.div(1, 3));
	cursor: grab;

	&:hover {
		background: $color-highlight-bg
	}
	&:active {
		background: $color-button-orange;
		cursor: grabbing;
	}
}
::-webkit-scrollbar-corner {
	background: $color-group-bg;
}

@media (max-width: ($min-width-app*.875)) {
	.wrap {
		padding: 0 $lhse*.5;
	}
}
@media (max-width: $width-deck-hidden-image) { // Must match window width in JavaScript.
	.paint-container {
		contain: none; // The card image animation effect isn't needed at this viewport, and the `contain: paint` style doesn't keep the card image centered as it should be.
	}
}

/* Remove all animations and transitions for people who prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
