@use 'sass:list';
@use 'sass:math';
@use 'variables-and-mixins' as *;

:focus-visible {
	outline: $outline-focus-visible;
	outline-offset: 2px;
}
:focus:not(:focus-visible) {
	outline-width: 0;
}
a {
	@include link;

	&[target="_blank"],
	&[href^="mailto:"] {
		svg {
			width: $lhse*.6667;
			height: $lhse*.6667;
			margin-bottom: -.2em;
			margin-left: .0833em;
		}
	}
}
.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
button,
.button {
	@include button;
}
input,
select {
	@include link;
	@include heading-font;
	color: $color-link;
	padding: 0 .5em;
	font-size: 87.5%;

	&:hover,
	&:focus-visible {
		text-decoration: none;
		background: $color-input-bg-focus;
		color: $color-link-focus;
		border-color: $color-link-focus;
		outline-offset: 0;
	}
}
textarea {
	border-radius: 0;
	font-family: monospace;
	font-weight: normal;
	font-size: $font-size-card-list-textarea;
	line-height: normal;
	padding: math.div($lhse, 3) $lhse*.5;
	display: block;
	color: $color-text;

	&:hover,
	&:focus-visible {
		background: $color-input-bg-focus;
		color: $color-text-brighter-over-mythic-brown;
		outline-offset: 0;
	}
	&:read-only {
		&,
		&:hover,
		&:focus {
			background: $color-group-bg-darker;
			color: $color-text;
		}
	}
}
input,
select,
textarea {
	transition: $transition-duration-standard ease;
	transition-property: color, background-color, border-color;
	background: $color-input-bg;
	caret-color: $color-mythic-orange;
	border: $color-input-border;
	text-decoration: none;
	appearance: none;

	&:hover,
	&:focus-visible {
		text-decoration: none;
		border-color: $color-link-focus;
	}
	&:active {
		border-color: $color-link-active;
		transition-duration: 0s;
	}
	&::placeholder {
		color: rgba($color-text, .6667);
		font-weight: normal;
		font-style: italic;
		font-family: $font-family-standard;
	}
}
input {
	line-height: 1;

	&[type="text"] {
		height: $height-control-panel-input;
		padding: 0 math.div($lhse, 3);
	}
}
select {
	&:active {
		background: $color-input-bg-active;
		color: $color-link-active;
	}
}
.radio-fieldset {
	border: $border-sections;
	border-radius: $border-radius-button;
	padding: 0;
	margin: 0;
	display: flex;
	background: $color-group-bg-lighter;
	color: $color-text-brighter;

	/* For users' browsers that don't yet support the `:has` pseudo-class, provide fallback pseudo-classes. */
	&:has(input:focus-visible) {
		outline: $outline-focus-visible;
	}
	@supports not (selector(:has(input))) { // For Firefox
		&:focus-within,
		&:active {
			outline: $outline-focus-visible;
		}
	}
	> div {
		margin: $lhse*.125 0;

		&:has(input:not(:checked):hover) {
			label {
				color: $color-text-brighter;
			}
		}
	}
	label {
		padding-right: .25em;
		cursor: pointer;
		text-align: right;
		transition: color $transition-duration-standard ease;
	}
}
[type="radio"] {
	cursor: pointer;
	appearance: none;
	width: 20px; // Use whole pixel values for width and height because they don't cause rendering inconsistencies.
	height: 20px;
	margin: 0;
	border-radius: 50%;
	border: 2px solid $color-link;
	box-shadow: inset 0 0 0 1px $color-group-bg;
	outline: none;

	&:hover,
	&:focus {
		border-color: $color-link-focus;
	}
	&:active {
		border-color: $color-link-active;
		background: $color-input-bg-active;
		transition-duration: 0s;
	}
	&:checked {
		background: $color-card-star;
		border-color: $color-content-bg-lighter;
	}
}
select {
	cursor: pointer;
	border-radius: $border-radius-button;
}
option {
	@include popup-menu-list-links;

	& {
		color: $color-link;
	}
	&[value=""] {
		display: none;
	}
	&:checked {
		color: rgba($color-link, math.div(1, 3));
	}
}
.checklist {
	label {
		padding-left: $lhse*.25;
		cursor: pointer;
		transition: color $transition-duration-standard ease;
	}
	li {
		list-style: none;
		display: flex;
		align-items: center;
	}
}
[type="checkbox"] {
	appearance: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: $lhse*.75;
	height: $lhse*.75;
	cursor: pointer;
	border-width: 1px;
	box-sizing: content-box;
	transition: none;
	line-height: 0;
	border-radius: 0;
	font-size: 100%;

	&:hover,
	&:focus-visible,
	&:active {
		+ label {
			color: $color-text-extra-brighter;
		}
	}
	&:active {
		background: $color-input-bg-active;
	}
	&::after {
		opacity: 0;
		content: url('img/check-mark.svg');
		width: 1em;
		height: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&:checked {
		background: $color-button-orange;

		&::after {
			opacity: $opacity-black-label-text;
		}
		&:hover {
			filter: $filter-brightness-button-hover;
		}
		&:active {
			filter: none;
		}
	}
	+ label {
		transition-duration: 0s;
		line-height: 1;
		margin-top: $lhse*.125;
		margin-bottom: $lhse*.125;
	}
}
.dropdown-menu-component {
	position: relative;
	z-index: list.index($layers, dropdown-label);

	&.opened {
		input {
			opacity: 0;
			transition: opacity $transition-duration-standard ease;
		}
	}
	input {
		cursor: pointer;
		width: $lhse*6; // Just wide enough to fit the widest available option ("First subtype").
		min-width: auto;

		&:hover,
		&:focus {
			+ .dropdown-arrow {
				fill: $color-link-focus;
			}
		}
		&:active {
			background: $color-input-bg-active;
			color: $color-link-active;

			+ .dropdown-arrow {
				fill: $color-link-active;
			}
		}
	}
	.dropdown-arrow {
		right: -$lhse*.25;
		position: absolute;
		width: auto;
		height: 100%;
	}
	ul {
		@include popup-menu-list;
		top: 0;
		z-index: list.index($layers, card-overlay);
		column-gap: $border-width-sections-medium;

		button {
			@include link;
			@include popup-menu-list-links;

			& {
				width: 100%;
				font-size: $font-size-small;
				height: $lhse*1.5;
			}
			&:focus {
				outline-offset: -2px; // This is needed to prevent a bizarre bug in Safari. The bug causes the button in the dropdown menu's top row of the second column to disappear while it has focus.
			}
		}
	}
}
.dropdown-transition-enter {
	transform: translate(0, -25%) scale(.5);
}
.dropdown-transition-leave-to {
	transition-duration: $transition-duration-standard*.5;
}
.dropdown-transition-enter,
.dropdown-transition-leave-to {
	opacity: 0;
}
