@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url('@/fonts/crimson-pro-regular-variable.woff2') format('woff2');
}
@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url('@/fonts/crimson-pro-italic-variable.woff2') format('woff2');
}
@font-face {
	font-family: "Philosopher";
	src: url("@/fonts/Philosopher-Bold.ttf") format("truetype");
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: "Ysabeau";
	src: url("@/fonts/Ysabeau-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-display: swap;
}

.bg-overlay {
	@include overlay-bg;
	transition: all $transition-duration-standard ease;
}
.overlay-enter,
.overlay-leave-to {
  opacity: 0;
}
.card-illustration {
	max-width: $max-width-content*.6667;
	width: 100%;
}
.bigger {
	font-size: $font-size-bigger;
}
.no-text-break {
	white-space: nowrap;
}
.svg-symbols {
	display: none;
}
.browser-unsupported {
	padding: 6.25% $lhse;
	max-width: $max-width-content;
	margin: auto;

	h1,
	strong {
		color: $color-text-extra-brighter;
	}
	p {
		color: $color-text-brighter;
	}
}
