@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url('@/fonts/crimson-pro-regular-variable.woff2') format('woff2');
}
@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url('@/fonts/crimson-pro-italic-variable.woff2') format('woff2');
}
@font-face {
	font-family: "Philosopher";
	src: url("@/fonts/Philosopher-Bold.ttf") format("truetype");
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: "Ysabeau";
	src: url("@/fonts/Ysabeau-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-display: swap;
}

.bg-overlay {
	@include overlay-bg;
	transition: all $transition-duration-standard ease;
}
.overlay-enter,
.overlay-leave-to {
  opacity: 0;
}
.intro-illustration {
	width: $max-width-content*.6180;
	margin: 0 auto;
	border: $border-image-thick;
}
.bigger {
	font-size: $font-size-bigger;
}
.no-text-break {
	white-space: nowrap;
}
