@use 'sass:list';
@use 'sass:math';
@use 'sass:color';
@use 'variables' as *;

@mixin heading-font {
	font-family: 'Philosopher', $font-family-standard;
	font-weight: bold;
}
@mixin tiny-font-size($for-heading-font: false) {
	@if ($for-heading-font) {
		font-size: 60%;
		font-size: 66.67%;
	}
	@else {
		font-size: 66.67%;
		font-size: 75%;
	}

	letter-spacing: $letter-spacing-tiny-font;
}
@mixin label-text-style {
	@include heading-font;
	@include tiny-font-size(true);
	text-transform: uppercase;
}
@mixin deck-info-style {
	display: flex;
	height: 100%;
	padding: 0 $lhse*.5;
	border: 0 solid $color-section-border;
	border-right-width: $border-width-sections;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	cursor: default;
	color: $color-text-brighter;

	h3 {
		@include label-text-style;
		margin: 0 $lhse*.5 0 0;
		text-align: right;
		width: min-content;
		color: $color-text;
	}
	.output {
		line-height: 1;
		margin-top: -$lhse*.0833; // Aligns the output text with the label text. They're normally unaligned because they use different fonts with different letter heights.
		font-weight: $font-weight-label;
	}
}
@mixin deck-info-box-wide() {
	flex-direction: row;

	h3 {
		text-align: right;
		margin: 0 $lhse*.5 0;
		width: max-content;
	}
}
@mixin deck-info-box-narrow() {
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: $lhse*.125 $lhse*.5;
	box-sizing: border-box;

	h3 {
		text-align: center;
		margin: 0 0 $lhse*.25;
	}
}
@mixin popup-menu-list {
	list-style: none;
	width: max-content;
	padding: $border-width-sections-medium;
	margin: 0;
	background: $color-group-bg-extra-darker;
	position: absolute;
	transition: $transition-duration-standard ease;
	transition-property: opacity, transform;
	will-change: transform;
	border: 1px solid $color-button-orange;
	box-shadow: $box-shadow-popups;

	.selected {
		a,
		button {
			&,
			&:hover,
			&:focus,
			&:active {
				background: $color-heading-bg;
				color: $color-text-darker;
				cursor: default;
			}
		}
		button {
			&,
			&:hover,
			&:focus,
			&:active {
				svg {
					fill: $color-group-bg-extra-darker;
				}
			}
		}
	}
}
@mixin popup-menu-list-links {
	min-width: 6em;
	padding: 0 math.div($lhse, 3);
	min-height: $lhse*1.1667;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid rgba($color-subtle-bluish-shadow-base, .75);
	border-top-color: rgba(#fff, .125);
	border-right-color: rgba(#fff, .0417);
	border-left-color: rgba($color-subtle-bluish-shadow-base, .0417);
	background: $color-group-bg;
	font: 100%/#{$line-height-standard} $font-family-standard;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
	position: relative; // For link-tabbing outline along with z-index
	color: $color-text-brighter;

	&:hover,
	&:focus,
	&:active {
		background: $color-mythic-brown;
		color: $color-text-brighter-over-mythic-brown;
		z-index: 1;

		svg {
			fill: $color-link-focus;
			transition-duration: 0s;
		}
	}
	&:active {
		background: $color-mythic-dim;
		color: #fff;

		svg {
			fill: $color-link-active;
		}
	}
	svg {
		width: $lhse;
		height: $lhse;
		fill: $color-button-orange;
		margin: 0 0 0 math.div(-$lhse, 3);
		transition: fill $transition-duration-standard ease;
	}

	@media (pointer: coarse) {
		min-height: $lhse*1.3333;
	}
}
@mixin dialog-backdrop {
	background: rgba($color-content-bg, .5);
	backdrop-filter: blur(5px);
}
@mixin overlay-bg {
	@include dialog-backdrop;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: list.index($layers, bg-overlay);
}
@mixin disabled-style {
	opacity: math.div(1, 3);
	filter: saturate(math.div(1, 3));
}
@mixin button($color: 'orange') {
	@include heading-font;

	@if $color == 'orange' {
		background: $color-button-orange;
	}
	@else if $color == 'gray' {
		background: $color-button-gray;
	}

	color: $color-black-label-text;
	cursor: pointer;
	box-shadow:
		-1px 1px 0 $color-subtle-bluish-shadow-base, // Rim around button
		1px 1px 0 $color-subtle-bluish-shadow-base, // Rim around button
		$box-shadow-button-shine;
	border: 0px solid $color-button-border;
	border-bottom-width: $border-bottom-width-button;
	border-radius: $border-radius-button;
	padding: $lhse*.25 .5em;
	margin: -2px 0 2px;
	min-width: $lhse*3;
	filter: brightness(1);
	transition: filter $transition-duration-standard ease;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	touch-action: manipulation; // Prevents the page zoom-in effect on touchscreen devices if the user ever double-taps, while still allowing other touchscreen gestures such as panning.
	will-change: filter; // Prevents an odd hover glitch in Safari.

	&:hover,
	&:focus {
		filter: $filter-brightness-button-hover;
		transition: filter $transition-duration-standard ease;
		text-decoration: none;
		color: $color-black-label-text; // Needed for links disguised with a button style.
	}
	&:focus-visible {
		outline: $outline-focus-visible;
	}
	&:active {
		border-bottom-width: 1px;
		margin-top: 0;
		margin-bottom: 0;
		filter: none;
		color: $color-black-label-text;
	}
	&:active,
	&:disabled {
		box-shadow:
			1px 0 0 $color-subtle-bluish-shadow-base,
			(-1px) 0 0 $color-subtle-bluish-shadow-base;
	}
	&:disabled {
		@include disabled-style;
		border-bottom-width: 1px;
		margin-top: 0;
		margin-bottom: 0;
		cursor: default;
		touch-action: manipulation;

		&:active {
			cursor: not-allowed;
		}
	}
}
@function link-decoration-color($color) {
	@return color.scale($color,
		$lightness: -40%, $saturation: -20%
	);
}
@mixin link-colors($color) {
	color: $color;
	text-decoration-color: link-decoration-color($color);
}
@mixin link {
	@include link-colors($color-link);
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-thickness: .0417em;
	text-underline-offset: .125em;
	padding: 0;
	margin: 0;
	background: none;
	border: 0;
	box-shadow: none;
	min-width: min-content;
	border-radius: $border-radius-button; // For focus outlines.
	text-shadow: none;
	display: inline;
	text-align: left;
	filter: none;
	font-weight: $font-weight-regular;
	line-height: inherit;

	&:hover,
	&:focus {
		@include link-colors($color-link-focus);
	}
	&:active {
		@include link-colors($color-link-active);
	}
}
@mixin screen-readers-only {
	clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.screen-readers-only {
	@include screen-readers-only();
}
@mixin pronounced-heading {
	background: $color-heading-bg;
	color: $color-text-extra-brighter;
	padding: $lhse*.25 math.div($lhse, 3);
	margin: $lhse math.div(-$lhse, 3) ($lhse*.5);
	border-radius: $border-radius-button;
	outline-offset: 2px !important;
	border: 1px solid $color-content-bg;
	box-shadow: inset 0 0 0 2px $color-group-bg;
}
@mixin sideboard-header-bg {
	$adjustment-amount: (math.div(1, 160))*100%;

	background-color: $color-mythic-brown;
	background-image: repeating-linear-gradient(-45deg,
		color.adjust($color-mythic-brown, $lightness: $adjustment-amount)
			0,
		color.adjust($color-mythic-brown, $lightness: $adjustment-amount)
			.5em,
		color.adjust($color-mythic-brown, $lightness: (-$adjustment-amount))
			.5em,
		color.adjust($color-mythic-brown, $lightness: (-$adjustment-amount))
			1em
	);
	color: $color-text-over-mythic-brown;
}
@mixin glowing-edges-of-scrollable-container {
	$color-scroll-container-shadow: $color-mythic-orange;

	background-image:
		/* Top glow cover */
		linear-gradient(
			$color-group-bg 33.33%,
			rgba($color-group-bg, 0)
		),

		/* Bottom glow cover */
		linear-gradient(
			rgba($color-group-bg, 0),
			$color-group-bg 66.67%
		),

		/* Top glow */
		radial-gradient(farthest-side at 50% 0,
			rgba($color-scroll-container-shadow, .25),
			rgba($color-scroll-container-shadow, 0)
		),

		/* Bottom glow */
		radial-gradient(farthest-side at 50% 100%,
			rgba($color-scroll-container-shadow, .25),
			rgba($color-scroll-container-shadow, 0)
		);
	background-position:
		center top,
		center bottom,
		center top,
		center bottom;
	background-size:
		100% $lhse*3,
		100% $lhse*3,
		100% $lhse*1.5,
		100% $lhse*1.5;
	background-attachment: local, local, scroll, scroll;
	background-repeat: no-repeat;
	background-color: $color-group-bg;
}
