@mixin heading-font {
	font-family: 'Philosopher', $font-family-standard;
	font-weight: bold;
}
@mixin tiny-font-size {
	font-size: 66.67%;
	letter-spacing: divide(1, 96)*1em;
}
@mixin label-text-style {
	@include heading-font;
	font-size: 75%;
	text-transform: uppercase;
}
@mixin deck-info-style {
	display: flex;
	height: 100%;
	padding: 0 $lhse*.5;
	border: 0 solid $color-section-border;
	border-right-width: $border-width-sections;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	cursor: default;
	color: $color-text-brighter;

	h3 {
		@include label-text-style;
		margin: 0 $lhse*.5 0 0;
		text-align: right;
		width: min-content;
	}
	.output {
		line-height: 1;
		margin-top: -$lhse*.1; // Aligns the output text with the label text. They're normally unaligned because they use different fonts with different letter heights.
		font-weight: $font-weight-label;
	}
}
@mixin deck-info-box-wide() {
	flex-direction: row;

	h3 {
		text-align: right;
		margin: 0 $lhse*.5 0;
		width: max-content;
	}
}
@mixin deck-info-box-narrow() {
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: $lhse*.125 $lhse*.5;
	box-sizing: border-box;

	h3 {
		text-align: center;
		margin: 0 0 $lhse*.25;
	}
}
@mixin popup {
	box-shadow: -.125em .375em .5em rgba(#000, .25);
	background: $color-mythic-dim;
}
@mixin popup-menu-list {
	@include popup;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	border-radius: $border-radius-group;
	border: 3px solid $color-mythic-dim;
}
@mixin popup-menu-list-links {
	min-width: 6em;
	padding: 0 divide($lhse, 3);
	min-height: $lhse*1.1667;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid rgba(#fff, .0833);
	border-bottom: 1px solid rgba(#000, .5833);
	background: $color-group-bg;
	font: 100%/#{$line-height-standard} $font-family-standard;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
	position: relative; // For link-tabbing outline along with z-index

	&:hover,
	&:focus {
		background: $color-mythic-dimmer;
		z-index: 1;
	}
	&:active {
		background: $color-input-bg-active;
	}
	@media (pointer: coarse) {
		min-height: $lhse*1.3333;
	}
}
@mixin overlay-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: index($layers, bg-overlay);
	background: rgba($color-heading-bg, .6);
	backdrop-filter: blur(3px);
}
@mixin button($color: 'orange') {
	@include heading-font;

	@if $color == 'orange' {
		background: $color-button-orange;
	}
	@else if $color == 'gray' {
		background: $color-button-gray;
	}

	color: $color-black-label-text;
	cursor: pointer;
	box-shadow:
		0 1px 0 .5px rgba(#000, .75), // Rim around button
		$box-shadow-button-shine;
	border: 0px solid $color-button-border;
	border-bottom-width: $border-bottom-width-button;
	border-radius: $border-radius-button;
	outline-offset: 2px;
	padding: $lhse*.25 .5em;
	margin: -2px 0 2px;
	min-width: 4.5em;
	filter: brightness(1);
	transition: filter $transition-duration-standard ease;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	will-change: filter; // Prevents an odd hover glitch in Safari.

	&:hover,
	&:focus {
		filter: $filter-brightness-button-hover;
		transition: filter $transition-duration-standard ease;
		text-decoration: none;
	}
	&:focus-visible {
		outline: $outline-focus-visible;
	}
	&:active {
		border-bottom-width: 1px;
		margin-top: 0;
		margin-bottom: 0;
		filter: $filter-brightness-button-active;
	}
	&:active,
	&:disabled {
		box-shadow: 0 0 0 .5px #000;
	}
	&:disabled {
		opacity: .3820;
		border-bottom-width: 1px;
		margin-top: 0;
		margin-bottom: 0;
		cursor: default;
		filter: none; // Prevents hover effects while disabled.

		&:active {
			cursor: not-allowed;
		}
	}
}
@function link-decoration-color($color) {
	@return color.scale($color,
		$lightness: -40%, $saturation: 20%
	);
}
@mixin link-colors($color) {
	color: $color;
	text-decoration-color: link-decoration-color($color);
}
@mixin link {
	@include link-colors($color-link);
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 1px;
	text-underline-offset: .125em;
	padding: 0;
	margin: 0;
	background: none;
	border: 0;
	box-shadow: none;
	min-width: min-content;
	border-radius: $border-radius-button; // For focus outlines.
	text-shadow: none;
	display: inline;
	text-align: left;
	filter: none;
	font-weight: inherit;
	line-height: inherit;

	&:hover,
	&:focus {
		@include link-colors($color-link-focus);
	}
	&:active {
		@include link-colors($color-link-active);
	}
}
@mixin screen-readers-only {
	clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.screen-readers-only {
	@include screen-readers-only();
}
@mixin pronounced-heading {
	background: $color-heading-bg;
	color: $color-text-extra-brighter;
	padding: divide($lhse, 4) divide($lhse, 3);
	margin: $lhse divide(-$lhse, 3) ($lhse*.5);
	border-radius: $border-radius-button;
	outline-offset: 2px !important;
}
@mixin sideboard-header-bg {
	background-color: $color-mythic-brown;
	background-image: repeating-linear-gradient(-45deg,
		$color-mythic-brown 											0,
		$color-mythic-brown 										  .5em,
		darken($color-mythic-brown, (1/80)*100%) .5em,
		darken($color-mythic-brown, (1/80)*100%) 1em
	);
	color: $color-text-over-mythic-brown;
	box-shadow: inset 0 0 0 1px rgba(#000, .2);
}
@mixin glowing-edges-of-scrollable-container {
	$color-scroll-container-shadow: darken($color-mythic-orange, 0%);
	$color-scroll-container-shadow: $color-link-focus;

	background-image:
		/* Top glow cover */
		linear-gradient(
			$color-group-bg 33.33%,
			rgba($color-group-bg, 0)
		),

		/* Bottom glow cover */
		linear-gradient(
			rgba($color-group-bg, 0),
			$color-group-bg 66.67%
		),

		/* Top glow */
		radial-gradient(farthest-side at 50% 0,
			rgba($color-scroll-container-shadow, .25),
			rgba($color-scroll-container-shadow, 0)
		),

		/* Bottom glow */
		radial-gradient(farthest-side at 50% 100%,
			rgba($color-scroll-container-shadow, .25),
			rgba($color-scroll-container-shadow, 0)
		);
	background-position:
		center top,
		center bottom,
		center top,
		center bottom;
	background-size:
		100% $lhse*3,
		100% $lhse*3,
		100% $lhse*1.5,
		100% $lhse*1.5;
	background-attachment: local, local, scroll, scroll;
	background-repeat: no-repeat;
	background-color: $color-group-bg;
}
