@import 'variables';

.deck {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	max-width: $max-width-app;
	width: 100%;
}
.outdated-deck-data-notice {
	border-radius: $border-radius-group;
	background-image: $striped-pattern-background;
	background-color: $color-mythic-brown;
	border: 1px solid $color-section-border-alt;
	color: $color-text-brighter;
	padding: $lhse*.1667 4.17% $lhse*.3333;
	margin: 0 auto $margin-sections;
	text-align: center;
	text-wrap: balance;
	max-width: $max-width-content*.75;

	h3 {
		margin-top: $lhse*.5;
		color: $color-text-extra-brighter;
	}
	.button-group {
		display: flex;
		justify-content: center;
	}
	.button-container {
		height: $lhse*1.5;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin: $lhse*.5 $lhse*.5 $lhse*.25;

		&:first-of-type {
			button {
				@include button('gray')
			}
		}
	}
	.updated-percentage {
		display: inline-block;
		min-width: 4ch;
		text-align: right;
		color: $color-text-extra-brighter;
	}
}
.deck-info {
	@include deck-info-style;
	color: $color-text;
	min-height: $height-deck-header-component;

	h3 {
		color: $color-text;
	}
}
.control-panel {
	border-radius: $border-radius-group;
	overflow: hidden;
	background: $color-group-bg;
	width: 100vw;
	display: grid;

	section {
		padding: $lhse*.125 $lhse*.5;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	label,
	h3 {
		display: block;
		margin-top: -$lhse*.125;
		margin-right: divide(1em, 3);
		margin-left: divide(1em, 3);
		color: $color-text;
		font: $font-weight-label #{83.33%}/#{1} $font-family-standard;
	}
	.radio-fieldset {
		label {
			@include heading-font;
			@include label-text-style;
			margin-top: 0;
		}
	}
}

@media (max-width: $width-app-breakpoint) {
	.deck-info {
		border-width: 0;
		border-top-width: 2px;
		border-right-width: 2px;

		.output {
			display: flex;
			max-height: $line-height-standard * 1.75rem;
			align-items: center;
		}
	}
}
@media (max-width: ($min-width-app * .625)) {
	.deck {
		padding: 0;
	}
}
@media (max-width: ($min-width-app * .5)) {
	.deck {
		padding: 0;

		.wrap {
			padding: 0 divide($lhse, 4);
		}
	}
}
