@use 'sass:math';
@use 'variables-and-mixins' as *;

.deck {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	max-width: $max-width-app;
	width: 100%;
	margin-bottom: $lhse*.5;
}
.outdated-deck-data-notice {


	aside {
		@include sideboard-header-bg;
		border-radius: $border-radius-group;
		max-width: $max-width-content*.75;
		text-align: center;
		text-wrap: balance;
		margin: -$lhse*.5 auto $lhse*.5;
		padding: $lhse*.1667 4.17% $lhse*.5;

		h3 {
			margin-top: $lhse*.5;
			color: $color-text-brighter-over-mythic-brown;
		}
		.button-container {
			height: $lhse*1.25;
			align-items: flex-start;
			margin: math.div($lhse, 3) $lhse*.5 $lhse*.25;
		}
	}
	.updated-percentage {
		display: inline-block;
		min-width: 4ch;
		text-align: right;
		color: $color-text-extra-brighter;
	}
}
.deck-info {
	@include deck-info-style;
	color: $color-text;
	min-height: $height-deck-header-component*.75;

	.output {
		&[title] {
			cursor: help;
		}
	}
}
.control-panel {
	display: grid;

	section {
		padding: $lhse*.125 $lhse*.5;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.no-cards {
	a {
		white-space: nowrap;
	}
}

@media (max-width: ($min-width-app*1.25)) {
	.deck-info {
		border-width: 0;
		border-top-width: $border-width-sections;
		border-right-width: $border-width-sections;

		.output {
			display: flex;
			max-height: $line-height-standard * 1.75rem;
			align-items: center;
		}
	}
}
@media (max-width: ($min-width-app * .625)) {
	.deck {
		padding: 0;
	}
	.outdated-deck-data-notice {
		max-width: none;
		border-radius: 0;
	}
}
@media (max-width: ($min-width-app * .5)) {
	.deck {
		padding: 0;

		.wrap {
			padding: 0 math.div($lhse, 4);
		}
	}
	.outdated-deck-data-notice {
		margin: 0 auto $lhse*.5;
	}
}
