@import 'variables';

$table-borders: 1px solid desaturate(lighten($color-group-bg, 8.33%), 6.25%); 

.more-stats {
	&.content-box {
		max-width: none;
		// margin: $lhse;
	}
	.tables {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: $lhse*.75 $lhse;

		section {
			grid-column: span 1;
		}
	}
	h3 {
		margin-top: $lhse/2;
	}
	h4 {
		margin: $lhse/2 0 $lhse/3;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		border: $table-borders;
		line-height: 1;
		cursor: default;
		width: 100%;
		background: darken($color-group-bg, 6.25%);

		thead {
			th {
				font-size: 75%;
				text-align: right;
			}
		}
		tbody {
			tr {
				&:hover {
					outline: 1px solid rgba($color-mythic-orange, .75);
					position: relative;
					z-index: 1;
				}
			}
		}
		th,
		td {
			padding: $lhse/4;
			border: $table-borders;
			text-align: right;
		}
		th {
			background: lighten($color-group-bg, 6.25%);
			border-color: desaturate(lighten($color-group-bg, 16.67%), 8.33%);
		}
	}
	p {
		margin: $lhse 0 0;
		
		&.return-link {
			text-align: right;
		}
	}
	.mana-symbol {
		font-size: 137.5%;
	}
}
.vert-center-cell {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	small {
		font-size: 75%;
		margin-right: .5em;
	}
}

@media (max-width: 1920px * .9375) {
	.more-stats {
		.tables {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
@media (max-width: $width-site-breakpoint-tablet*.875) {
	.more-stats {
		.tables {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media (max-width: $width-site-breakpoint-tablet*.6667) {
	.more-stats {
		.tables {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
