@import 'variables';
$table-borders: 1px solid $color-heading-bg;

.more-stats {
	max-width: max-content;
	margin: 0 auto $lhse;
	
	.tables {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: $lhse*.75 $lhse;
		
		section {
			grid-column: span 1;
		}
	}
	h3 {
		@include pronounced-heading;
		margin-top: 0;
		text-align: center;
	}
	h4 {
		margin: $lhse/2 0 1px;
		padding: $lhse/4 $lhse/4;
		background: $color-heading-bg;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		border: $table-borders;
		border-width: 3px;
		border-top-width: 0px;
		width: 100%;
		max-width: $lhse*9;

		thead {
			th {
				@include heading-font;
				font-size: 60%;
				text-transform: uppercase;
				text-align: right;
				background: $color-heading-bg;
				cursor: default;
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		tbody {
			position: relative;

			tr {
				transition: background-color .125s ease-out;

				&:hover {
					background: rgba(#000, .375);
					transition-duration: 0s;
				}
			}
		}
		th,
		td {
			padding: 1px $lhse/4;
			border: $table-borders;
			text-align: right;
		}
		th {
			text-align: right;

			.mana-symbol {
				margin-left: auto;
			}
		}
	}
	p {
		margin: $lhse 0 0;
		
		&.return-link {
			text-align: center;
		}
	}
	.mana-symbol {
		font-size: 137.5%;
	}
}
.vert-center-cell {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	small {
		font-size: 75%;
		margin-right: .5em;
	}
}

@media (max-width: (1920px * .9375)) {
	.more-stats {
		.tables {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
@media (max-width: ($width-site-breakpoint-tablet*.875)) {
	.more-stats {
		.tables {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media (max-width: ($width-site-breakpoint-tablet*.6667)) {
	.more-stats {
		.tables {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
@media (max-width: ($min-width-site*.625)) {
	.more-stats {
		max-width: 100%;

		.tables {
			width: max-content;
			margin: 0 auto;
		}
	}
}
