@import 'variables';
$table-inner-borders: 1px solid $color-group-bg-lighter;
$table-outer-borders: $border-width-sections-medium solid $color-heading-bg;

@mixin filterable-table-component {
	cursor: pointer;

	&:hover {
		background: $color-input-bg-focus;
	}
	&:active {
		background: $color-input-bg-active;
		color: $color-text-brighter-over-mythic-brown;
	}
}
@mixin highlighted-table-component {
	background: $color-highlight-bg;
	outline-offset: -1px;
	scroll-margin: $lhse*2;

	th {
		color: $color-app-header-link-active;
	}
	td {
		color: $color-text-brighter-over-mythic-brown;
	}
	&,
	&:hover {
		outline: $border-width-sections-medium dashed $color-mythic-orange;
	}
	&:hover {
		background: desaturate(darken($color-highlight-bg, 6.25%), 6.25%);

		th {
			color: $color-app-header-link-hover;
		}
	}
	&:active {
		background: $color-group-bg;

		th {
			color: $color-mythic-orange;
		}
		td {
			color: $color-text-brighter;
		}
	}
}

.stats-analyzer {
	margin: 0 auto $lhse*.5;
	max-width: none;
	position: relative;

	&:has(.no-cards) {
		margin-top: $lhse*.75;
		margin-bottom: $lhse*1.25;
	}
	.no-cards {
		h4 {
			margin-top: $lhse*.25;
		}
		p {
			max-width: $max-width-narrow-message;
		}
	}
	.tables {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: $lhse;
		margin-bottom: $lhse*.5;
		width: min-content;
	}
	section {
		width: $lhse*10; // Wide enough to fit "Modal double-faced" layout label without breaking onto a new line.
		justify-self: center;
		height: min-content;
		cursor: default;
		scroll-margin: $lhse*2;
		transition: 1s ease;
		transition-property: outline-color, box-shadow;
		outline: 1px solid transparent;

		&:has(tbody:active){
			outline-color: $color-highlight-bg;
			box-shadow: 0 0 $lhse*4 $color-highlight-bg;
			transition-duration: 0s;
			z-index: 1;
		}
		h4 {
			margin: 0;
			padding: $lhse*.2083 $lhse*.1667;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			background: $color-heading-bg;

			div {
				@include tiny-font-size;
				margin-top: $lhse*.1667;
			}
		}
		.no-data {
			padding: 0 $lhse*.25;
			font-style: italic;
			min-height: $lhse*2.9167;
			display: flex;
			justify-content: center;
			align-items: center;
			border: $table-outer-borders;
			border-top-width: 0;
			color: $color-text-darker;
			cursor: default;
			background: $color-group-bg-darker;
			font-size: $font-size-small;
		}
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		border: $table-outer-borders;
		border-top-width: 0;
		width: 100%;
		background: $color-group-bg-darker;
	}
	thead {
		th {
			@include tiny-font-size(true);
			@include heading-font;
			text-align: right;
			background: $color-group-bg-lighter;
			color: $color-text-brighter;
			border: 1px solid $color-heading-bg;
			border-top-color: $color-group-bg;
		}
	}
	tbody {
		border-bottom: $border-width-sections-thickest solid $color-heading-bg;

		tr {
			height: $lhse;
		}
	}
	tfoot {
		th,
		td {
			font-size: $font-size-small;
			color: $color-text-darker;
			line-height: $line-height-standard*.75;
		}
	}
	th,
	td {
		padding: $lhse*.1667 $lhse*.25;
		border: $table-inner-borders;
		text-align: right;
		line-height: .875;
	}
	th {
		text-align: right;
		text-wrap: balance;
		font-weight: normal;
		color: $color-text;

		small {
			margin-right: .5em;
			line-height: .875 * 1.2; // Tall enough to make the height of the Rarities table's rows match the heights of the other tables' rows.
		}
	}
	td {
		padding-top: 0;
		padding-bottom: 0;
		height: calc(#{$lhse} - 1px); // `height` works like `min-height` on table cells.

		span {
			font-size: 75%;
			margin-left: .0417ch;
		}
	}
	.distinct-head {
		th {
			background: $color-mythic-brown;
			color: $color-text-over-mythic-brown;
		}
	}
	.empty-cell {
		background: $color-heading-bg;
	}
	.filterable-stats {
		tr {
			@include filterable-table-component;
			cursor: pointer;

			&:hover {
				outline: 1px solid $color-highlight-bg;
				outline-offset: -1px;

				th {
					color: $color-link-focus;
				}
				td {
					color: $color-text-over-mythic-brown;
				}
			}
			&:active {
				th {
					color: $color-link-active;
				}
				td {
					color: $color-text-brighter-over-mythic-brown;
				}
				th,
				td {
					border-right-color: $color-highlight-border;
					border-left-color: $color-highlight-border;
				}
			}
			th {
				color: $color-link;
			}
		}
		.filtering {
			@include highlighted-table-component;
			color: $color-text-brighter;

			th,
			td {
				border-right-color: $color-highlight-border;
				border-left-color: $color-highlight-border;
			}
			&:active {
				th,
				td {
					border-color: $color-group-bg-lighter;
				}
			}
		}
	}
	.filterable-stats-multiple-tds {
		tr {
			&:active {
				cursor: not-allowed;
			}
		}
		td {
			@include filterable-table-component;
			color: $color-link;

			&[disabled] {
				font-weight: normal;

				&,
				&:hover,
				&:active {
					pointer-events: none;
					color: $color-text;
					outline: none;
					background: none;
				}
				&:active {
					cursor: not-allowed;
				}
			}
			&:hover {
				color: $color-link-focus;
				outline: 1px solid $color-highlight-bg;
				outline-offset: -1px;
			}
			&:active {
				color: $color-link-active;
			}
			&.filtering {
				@include highlighted-table-component;
				color: $color-app-header-link-active;

				&:hover {
					color: $color-app-header-link-hover;
				}
				&:active {
					color: $color-mythic-orange;
				}
			}
		}
	}
	tbody:not(.filterable-stats) {
		th {
			&:active {
				cursor: not-allowed;
			}
		}
	}
	.height-limiter {
		overflow-y: auto;
		max-height: $lhse * 13.4;
		background-color: $color-group-bg; // This fixes a weird font-rendering glitch in Chrome that causes the element's text color to subtly dim while a scrollbar is present.
	}
	.mana-symbol {
		font-size: 112.5%;
		margin-top: -$lhse*.0625;
		margin-bottom: -$lhse*.0625;
	}
	footer {
		display: flex;
		grid-column: 2 / 4;
		border-top: $border-sections;
		padding-top: $lhse;
		margin-top: $lhse*.5;
	}
	.note {
		font-size: $font-size-small;
		max-width: $max-width-content;
		margin: 0 auto;

		h4 {
			margin-top: 0;
			font-size: 116.67%;
			margin-bottom: 0;
		}
		ul {
			padding-left: $lhse*.875;
		}
		li {
			margin-left: 0;
			padding-left: 0;
		}
		p {
			margin: divide($lhse, 3) 0;
		}
	}
}
.filter-notice {
	z-index: index($layers, scroll-to-top);
	grid-column: span 4;
	padding: 0 $lhse*1.5;
	margin: divide(-$lhse, 3) (-$lhse*1.5) 0;
	border-width: 1px 0;
	border-style: solid;
	border-color: $color-section-border;
	background: $color-group-bg; // Needed for transition effect.
	min-height: $lhse*1.6667;
	transition: $transition-duration-standard ease-out;
	transition-property: background, color, border;
	cursor: default;

	&.active {
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: $box-shadow-sticky-header;
		background: rgba($color-mythic-dim, .9167);
		border-color: $color-highlight-border;
		color: $color-text-brighter-over-mythic-brown;

		header {
			svg {
				fill: #fff;
			}
		}
		h4,
		strong {
			color: #fff;
		}
	}
	> div {
		font-size: $font-size-small;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: $lhse*.1667 0;
	}
	header {
		display: flex;
		align-items: center;

		svg {
			fill: $color-text-brighter;
			width: $lhse*1.3333;
			height: $lhse*1.3333;
			margin-right: .5ch;
		}
	}
	h4 {
		margin: 0;
		text-wrap: nowrap;
	}
	p {
		margin: -$lhse*.125 $lhse 0;
		text-wrap: balance;
		text-align: center;
		line-height: $line-height-standard*.8333;
	}
	.button-container {
		height: $lhse*1.25;
	}
	button {
		background: $color-button-gray;
		text-wrap: nowrap;
		font-size: 83.33%;
		height: $lhse*1.5;
		display: flex;
		align-items: center;

		svg {
			width: $lhse*1.3333;
			height: $lhse*1.3333;
			margin-right: .25ch;
		}
	}
}
.vert-center-cell {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

@media (max-width: (1920px * .7083)) {
	.stats-analyzer {
		.filter-notice,
		footer {
			grid-column: span 3;
		}
		.tables {
			grid-template-columns: repeat(3, 1fr);
		}
		section {
			grid-column: span 1;
		}
	}
}
@media (max-width: ($min-width-app * 1.0625)) {
	.stats-analyzer {
		.filter-notice,
		footer {
			grid-column: span 2;
		}
		.tables {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media (max-width: ($min-width-app * .75)) {
	.stats-analyzer {
		.filter-notice {
			margin-right: -$lhse;
			margin-left: -$lhse;
			padding: 0 $lhse;
		}
		.tables {
			gap: $lhse*.5;
		}
		footer {
			margin-top: $lhse*.5;
		}
	}
}
@media (max-width: ($min-width-app*.6667)) {
	.stats-analyzer {
		.filter-notice,
		footer {
			grid-column: span 1;
		}
		.tables {
			grid-template-columns: 1fr;
			width: 100%;
		}
	}
}
@media (max-width: $width-mobile-breakpoint) {
	.stats-analyzer {
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		.filter-notice {
			grid-column: span 1;
			height: auto;

			> div {
				@include tiny-font-size;
			}
			h4 {
				display: none;
			}
			p {
				text-align: left;
				margin-left: 0;
			}
			p,
			.button-container {
				margin-top: $lhse*.25;
				margin-bottom: $lhse*.25;
			}
		}
		.filter-notice {
			margin-right: -$lhse*.75;
			margin-left: -$lhse*.75;
		}
	}
}
@media (max-width: ($min-width-app * .5)) {
	.stats-analyzer {
		border-radius: 0;

		&:has(.no-cards) {
			border-radius: 0;
		}
	}
}
