@import 'variables';

@keyframes cinematic-fade-in {
	0% {
		filter: brightness(0%) blur(16px);
	}
	100% {
		filter: none;
	}
}
@keyframes zoom-in {
	0% {
		transform: scale(100%);
	}
}
@keyframes fade-in-text-box {
	0% {
		opacity: 0;
		filter: brightness(133.33%);
		transform: scale(100%);
	}
	50% {
		opacity: 1;
		transform: scale(102.0833%);
	}
	100% {
		opacity: 1;
		filter: none;
		transform: none;
	}
}

.home-page {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

	.intro {
		min-height: $lhse*12;
		height: 50vw;
		max-height: calc(100vh - var(--header-height));
		margin: 0 auto;
		position: relative;

		.image-bg {
			width: 100%;
			height: 100%;
			background: url('/src/img/hero-max.webp') center no-repeat #000;
			background-size: cover;
			animation:
				2s cubic-bezier(0, 0, 0, 1) .25s forwards cinematic-fade-in,
				3s ease-out .25s zoom-in;
			filter: brightness(0%);
			transform:
				scale(1.0625) // If the scale value is ever changed, then new image sizes should be made.
				rotate(-.02deg); // This is a hack to fix a rendering glitch in Firefox when the image animates.
			opacity: .8333;
		}
		.wrap {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
		.invisible-click-surface {
			height: 100%;
			position: absolute;
			left: 0;
			right: 0;
		}
		.text-box {
			width: $lhse*11;
			font-size: 108.33%;
			box-sizing: content-box;
			position: absolute;
			bottom: $lhse*1.5;
			left: $lhse*1.5;
			background: $color-group-bg;
			border: $border-image-thick;
			border-color: $color-heading-bg;
			box-shadow: 0 0 $lhse*1.5 rgba($color-subtle-bluish-shadow-base, .6667);
			padding: $lhse*.25 $lhse*.875;
			border-radius: $border-radius-group;
			animation: .5s ease-in-out 2.25s forwards fade-in-text-box;
			opacity: 0;
		}
		h2 {
			font-size: $font-size-bigger;
			margin-top: $lhse*.5;
		}
		.button-group {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: $lhse*.75;
			justify-content: space-between;
			align-items: center;
			max-width: $lhse*12;
			margin: $lhse*.75 auto $lhse*.5;
		}
		button,
		.button {
			height: 100%;
			min-height: $lhse*1.6667;
			display: flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;

			&:first-child {
				background: $color-button-gray;
			}
		}
	}
	.app-features {
		padding: $lhse*1.5 $lhse*.5;
		position: relative;
		background: $color-group-bg;
		scroll-margin-top: $lhse;
		border: solid $color-mythic-dim;
		border-width: $border-width-sections-thickest 0 0;

		h2 {
			margin-top: 0;
		}
		.wrap {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0 4.17%;
		}
		.app-features-text {
			max-width: $max-width-content;
			margin: 0 auto;
		}
		ul {
			font-size: $font-size-bigger;
			margin-bottom: 0;
		}
		li {
			margin: $lhse*.25 0;
			line-height: $line-height-standard * .9167;
		}
		img {
			border: $border-image-thin;
		}
	}
	.final-call-to-action {
		position: relative;

		.wrap {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			max-width: $max-width-content;
			padding: $lhse;
		}
		.button-container {
			margin: divide($lhse, 3) $lhse*.5;
		}
		.button {
			background: $color-button-gray;
		}
		button,
		.button {
			min-width: $lhse*6;
			height: $lhse*2.25;
			width: divide(100%, 3);
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: $font-size-bigger;
			color: $color-black-label-text;
		}
	}
}

@media (max-width: $width-app-breakpoint) {
	.home-page {
		.intro {
			.text-box {
				font-size: 100%;
			}
		}
		.app-features {
			img {
				max-width: 675px;
				width: 100%;
			}
			ul {
				font-size: 100%;
			}
		}
	}
}
@media (max-width: ($width-app-breakpoint*.8333)) {
	.home-page {
		.intro {
			.text-box {
				bottom: $lhse;
				left: $lhse;
			}
		}
	}
}
@media (max-width: ($min-width-app*.8333)) {
	.home-page {
		.intro {
			height: auto;
			max-height: none;

			.image-bg {
				min-height: $lhse*13;
				max-height: 50vh;
				opacity: 1;
			}
			.wrap {
				position: relative;
				background: $color-group-bg;
				border-top: $border-image-thick;
				border-color: $color-content-bg;
			}
			.text-box {
				position: relative;
				top: 0;
				left: 0;
				right: 0;
				width: 100%;
				max-width: $max-width-content*.625;
				margin: 0 auto;
				padding: divide($lhse, 3);
				background: none;
				border: 0;
				border-radius: 0;
				box-sizing: border-box;
				box-shadow: none;
				opacity: 1;
				animation: none;
				text-align: center;
				text-wrap: balance;
				font-size: $font-size-bigger;
			}
		}
		.app-features {
			box-shadow: none;
			padding: $lhse 0;
		}
	}
}

$width-app-features-img: 675px; // Should match the `img` element's width.

@media (max-width: ($width-app-features-img*1.25)) {
	.home-page {
		.app-features {
			.wrap {
				display: block;
				max-width: $width-app-features-img;
			}
			img {
				margin: 0 auto $lhse;
			}
			li {
				padding: 0;
			}
		}
	}
}

// These image sizes are intentionally slightly bigger than the media query widths because of the image's zoom-in effect.
@media (max-width: 1920px) {
	.home-page {
		.intro {
			.image-bg {
				background-image: url('/src/img/hero-2040.webp');
			}
		}
	}
}
@media (max-width: 1440px) {
	.home-page {
		.intro {
			.image-bg {
				background-image: url('/src/img/hero-1530.webp');
			}
		}
	}
}
@media (max-width: 1080px) {
	.home-page {
		.intro {
			.image-bg {
				background-image: url('/src/img/hero-1148.webp');
			}
		}
	}
}
@media (max-width: 720px) {
	.home-page {
		.intro {
			.image-bg {
				background-image: url('/src/img/hero-765.webp');
			}
		}
	}
}
@media (max-width: 480px) {
	.home-page {
		.intro {
			.image-bg {
				background-image: url('/src/img/hero-510.webp');
			}
		}
	}
}
@supports not (gap: 1px) { // If the user's browser doesn't support `gap`, then it probably doesn't support WebP images either.
	.home-page {
		.intro {
			.image-bg {
				background-image: url('/src/img/hero.jpg');
			}
		}
	}
}
