@use 'sass:math';
@use 'variables-and-mixins' as *;

.list-entry,
.list-entry-results {
	margin: 0 auto $lhse*.5;

	h3 {
		@include pronounced-heading;
		margin-top: 0;
	}
}
.list-entry {
	max-width: $max-width-content*1.3333;

	.columns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: $lhse $lhse;
		align-items: flex-start;
		margin: $lhse 0 $lhse*.5;
	}
	.rules {
		font-size: $font-size-small;
		line-height: $line-height-standard*.9167;

		h4 {
			margin-top: 0;
		}
		*:last-child {
			margin-bottom: 0;
		}
		code {
			font-size: $font-size-card-list-textarea;
			display: inline-block;
			margin-top: -$lhse*.375;
			background: $color-group-bg-darker;
			padding: math.div(1em, 3) .6667em;
		}
	}
	.loading-percentage {
		text-align: center;

		span {
			font-size: 200%;
		}
	}
}
.list-entry-form {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

	label {
		@include heading-font;
		text-align: center;
		padding: $lhse*.0833 $lhse*.75 $lhse*.1667;
		background: $color-heading-bg;
		border-radius: $border-radius-button;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		width: fit-content;
		margin: 0 auto;
		color: $color-text-extra-brighter;
	}
	textarea {
		margin: 0 $lhse*.25; // Horizontal margins are to be equal to the width of the pseudo-border from box-shadow.
		max-width: 100%;
		width: 36ch;
		box-sizing: content-box;
		box-shadow: 0 0 0 $lhse*.25 $color-heading-bg;
		position: relative;
		z-index: 1;

		&::placeholder {
			font-style: italic;
			font-size: 120%; // Inverse of $font-size-card-list-textarea to make the placeholder text appear as the standard font size.
		}
	}
	.button-container {
		width: fit-content;
		height: $lhse*2;
		align-self: center;
		background: $color-heading-bg;
		border-top-width: 0;
		padding: $lhse*.0833 $lhse*.75 0;
		border-radius: $border-radius-button;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	button {
		height: $lhse*1.5;
		font-size: 87.5%;

		svg {
			margin-right: .5ch;
			width: $lhse*1.3333;
			height: $lhse*1.3333;
		}
	}
}
.list-entry-results {
	h3 {
		margin-bottom: $lhse;
	}
	> section {
		border-bottom: $border-sections;
		padding-bottom: $lhse*.5;
		margin-bottom: $lhse;

		h4 {
			margin-top: $lhse;
		}
	}
	.card-lists {
		display: grid;
		gap: $lhse $lhse*1.5;
		margin: $lhse 0;

		&.two-columns {
			grid-template-columns: repeat(2, 1fr);
		}
		h5 {
			margin-top: 0;
		}
		ul {
			margin-bottom: 0;
		}
	}
	.ok {
		margin-top: $lhse*.5;
		height: $lhse*1.5;
		display: flex;
		align-items: center;

		a {
			@include button;
		}
	}
	.button-container {
		height: $lhse*1.3333;
	}
	.copy-button {
		justify-content: flex-start;

		button {
			background: $color-button-gray;
			font-size: 75%;
			height: $lhse*1.5;
		}
		.v {
			&-enter-active,
			&-leave-active {
				transition: opacity 1s ease;
			}
			&-enter-from,
			&-leave-to {
				opacity: 0;
			}
		}
		.notification {
			margin-top: -$lhse*.2;
			margin-left: $lhse*.25;
			font-style: italic;
		}
	}
}

@media (max-width: ($min-width-app * .8333)) {
	.list-entry {
		max-width: $max-width-content;

		.columns {
			grid-template-columns: auto;
		}
		form {
			width: fit-content;
			border: 0;
			margin: 0 auto;
		}
		.rules {
			line-height: $line-height-standard;
			margin: 0 auto;
			max-width: $max-width-content * .75;

			h4 {
				margin-top: $lhse*.5;
			}
		}
	}
}
@media (max-width: ($min-width-app * .5)) {
	.list-entry-results {
		.card-lists {
			&.two-columns {
				grid-template-columns: 1fr;
			}
		}
	}
}
@media (max-width: ($min-width-app * .4583)) {
	.list-entry {
		form {
			justify-self: center;
			margin-right: -$lhse*.5;
			margin-left: -$lhse*.5;
		}
		textarea {
			box-sizing: border-box;
			padding: math.div($lhse, 3) $lhse*.5;
			font-size: 80%;
			margin-right: 0;
			margin-left: 0;
		}
	}
}
