@use 'variables-and-mixins' as *;

.donate-page {
	max-width: $max-width-content*1.5;

	h2 {
		text-align: center;
	}
	figure {
		float: right;
		position: relative;
		margin-top: 0;
		margin-left: $lhse;
		width: 50%;
	}
	.donate-buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: $lhse*.75 $lhse*1.5;
		align-items: center;
		margin: $lhse 0;

		.button-container {
			height: $lhse*2.75;
		}
		a {
			@include button;
			min-width: $lhse*8;
			gap: $lhse*.3333;
		}
		img {
			height: $lhse*2;
			width: auto;
			border-radius: $border-radius-small-button;
			filter: brightness(.9167);
		}
		span {
			text-align: left;
			font-size: $font-size-bigger
		}
		small {
			@include tiny-font-size(true);
			display: block;
		}
	}
}

@media (max-width: ($min-width-app)) {
	.donate-page {
		max-width: $max-width-content;

		figure {
			float: none;
			margin: $lhse*.5 auto ($lhse*.5 + $margin-sections);
			width: auto;
		}
	}
}
