@import 'variables';

.create-deck-page {
	h2 {
		text-align: center;
		margin-bottom: $lhse*.5;
	}
	.columns {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin: $lhse*.5 0;
	}
	.new-deck,
	.import-data {
		border: $border-image;
		padding: $lhse*.5 $lhse*.75;
		margin: $lhse*.25;
	}
	.new-deck {
		form {
			display: grid;
			grid-template-columns: 4fr 1fr;
			grid-template-rows: min-content $lhse;
			gap: divide($lhse, 2) 0;
			align-items: center;
			margin: $lhse*.25 0;
		}
		label {
			font-family: $font-family-standard;
			font-weight: normal;
			grid-column: span 2;
			padding-left: divide($lhse, 4);
		}
		input {
			border-radius: $border-radius-button;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			width: 100%;
			border-right-width: 0;
			padding-right: 0;
		}
		button {
			min-width: auto;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			height: $height-deck-control-panel-input;
		}
	}
	.import-data {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;

		button {
			min-height: $lhse*2.25; // Needed to prevent the heading from jumping on button press
		}
	}
	h3 {
		margin-top: 0;
	}
}
