@import 'variables';

.deck-action-page {
	.multi-select-buttons,
	.button-container {
		height: $lhse*1.5;
		display: flex;
		align-items: center;
	}
	form {
		display: grid;
		gap: $lhse*.5;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		justify-content: center;
		justify-items: center;
		margin-bottom: $lhse*.5;
	}
	.multi-select-buttons,
	.checklist {
		padding: divide($lhse, 3) $lhse*.6667;
		border: $border-sections;
	}
	.multi-select-buttons {
		display: grid;
		grid-template-rows: 1fr 1fr;
		width: max-content;
		grid-gap: $lhse*.25 $lhse*.5;
		height: min-content;

		.button-container {
			height: $lhse*1.25;
		}
		button {
			@include button('gray');
			font-size: 75%;
			width: 100%;
		}
	}
	.checklist {
		margin: 0;

		li {
			font-size: $font-size-bigger;

			&:first-child {
				margin-top: -$lhse*.0625;
			}
		}
	}
	.submit-button {
		grid-column: span 2;
	}
}
.action-done {
	text-align: center;
	text-wrap: balance;
}
.list-as-text {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: $lhse;
	max-width: none;

	section {
		width: $lhse*12;
	}
	h4 {
		margin: 0;
	}
	.text-card-list {
		font-family: monospace;
		font-weight: normal;
		font-size: 75%;
		line-height: normal;
		border-radius: 0;
		margin: $lhse*.5 auto;
		width: 100%;
		color: $color-text-brighter;
		padding: $lhse*.5 $lhse*.6667;
		border-color: $color-content-bg;
	}
	.no-cards {
		font-style: italic;
		color: $color-text-darker;
	}
}

@media (max-width: $width-mobile-breakpoint) {
	.deck-action-page {
		form {
			display: block;
		}
		.multi-select-buttons,
		.checklist {
			margin: $lhse*.5 0;
		}
		.multi-select-buttons {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
		}
		.checklist {
			width: max-content;
			max-width: 100%;
		}
	}
}
