@import 'variables';
@import 'deck-header';
@import 'card-display';
@import 'card-list';
@import 'card-list-controls';

.deck {
	article {
		margin: 0 0 $lhse/2;
		position: relative;
	}
	width: 100%;
}
.card-display-scroll-view {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: $lhse/2;
	margin-bottom: $lhse;
}
.deck-main {
	grid-column: 3 / 8;
	max-width: 100%;
}

@media (max-width: $width-site-breakpoint-tablet) {
	.deck-main {
		grid-column: 4 / 8;
	}
}
@media (max-width: $min-width-site * .8) {
	.card-display-scroll-view {
		display: block;
	}
}
