@import 'variables';

.draw-simulator {
	margin: $lhse*.5 auto;

	.card-browse-appear-active {
		animation-delay: 0s; // This purposely prevents the delay in the card display that normally happens when arriving on a deck page, but that I don't want on the draw simulator page.
	}
	.deck-control-panel {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: center;
		overflow: hidden;
		width: $max-width-content;
		min-height: $height-deck-header-component;
		padding-right: $lhse*.5;
		padding-left: $lhse*.25;

		button {
			min-height: $lhse*1.5;
			margin-right: $lhse*.5;
			margin-left: $lhse*.5;

			&:last-of-type {
				@include secondary-button;
			}
		}
		.deck-info {
			@include deck-info-style;
			order: 0;

			&:nth-of-type(2) {
				margin-right: $lhse*.5;
			}
			h3 {
				white-space: normal;
				width: min-content;
			}
			.output {
				font-size: 200%;
				min-width: 2ch;
				color: $color-text;
			}
		}
	}
	.card-list {
		li {
			max-width: $width-card-buttons-wide;

			&:nth-last-of-type(8) {
				margin-bottom: $margin-card-gap-after;
			}
		}
	}
}
