@import 'variables';
@import 'card-list';

.deck-editor {
	margin: 0 auto $lhse*.5;
	display: grid;
	grid-template-areas:
		'card-img panel-1'
		'card-img card-list'
		'card-img panel-2';
	grid-template-rows: min-content max-content 100%;
	grid-template-columns: auto auto;
	gap: $margin-card-gap-after $lhse*.5;
	justify-content: center;

	.viewing-controls {
		grid-template-columns: 1fr 1fr;
		grid-area: panel-1;
		min-height: 0%; // Needed for Firefox on sideboard lists
		height: $height-deck-header-component;
		box-sizing: content-box;

		.sideboard-visible & {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom: $border-sections;
		}
	}
	.action-controls {
		grid-area: panel-2;
		align-self: flex-start;
	}
}
.card-sorter {
	fieldset {
		padding: 0;
		border: 0;
		margin: $lhse*.25 0;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		width: min-content;

		label {
			white-space: nowrap;
			padding-bottom: $lhse*.25;
		}
		&:disabled {
			opacity: divide(1, 3);
			filter: saturate(.5);

			select {
				opacity: 1;
				cursor: not-allowed;
			}
		}
	}
	select {
		height: $height-control-panel-input;
		font-weight: $font-weight-semibold;
	}
}
.card-group-switch {
	> div {
		display: flex;
		justify-content: center;
	}
	h3 {
		margin-bottom: $lhse*.25;
		align-self: center;
		cursor: default;
		text-align: center;
	}
	fieldset {
		padding: 0 divide($lhse, 3);

		div {
			display: flex;
			align-items: center;
			margin: 0 .5em;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	label {
		.control-panel & {
			margin: 0;
			padding-top: divide($lhse, 3);
			padding-bottom: divide($lhse, 3);
		}
	}
}
.card-adder,
.deck-actions {
	form {
		align-items: center;
		display: grid;
		grid-template-rows: $lhse*.75 $lhse*1.5;
	}
}
.scryfall-opener {
	a {
		@include button;
		@include secondary-button;
		min-width: $lhse*1.75;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all $transition-duration-standard ease;
		padding: $lhse*.125 $lhse*.25;

		img {
			opacity: .875;
		}
	}
	img {
		width: $lhse*1.25;
		height: $lhse*1.25;
	}
}
.card-adder,
.deck-actions {
	label {
		padding-bottom: $lhse*.25;
		margin-bottom: -$lhse*.25;
		width: max-content;
	}
}
.card-adder {
	flex-grow: 1;
	height: $lhse*3.3333;
	transition: background-color .5s ease;
	background-color: $color-group-bg;

	.sideboard-visible & {
		background-color: $color-mythic-very-dim;
		background-image: $gradient-background-sideboard;

		label {
			color: $color-text-over-mythic-very-dim;
		}
		input {
			border-color: $color-section-border-alt;
		}
	}
	form,
	.loading-indicator {
		width: 100%;
	}
	form {
		grid-template-columns: auto min-content;
	}
	input {
		border-radius: $border-radius-button;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: 100%;
		padding-right: 0;

		&.attention {
			@keyframes pulsate-input {
				100% {
					background-color: $color-input-bg-active;
					color: $color-link-active;
				}
			}
			animation-name: pulsate-input;
			animation-duration: .25s;
			animation-iteration-count: 10;
			animation-direction: alternate;
			animation-timing-function: ease-in-out;
		}
	}
	button {
		height: $height-control-panel-input;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		width: $lhse*2.5;
		min-width: 0;
		margin-left: 1px;
	}
	.loading-indicator {
		display: flex;
		justify-content: center;
		animation: pulse .5s ease-out;
		animation-direction: alternate-reverse;
		animation-iteration-count: infinite;
		cursor: progress;

		@keyframes pulse {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		span {
			color: $color-text;
			font-style: italic;
			font-size: $font-size-bigger;
		}
	}
}
.deck-actions {
	label {
		white-space: nowrap;
	}
	select {
		width: 100%;
		height: $height-control-panel-input;
	}
}

@mixin viewing-controls-single-layer-compressed {
	.deck-editor {
		.control-panel {
			max-width: $width-card-buttons-wide + $width-card-star + $width-qty-column - $lhse*.5;
		}
		.viewing-controls {
			grid-template-columns: auto auto;
			height: $height-deck-header-component;

			.card-sorter label,
			.card-group-switch h3 {
				padding: 0 divide($lhse, 3) 0 0;
				margin: divide(-$lhse, 12) 0 0 0;
			}
		}
	}
	.card-sorter {
		fieldset {
			flex-wrap: nowrap;
		}
	}
	.card-group-switch {
		border-left: $border-sections;

		> div {
			flex-wrap: nowrap;
			width: auto;
		}
		h3 {
			text-align: right;
		}
	}
}
@mixin viewing-controls-single-layer {
	.deck-editor {
		.control-panel {
			max-width: $width-card-buttons-narrow + $width-card-star + $width-qty-column - $lhse*.5;
		}
		.viewing-controls {
			height: $lhse*3.125; // Adjust to a height that prevents wide gaps between card buttons.

			.card-sorter label,
			.card-group-switch h3 {
				padding-right: 0;
				padding-bottom: $lhse*.25;
				margin-top: -$lhse*.125;
			}
		}
	}
	.card-sorter {
		fieldset {
			flex-wrap: wrap;
		}
	}
	.card-group-switch {
		> div {
			flex-wrap: wrap;
			width: min-content;
		}
	}
}
@mixin viewing-controls-double-layers {
	.deck-editor {
		.viewing-controls {
			grid-template-rows: 1fr 1fr;
			grid-template-columns: auto;
			height: auto;
		}
	}
	.card-sorter {
		border-bottom: $border-sections;
	}
	.card-group-switch {
		border-left-width: 0 !important;
	}
}
@mixin action-controls-single-layer {
	.deck-editor {
		.action-controls {
			grid-template-columns: min-content auto min-content;
			grid-template-rows: auto;
		}
	}
	.scryfall-opener {
		border-bottom-width: 0;
	}
	.card-adder {
		border-bottom-width: 0;
		padding-right: 0;
		padding-left: 0;
		border-left: $border-sections;
		flex-grow: 2;

		form {
			max-width: 20em;
		}
		label {
			grid-column: span 2;
		}
	}
	.deck-actions {
		grid-column: span 1;
		border-left: $border-sections;

		form {
			display: grid;
		}
	}
}
@mixin action-controls-double-layers {
	.deck-editor {
		.action-controls {
			grid-template-columns: fit-content auto;
			grid-template-rows: auto auto;
		}
	}
	.scryfall-opener {
		border-bottom: $border-sections;
	}
	.card-adder {
		border-bottom: $border-sections;
	}
	.deck-actions {
		grid-column: span 2;
		border-left-width: 0;
		min-height: $height-deck-header-component;

		form {
			display: flex;
		}
		label {
			margin-top: -$lhse*.125;
		}
	}
}
@mixin action-controls-double-layers-compressed {
	.deck-editor {
		.action-controls {
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
		}
	}
	.scryfall-opener {
		grid-row: 2;
		border-bottom-width: 0;
		border-right: $border-sections;
	}
	.card-adder {
		grid-column: span 2;
		border-left-width: 0;
	}
	.deck-actions {
		grid-column: span 1;
		grid-row: 2;

		form {
			display: grid;
		}
	}
}

@include viewing-controls-single-layer-compressed;
@include action-controls-single-layer;

@media (max-width: $width-app-breakpoint-tablet) {
	@include viewing-controls-single-layer;
	@include action-controls-double-layers;
}
@media (max-width: $min-width-app) {
	.deck-editor {
		max-width: $max-width-deck-page-layout;
	}
}
@media (max-width: $width-deck-hidden-image) {
	@include viewing-controls-single-layer-compressed;
	@include action-controls-single-layer;

	.deck-editor {
		grid-template-areas:
			'panel-1'
			'card-list'
			'panel-2';
		grid-template-columns: auto;
		gap: $margin-card-gap-after 0;
	}
}
@media (max-width: ($min-width-app * .75)) {
	@include viewing-controls-single-layer;
	@include action-controls-double-layers;
}
@media (max-width: ($min-width-app * .5)) {
	@include viewing-controls-double-layers;
	@include action-controls-double-layers-compressed();

	.deck-editor {
		max-width: 100vw;

		.control-panel {
			width: 100%;
		}
	}
	.card-adder {
		button {
			width: auto;
		}
	}
}
