@import 'variables';
@import 'card-list';

$width-card-adder-button: $lhse*2.125;
$width-card-list-section-wide:
	$width-card-bars-wide + $width-card-star + $width-qty-column;
$width-card-list-section-narrow:
	$width-card-bars-narrow + $width-card-star + $width-qty-column;

.list-editor {
	margin: 0 auto $lhse*.5;
	display: flex;
	gap: $margin-card-gap-after $lhse*.5;
	position: relative;

	.layout-column {
		background: $color-group-bg;
		height: fit-content;
		border-radius: $border-radius-group;
		display: flex;
		flex-direction: column;
	}
	.viewing-controls {
		min-height: 0%; // Needed for Firefox on sideboard lists
		height: $height-deck-header-component;
		box-sizing: content-box;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.adder-controls {
		align-self: flex-start;
		border-radius: $border-radius-group;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		overflow: hidden;
		width: 100%;
	}
	.card-list-section {
		width: $width-card-list-section-wide;
	}
}
.card-sorter {
	fieldset {
		padding: 0;
		border: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		label {
			@include tiny-font-size;
			font-weight: $font-weight-label;
			grid-row: 2;
			grid-column: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: -$lhse*.25 !important;
		}
		svg {
			width: 36px;
			height: 36px;
		}
		&:disabled {
			opacity: divide(1, 3);
			filter: saturate(.5);

			&:active {
				select {
					cursor: not-allowed;
				}
			}
			select {
				opacity: 1;
				cursor: default;
			}
		}
	}
	select {
		grid-row: span 2;
		grid-column: 2;
		height: $height-control-panel-input*.875;
	}
}
.card-group-switch {
	> div {
		justify-content: center;
		display: flex;
		align-items: center;
	}
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: -$lhse*.1667;
		margin-right: $lhse*.25;
	}
	svg {
		width: 36px;
		height: 36px;
	}
	h3 {
		@include tiny-font-size;
		font-weight: $font-weight-label;
		align-self: center;
		cursor: default;
		text-align: center;
		padding: 0 !important;
	}
	fieldset {
		padding: 0 divide($lhse, 3);

		div {
			display: flex;
			align-items: center;
			margin: 0 $lhse*.5;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	label {
		.control-panel & {
			margin: 0;
			padding-top: divide($lhse, 3);
			padding-bottom: divide($lhse, 3);
		}
	}
}
.scryfall-button,
.list-entry-button {
	display: flex;
	flex-direction: column;
	padding-right: $lhse*.125 !important;
	padding-left: $lhse*.125 !important;
	text-align: center;

	a {
		@include button('gray');
		min-width: 0;
		width: $lhse*2;
		height: $lhse*2;
		border-radius: $border-radius-small-button;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 $lhse*.25;
		font-size: 80%
	}
	.label {
		@include tiny-font-size;
		font-weight: $font-weight-label;
		line-height: $line-height-standard*.75;
		width: $lhse*4;
		margin-bottom: -$lhse*.125;
	}
}
.scryfall-button {
	a {
		padding: 0;
	}
	img {
		filter: brightness(.9167) saturate(1.1667);
		width: $lhse*1.6;
		height: $lhse*1.6;
	}
}
.list-entry-button {
	.sideboard-visible & {
		display: none;
	}
	a {
		padding: 0;
	}
	svg {
		fill: $color-black-label-text;
		width: $lhse*1.75;
		height: $lhse*1.75;
	}
}
.card-adder {
	flex-grow: 1;
	transition: background-color .5s ease;
	background-color: $color-group-bg;

	form {
		align-items: center;
		display: grid;
		grid-template-rows: $lhse*.75 $lhse*1.5;
		grid-template-columns: auto min-content;
	}
	form,
	.loading-indicator {
		width: 100%;
	}
	label {
		padding-bottom: $lhse*.25;
		margin-bottom: -$lhse*.25;
		width: max-content;
	}
	.sideboard-visible & {
		@include sideboard-header-bg;
		border-bottom-right-radius: $border-radius-group; // Needed for box-shadow outline.

		label {
			color: $color-text-over-mythic-brown;
		}
	}
	input {
		border-radius: $border-radius-button;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: 100%;
		padding-right: 0;

		&.attention {
			@keyframes pulsate-input {
				100% {
					background-color: $color-input-bg-active;
					color: $color-link-active;
				}
			}
			animation-name: pulsate-input;
			animation-duration: .25s;
			animation-iteration-count: 2;
			animation-direction: alternate;
			animation-timing-function: ease-in-out;
		}
	}
	button {
		width: $width-card-adder-button;
		height: $height-control-panel-input*1.0625;
		min-width: min-content;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: 1px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			fill: currentColor !important;
			width: $lhse*1.3333;
			height: $lhse*1.3333;
		}
	}
	.loading-indicator {
		display: flex;
		justify-content: center;
		animation: pulse .5s ease-out;
		animation-direction: alternate-reverse;
		animation-iteration-count: infinite;
		cursor: progress;

		@keyframes pulse {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		span {
			color: $color-text;
			font-style: italic;
			font-size: $font-size-bigger;

			.sideboard-visible & {
				color: $color-text-over-mythic-brown;
			}
		}
	}
}

@mixin viewing-controls-single-layer-compressed {
	.list-editor {
		.viewing-controls {
			grid-template-columns: auto auto;
			height: $height-deck-header-component;

			.card-sorter label,
			.card-group-switch h3 {
				padding: 0 divide($lhse, 3) 0 0;
				margin: divide(-$lhse, 12) 0 0 0;
			}
		}
	}
	.card-sorter {
		fieldset {
			flex-wrap: nowrap;
		}
	}
	.card-group-switch {
		border-left: $border-sections;

		> div {
			flex-wrap: nowrap;
			width: auto;
		}
		h3 {
			text-align: right;
		}
	}
}
@mixin viewing-controls-single-layer {
	.list-editor {
		.viewing-controls {
			height: $lhse*3;

			.card-sorter label,
			.card-group-switch h3 {
				padding-right: 0;
				padding-bottom: $lhse*.25;
				margin-top: -$lhse*.125;
			}
		}
	}
	.card-sorter {
		fieldset {
			flex-wrap: wrap;
		}
	}
	.card-group-switch {
		> div {
			flex-wrap: wrap;
			width: min-content;
		}
	}
}
@mixin viewing-controls-double-layers {
	.list-editor {
		.viewing-controls {
			grid-template-rows: 1fr 1fr;
			grid-template-columns: auto;
			height: auto;
		}
	}
	.card-sorter {
		border-bottom: $border-sections;
	}
	.card-group-switch {
		border-left-width: 0 !important;
	}
}
@mixin adder-controls-single-layer {
	.list-editor {
		.adder-controls {
			grid-template-rows: auto;
			grid-template-columns: 1fr 1fr minmax(auto, 6fr);

			section {
				height: $lhse*3;
			}
			.sideboard-visible & {
				grid-template-columns: 1fr minmax(auto, 7fr);
			}
		}
	}
	.scryfall-button {
		grid-row: 1;
	}
	.list-entry-button {
		grid-row: 1;
		border-left: $border-sections;
	}
	.card-adder {
		border-top-width: 0;
		border-left: $border-sections;
		flex-grow: 2;
		grid-row: 1;
		grid-column: span 1;

		form {
			max-width: $width-card-bars-narrow + $width-card-adder-button;
		}
		label {
			grid-column: span 2;
		}
	}
}
@mixin adder-controls-double-layers {
	.list-editor {
		.adder-controls {
			grid-template-rows: $lhse*2 $lhse*3;
			grid-template-columns: 1fr 1fr;

			section {
				height: auto;
			}
			.sideboard-visible & {
				grid-template-columns: 2fr;
			}
		}
	}
	.card-adder {
		border-left-width: 0;
		border-top: $border-sections;
		grid-row: 2;
		grid-column: span 2;

		input,
		button {
			font-size: 87.5%;
		}
	}
}

@include viewing-controls-single-layer-compressed;
@include adder-controls-single-layer;

@media (max-width: ($width-app-breakpoint-tablet * 1.03125)) {
	.list-editor {
		.layout-column {
			margin-right: $lhse; // Needed space for the quantity button cluster.
		}
	}
}
@media (max-width: $width-app-breakpoint-tablet) {
	@include viewing-controls-single-layer;
	@include adder-controls-double-layers;

	.list-editor {
		.layout-column {
			margin-right: 0;
		}
		.card-list-section {
			width: 100%;
		}
	}
}
@media (max-width: $min-width-app) {
	.list-editor {
		max-width: $max-width-deck-page-layout;
	}
}
@media (max-width: $width-deck-hidden-image) {
	@include viewing-controls-single-layer-compressed;
	@include adder-controls-single-layer;

	.list-editor {
		grid-template-areas:
			'panel-1'
			'card-list'
			'panel-2';
		grid-template-columns: auto;
		gap: $margin-card-gap-after 0;

		.viewing-controls,
		.adder-controls {
			min-width: 0;
		}
		.card-list-section {
			width: auto;
		}
	}
}
@media (max-width: ($min-width-app * .75)) {
	@include viewing-controls-single-layer;

	.list-editor {
		.viewing-controls {
			width: 100%;
			max-width: none;
		}
		.adder-controls {
			max-width: none;
		}
	}
}
@media (max-width: ($min-width-app * .625)) {
	@include adder-controls-double-layers;

}
@media (max-width: ($min-width-app * .5)) {
	@include viewing-controls-double-layers;

	.list-editor {
		display: block;
		max-width: 100%;
		margin: 0 0 $lhse*.25;

		.layout-column {
			border-radius: 0;
		}
		.sideboard-visible & {
			.adder-controls,
			.card-adder {
				border-radius: 0;
			}
		}
	}
	.card-adder {
		button {
			width: auto;
		}
	}
	.sideboard-header {
		border-radius: 0;
	}
}
