@import 'variables';
@import 'deck-header';
@import 'card-display';
@import 'card-list';
@import 'card-list-controls';

.deck {
	width: 100%;
	
	article {
		margin: 0;
		position: relative;
	}
}
.card-display-scroll-view {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: $lhse*.5;
	margin-bottom: $lhse;
}
.deck-main {
	grid-column: 3 / 8;
	max-width: 100%;
}

@media (max-width: $width-app-breakpoint-tablet) {
	.deck-main {
		grid-column: 4 / 8;
	}
}
@media (max-width: ($min-width-app*.875)) {
	.card-display-scroll-view {
		margin-bottom: $lhse*.5;
	}
}
@media (max-width: ($min-width-app*.5)) {
	.deck {
		.wrap {
			padding: 0 divide($lhse, 4);
		}
	}
}
@media (max-width: ($min-width-app*.8)) {
	.card-display-scroll-view {
		display: block;
	}
}
