@import 'variables';

.list-entry,
.list-entry-results {
	margin: 0 auto $lhse*.5;

	h3 {
		@include pronounced-heading;
		margin-top: 0;
	}
}
.list-entry {
	max-width: $lhse*32;

	.columns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: $lhse $lhse*.5;
		align-items: flex-start;
		margin-top: $lhse;
	}
	form {
		display: flex;
		flex-direction: column;
		justify-items: center;
		border: $border-sections;
		padding: $lhse*.25 $lhse*.5;
	}
	label {
		font-weight: $font-weight-label;
		color: $color-text-brighter;
		text-align: center;
	}
	textarea {
		margin: $lhse*.25 auto;
		max-width: 100%;
		width: 36ch;
		box-sizing: content-box;
	}
	.button-container {
		width: fit-content;
		height: $lhse*1.6667;
		align-self: center;
		display: flex;
		align-items: center;

		button {
			height: $lhse*1.5;
		}
	}
	label {
		font-weight: $font-weight-label;
		color: $color-text-brighter;
	}
	.rules {
		h4 {
			margin-top: $lhse*.5;
		}
		*:last-child {
			margin-bottom: 0;
		}
		code {
			font-size: $font-size-card-list-textarea;
			line-height: normal;
			letter-spacing: normal;
			display: inline-block;
			margin-left: $lhse*.75;
		}
	}
	.loading-percentage {
		text-align: center;

		span {
			font-size: 200%;
		}
	}
}
.list-entry-results {
	.invalid-list {
		li {
			font-style: italic;
		}
	}
	.ok {
		margin-top: $lhse*.5;
		height: $lhse*1.5;
		display: flex;
		align-items: center;

		a {
			@include button;
		}
	}
	.button-container {
		height: $lhse*1.3333;
		display: flex;
		align-items: center;
	}
	.copy-button {
		button {
			@include button('gray');
			font-size: 75%;
			height: $lhse*1.5;
		}
		.v {
			&-enter-active,
			&-leave-active {
				transition: opacity 1s ease;
			}
			&-enter-from,
			&-leave-to {
				opacity: 0;
			}
		}
		.notification {
			margin-top: -$lhse*.2;
			margin-left: $lhse*.25;
			font-style: italic;
		}
	}
}

@media (max-width: ($min-width-app * .8333)) {
	.list-entry {
		max-width: $max-width-content;

		.columns {
			grid-template-columns: auto;
		}
		form {
			width: 100%;
			padding: 0;
			border: 0;
			border-top: $border-sections;
			padding-top: $lhse*.75;
		}
	}
}
@media (max-width: ($min-width-app * .4583)) {
	.list-entry {
		textarea {
			width: 100%;
			margin-left: -$lhse*.5;
			margin-right: -$lhse*.5;
		}
	}
}
