@import 'variables';
@keyframes cinematic-fade-in {
	0%,
	8.33% {
		filter: brightness(0%) blur(8px);
		transform: scale(1.125);
	}
	100% {
		filter: brightness(100%) blur(0px);
		transform: scale(1);
	}
}
@keyframes animate-text-box {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
$box-shadow-intro-text-box: 0 0 $lhse*1.5 rgba($color-text, .25);

.home-page {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: #000;

	.intro {
		min-height: $lhse*12;
		height: 50vw;
		max-height: calc(100vh - var(--header-height));
		margin: 0 auto;

		img {
			display: block;
			width: 100%;
			height: auto;
			margin: 0 auto;
			background: $color-content-bg;
			animation: cinematic-fade-in 2.5s cubic-bezier(0, 0, 0, 1);
		}
		.wrap {
			position: absolute;
			margin: 0 auto;
			top: 0;
			left: 0;
			right: 0;
		}
		.text-box {
			width: 25%;
			box-sizing: content-box;
			font-size: 116.67%;
			position: absolute;
			top: 8.3333vh;
			right: $lhse*1.5;
			background: $color-group-bg;
			padding: $lhse*.25 $lhse;
			border-radius: $border-radius-group;
			box-shadow: $box-shadow-intro-text-box;
			animation: animate-text-box .75s ease-out;
			animation-fill-mode: forwards;
			animation-delay: 2s;
			opacity: 0;
		}
		h2 {
			font-size: $font-size-bigger;
			margin-top: $lhse*.5;
		}
		.button-group {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: $lhse*.75;
			justify-content: space-between;
			align-items: center;
			max-width: $lhse*12;
			margin: $lhse*.75 auto $lhse*.5;
		}
		button,
		.button {
			height: 100%;
			min-height: $lhse*1.6667;
			display: flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;

			&:first-child {
				@include secondary-button;
			}
		}
	}
	.app-features {
		padding: $lhse*1.5 0;
		position: relative;
		background: $background-light-gradient;
		scroll-margin-top: -$lhse*.5;
		border-top: 1px solid desaturate(lighten($color-mythic-lighter, 29.17%), 8.33%);
		box-shadow: 0 0 $lhse*2 rgba(#000, .6667);

		h2,
		p,
		li {
			color: #000;
			text-shadow: -1px 1px 0 rgba(#fff, .2);
		}
		h2 {
			margin-top: 0;
		}
		.wrap {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0 4.17%;
		}
		.app-features-text {
			max-width: $max-width-content;
			margin: 0 auto;
		}
		ul {
			font-size: $font-size-bigger;
			margin-bottom: 0;
		}
		a {
			@include link-alt;
		}
	}
	.final-call-to-action {
		position: relative;	
		background: $color-group-bg;
		background: $color-mythic-dim;

		.wrap {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			max-width: $max-width-content;
			padding: $lhse*.6667 $lhse;
		}
		.button-container {
			margin: divide($lhse, 3) $lhse*.5;

			&:last-child {
				button,
				.button {
					@include secondary-button;
				}
			}
		}
		button,
		.button {
			min-width: $lhse*6;
			height: $lhse*2.25;
			width: divide(100%, 3);
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: $font-size-bigger;
		}
	}
}

@media (max-width: $width-app-breakpoint) {
	.home-page {
		.intro {
			.text-box {
				top: $lhse*1.5;
				font-size: 1em;
			}
		}
		.app-features {
			padding-top: $lhse;
			
			img {
				max-width: 675px;
				width: 100%;
			}
			ul {
				font-size: 100%;
			}
		}
	}
}
@media (max-width: $width-app-breakpoint-tablet) {
	.home-page {
		.intro {
			height: auto;
			max-height: none;
	
			.wrap {
				position: relative;
				background: $color-group-bg;
				border-top: $border-sections;
				box-shadow: $box-shadow-intro-text-box;
			}
			img {
				margin-bottom: -12.5%;
			}
			.text-box {
				position: static;
				top: 0;
				width: 100%;
				max-width: $max-width-content*.625;
				margin: 0 auto;
				padding: divide($lhse, 3) 0;
				background: none;
				border: 0;
				border-radius: 0;
				box-sizing: border-box;
				box-shadow: none;
				opacity: 1;
				animation: none;
				text-align: center;
			}
		}
		.app-features {
			border-top-width: 0;
			box-shadow: none;
		}
	}
}

$width-app-features-img: 675px; // Should match the `img` element's width.

@media (max-width: ($width-app-features-img*1.25)) {
	.home-page {
		.app-features {
			.wrap {
				display: block;
				max-width: $width-app-features-img;
			}
			img {
				margin: 0 auto $lhse;
			}
			li {
				padding: 0;
			}
		}
	}
}
