@import 'variables';

.deck-action-page {
	.multi-select-buttons,
	.button-container {
		height: $lhse*1.5;
		display: flex;
		align-items: center;
	}
	form {
		display: grid;
		gap: $lhse*.5;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		justify-content: center;
		justify-items: center;
		margin-bottom: $lhse*.5;
	}
	.multi-select-buttons,
	.checklist {
		padding: divide($lhse, 3) $lhse*.6667;
		border: $border-sections-thick;
	}
	.multi-select-buttons {
		display: grid;
		grid-template-rows: 1fr 1fr;
		width: max-content;
		grid-gap: $lhse*.25 $lhse*.5;
		height: min-content;

		.button-container {
			height: $lhse*1.25;
		}
		button {
			@include button('gray');
			font-size: 75%;
			width: 100%;
		}
	}
	.checklist {
		margin: 0;

		li {
			font-size: $font-size-bigger;

			&:first-child {
				margin-top: -$lhse*.0625;
			}
		}
	}
	.submit-button {
		grid-column: span 2;
	}
}
.action-done {
	text-align: center;
	text-wrap: balance;
}
.render-as-text {
	margin: 0 auto $lhse*.5;
	max-width: none;

	&.no-cards {
		max-width: $max-width-content;
	}
	h3 {
		@include pronounced-heading;
		text-align: center;
		margin-top: 0;
	}
	.button-container {
		grid-column: span 2;
		display: flex;
		justify-content: center;
		align-items: center;
		height: $lhse*2.5;
		margin: $lhse auto $lhse;
		border: $border-sections-thick;
		width: fit-content;
		padding: $lhse*.5;

		a {
			@include button;
			font-size: 80%;
			height: max-content;
			width: $lhse*5;
		}
	}
	.lists {
		display: grid;
		gap: $lhse*.5 $lhse;
		margin-top: $lhse*.5;

		&.two-columns {
			grid-template-columns: 1fr 1fr;
		}
		section {
			width: $width-textarea-card-list;
			margin: 0 auto;
		}
		header {
			height: $lhse*1.5;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background: $color-heading-bg;
			padding: $lhse*.5;
		}
		h4 {
			margin: 0;
			color: $color-text-extra-brighter;
		}
		button {
			font-size: 75%;
			height: $lhse*1.5;
		}
	}
	textarea {
		margin: 0 auto;
		width: 100%;
		border: 2px solid $color-heading-bg;
		font-size: 66.67%;
	}
	.no-cards {
		font-style: italic;
		text-align: center;
		margin-top: $lhse*.25;
	}
}

@media (max-width: ($min-width-app * .8333)) {
	.render-as-text {
		.lists {
			&,
			&.two-columns {
				grid-template-columns: 1fr;
				grid-template-rows: auto auto;
			}
		}
	}
}
@media (max-width: $width-mobile-breakpoint) {
	.deck-action-page {
		form {
			display: block;
		}
		.multi-select-buttons,
		.checklist {
			margin: $lhse*.5 0;
		}
		.multi-select-buttons {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
		}
		.checklist {
			width: max-content;
			max-width: 100%;
		}
	}
}
@media (max-width: ($min-width-app * .625)) {
	.render-as-text {
		width: 100%;

		section {
			width: 100%;
			max-width: $lhse*11.5;
		}
	}
}
