@import 'variables';

.manual-page {
	display: grid;
	grid-template-columns: auto auto;
	gap: $margin-sections;
	position: relative;

	&.content-box {
		max-width: 100%;
		background: none;
		border: 0;
		padding: 0;
	}
	header,
	.table-of-contents,
	.manual-contents {
		background: $color-group-bg;
		padding: $lhse $lhse*1.5;
	}
	header {
		grid-column: span 2;
		text-align: center;
		border-radius: #{$lhse} / #{50%};
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;

		h2 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.table-of-contents {
		// @include glowing-edges-of-scrollable-container; // Disabling this until I can think of another way to do this effect without causing the text color to dim in Chrome.
		color: $color-text-darker;
		height: min-content;
		max-width: $lhse*9;
		max-height: calc(100vh);
		overflow-y: auto;
		position: sticky;
		top: 0;
		left: 0;
		padding: $lhse*.5;
		padding-bottom: $lhse;
		padding-left: $lhse*.75;
		border-bottom-left-radius: $border-radius-group;

		h3 {
			margin: 0 0 $lhse*.5;
			font-size: 100%;
		}
	}
	.toc-links {
		font-size: $font-size-small;

		ol,
		li {
			margin: 0;
		}
		ol {
			padding-left: 1em;
		}
		li {
			line-height: 1;

			&:has(> .visible) {
				color: $color-text;
			}
		}
		a {
			text-decoration-line: none;
			display: block;
			padding: divide($lhse, 6) divide($lhse, 4);
			margin-left: -$lhse*.25;
			break-inside: avoid-column;

			&:hover,
			&:focus,
			&:active {
				text-decoration-line: underline;
			}
			&.visible {
				background: $color-highlight-bg;
				color: $color-link-active;

				&:not(:focus) {
					outline: 1px solid $color-highlight-border;
					outline-offset: -1px;
				}
			}
		}
	}
	.manual-contents {
		width: 100%;
		max-width: $max-width-content;
		margin-top: -$margin-sections;
		margin-right: auto;
		margin-left: auto;
		background: none;
		padding: 0;

		> section {
			background: $color-group-bg;
			padding: $lhse $lhse*1.5 $lhse*.75;
			margin-bottom: $margin-sections;
			border-radius: $border-radius-group;

			&:first-child {
				padding-top: $lhse*.25;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
			&:last-child {
				margin-bottom: 0;
				border-bottom-right-radius: $border-radius-group;
			}
			section {
				&:first-of-type {
					margin-top: $lhse*1.5;
				}
			}
		}
		section {
			&:target {
				@keyframes highlight-section {
					20% {
						outline-color: $color-app-header-link;
						color: #fff;
					}
				}

				> h3:first-child,
				> h4:first-child,
				> h5:first-child {
					outline: $lhse*.125 solid rgba($color-app-header-link, 0);
					outline-offset: $lhse*.25;
					animation: highlight-section 1s ease-in;
					z-index: 1;
					position: relative;
					border-radius: $border-radius-button;
				}
			}
		}
		h3 {
			margin-top: $lhse*.25;
		}
		h4 {
			margin-top: $lhse*1.25;
		}
		.mana-symbol,
		.rarity-symbol {
			&:first-child {
				margin: 0 1px;
			}
		}
		.mana-symbol {
			font-size: 116.67%;
			transform: translateY(.075em);

			&.hybrid {
				font-size: 120% * 1.1667;
			}
		}
		.rarity-symbol {
			display: inline-block;
			transform: scale(1.0833) translateY(-.0417em);
		}
	}
	.keyboard-shortcuts {
		padding-left: 0;

		li {
			list-style: none;
			margin: $lhse*.25 0;
		}
	}
}

@media (max-width: $min-width-app) {
	.manual-page {
		display: block;

		header {
			border-radius: $border-radius-group;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom: $border-sections-thick;
		}
		.table-of-contents {
			position: static;
			max-width: 100%;
			max-height: 100%;
			width: 100%;
			margin: 0 auto $margin-sections;
			padding: $lhse $lhse*1.5;
			border-bottom-right-radius: $border-radius-group;
			h3 {
				text-align: center;
				margin-bottom: $lhse;
			}
		}
		.toc-links {
			columns: 3;
			column-gap: $lhse*1.5;
			column-rule: $border-sections;
		}
		.manual-contents {
			margin-top: 0;

			> section {
				&:first-child {
					border-radius: $border-radius-group;
				}
				&:last-child {
					border-bottom-left-radius: $border-radius-group;
				}
			}
		}
	}
}
@media (max-width: ($min-width-app*.75)) {
	.manual-page {
		header {
			padding-right: $lhse;
			padding-left: $lhse;
		}
		.toc-links {
			columns: 2;
		}
		.manual-contents {
			padding: 0;

			> section {
				padding: $lhse*.5 $lhse;
			}
		}
	}
}
@media (max-width: $width-mobile-breakpoint) {
	.manual-page {
		header,
		.manual-contents {
			display: block;
			border-radius: 0;
		}
		header {
			padding-right: $lhse*.75;
			padding-left: $lhse*.75;
		}
		.table-of-contents {
			border-radius: 0;
		}
		.manual-contents {
			> section {
				border-radius: 0 !important;
				padding-right: $lhse*.75;
				padding-left: $lhse*.75;
			}
			section {
				&:target {
					outline: none;
					animation: none;
				}
			}
		}
	}
}
@media (max-width: ($width-mobile-breakpoint*.8)) {
	.manual-page {
		.toc-links {
			columns: 1;
			margin-right: auto;
			margin-left: auto;
		}
	}
}
@media (pointer: coarse) {
	.manual-page {
		.table-of-contents {
			a {
				min-height: $lhse*1.5;
				display: flex;
				align-items: center;
			}
		}
	}
}
