@import 'variables';

.contact-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: $lhse $lhse*1.5;
	max-width: $max-width-content*1.5;

	h2 {
		grid-column: span 2;
		text-align: center;
		margin-bottom: 0;
	}
	figure {
		margin: 0 auto;
	}
	.column {
		> p:first-child {
			margin-top: -$lhse*.25;
		}
	}
}

@media (max-width: ($min-width-app)) {
	.contact-page {
		grid-template-columns: auto;
		gap: $lhse;
		max-width: $max-width-content;

		h2 {
			grid-column: 1;
		}
		.column {
			margin-top: -$lhse*.5;

			> p:first-child {
				margin-top: 0;
			}
		}
	}
}
