@use 'sass:list';
@use 'sass:math';
@use 'variables-and-mixins' as *;
@use 'card-list';

$width-card-adder-button: $lhse*2;
$width-card-list-section-wide:
	$width-card-bars-wide + $width-card-star + $width-qty-column;
$width-card-list-section-narrow:
	$width-card-bars-narrow + $width-card-star + $width-qty-column;

@keyframes pulsate-input {
	100% {
		background-color: $color-input-bg-active;
		color: $color-link-active;
	}
}

.list-editor {
	margin: 0 auto $lhse*.5;
	display: flex;
	gap: $margin-card-gap-after $lhse*.5;
	position: relative;

	.layout-column {
		background: $color-group-bg;
		height: fit-content;
		border-radius: $border-radius-group;
		display: flex;
		flex-direction: column;
	}
	.viewing-controls {
		min-height: 0%; // Needed for Firefox on sideboard lists
		box-sizing: content-box;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.adder-controls {
		align-self: flex-start;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		width: 100%;
	}
	.card-list-section {
		width: $width-card-list-section-wide;
	}
	.section-label {
		@include heading-font;
		@include tiny-font-size(true);
		line-height: 1;
		color: $color-text;
		margin: 0;
	}
	.tip {
		position: absolute;
		top: $lhse*.0833;
		right: $lhse*.0833;

		button {
			@include link;
			width: $lhse;
			height: $lhse;
			min-width: 0;
			border-radius: 50%;
		}
		svg {
			width: $lhse;
			height: $lhse;
		}
	}
}
.card-sorter,
.card-group-switch {
	> svg {
		width: $lhse*1.8;
		height: $lhse*1.8;
		margin-right: $lhse*.25;
	}
	.section-label {
		padding: 0 $lhse*.5417 $lhse*.125;
		line-height: $line-height-standard;
	}
}
.card-sorter {
	position: relative;

	&:has(:disabled) {
		@include disabled-style;
	}
	fieldset {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: -$lhse*.125;
		padding: 0 0 $lhse*.0625;
		border: 0;

		&:disabled {
			&:hover {
				select {
					cursor: default;
				}
			}
			&:active {
				select {
					cursor: not-allowed;
				}
			}
			select {
				opacity: 1;
			}
		}
	}
	> svg {
		transition: opacity $transition-duration-standard ease;
	}
	label {
		transition: $transition-duration-standard ease;
		transition-property: color, background-color;
		width: fit-content;
		border-radius: $border-radius-button;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	input {
		height: $lhse*1.25;
		padding-top: $lhse*.0417;
		padding-bottom: $lhse*.0417;
		font-size: 87.5%;
	}
	.dropdown-arrow {
		fill: $color-link;
		cursor: pointer;
		transition: $transition-duration-standard ease;
		transition-property: opacity, fill, transform;
		margin-right: $lhse*.1667;

		&:hover {
			fill: $color-link-focus;
		}
		&:active {
			fill: $color-link-active;
		}
	}
	.dropdown-menu-component {
		ul {
			left: -$lhse*2.875;
			column-count: 2;
		}
	}
	&:has(.opened) {
		> svg {
			opacity: math.div(1, 3);
		}
		label {
			color: $color-text-brighter-over-mythic-brown;
			background: $color-mythic-dim;
			z-index: list.index($layers, dropdown-label);
			cursor: pointer;

			&:hover,
			&:focus-within {
				filter: $filter-brightness-button-hover;
			}
			&:active {
				filter: none;
			}
		}
	}
	&:has(.closed) {
		> svg {
			transition-duration: $transition-duration-standard*.5;
		}
		label {
			transition-duration: $transition-duration-standard*.5;
		}
	}
}
.card-group-switch {
	> svg {
		grid-row: 1 / 3;
	}
	> div {
		margin-top: -$lhse*.1667;
	}
	h3 {
		cursor: default;
		grid-column: 2;
		grid-row: 1;
	}
	fieldset {
		padding: $lhse*.0417 math.div($lhse, 3);
		grid-column: 2;
		grid-row: 2;
		display: flex;
		gap: $lhse;

		> div {
			display: flex;
			align-items: center;
			margin: 0;
		}
	}
	label {
		margin-top: -$lhse*.0417;
		font-weight: $font-weight-label;
	}
}
.scryfall-button,
.list-entry-button {
	display: flex;
	flex-direction: column;
	padding-right: $lhse*.125;
	padding-left: $lhse*.125;
	text-align: center;
	gap: 0 math.div($lhse, 3);

	a {
		@include button('gray');
		min-width: 0;
		width: $lhse*2;
		height: $lhse*2;
		border-radius: $border-radius-small-button;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 80%
	}
}
.scryfall-button {
	a {
		padding: 0;
	}
	img {
		filter: brightness(.9167) saturate(1.1667);
		width: $lhse*1.6;
		height: $lhse*1.6;
	}
}
.card-adder {
	flex-grow: 1;
	background-color: $color-group-bg;
	position: relative;

	> form {
		align-items: center;
		display: grid;
		grid-template-rows: $lhse*.75 $lhse*1.5;
		grid-template-columns: auto min-content;
		padding-bottom: $lhse*.2;

		button {
			width: $width-card-adder-button;
			height: $height-control-panel-input*1.0625;
			min-width: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			margin-left: 1px;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				fill: currentColor !important;
				width: $lhse*1.3333;
				height: $lhse*1.3333;
			}
		}
	}
	> form,
	.loading-indicator {
		width: 100%;
	}
	label {
		@include heading-font;
		font-size: 80%;
		padding-left: $lhse*.4167;
		width: max-content;
	}
	.sideboard-visible & {
		@include sideboard-header-bg;

		label {
			color: $color-text-over-mythic-brown;
		}
	}
	input {
		border-radius: $border-radius-button;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: 100%;
		padding-right: 0;

		&.attention {
			animation-name: pulsate-input;
			animation-duration: .25s;
			animation-iteration-count: 2;
			animation-direction: alternate;
			animation-timing-function: ease-in-out;
		}
	}
	.loading-indicator {
		display: flex;
		justify-content: center;
		animation: pulse .5s ease-out;
		animation-direction: alternate-reverse;
		animation-iteration-count: infinite;
		cursor: progress;

		@keyframes pulse {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		span {
			color: $color-text;
			font-style: italic;
			font-size: $font-size-bigger;

			.sideboard-visible & {
				color: $color-text-over-mythic-brown;
			}
		}
	}
	.maximum-cards-reached {
		p {
			@include tiny-font-size;
			color: $color-text-darker;
			font-style: italic;
			min-width: auto;
			max-width: $lhse*12;
			line-height: $line-height-standard*.875;
		}
	}
}
.list-entry-button {
	a {
		padding: 0;
	}
	svg {
		width: $lhse*1.75;
		height: $lhse*1.75;
	}
}

@mixin viewing-controls-single-layer {
	.list-editor {
		.viewing-controls {
			grid-template-rows: auto;
			grid-template-columns: auto auto;
			height: $height-deck-header-component * 1.25;
		}
	}
	.card-sorter {
		border-bottom-width: 0;
	}
	.card-group-switch {
		border-left: $border-sections;
	}
}
@mixin viewing-controls-double-layers {
	.list-editor {
		.viewing-controls {
			grid-template-rows: 1fr 1fr;
			grid-template-columns: auto;
			height: auto;
		}
	}
	.card-sorter {
		border-bottom: $border-sections;
	}
	.card-group-switch {
		border-left-width: 0;
	}
	.scryfall-button,
	.list-entry-button {
		.section-label {
			margin-top: 0;
		}
	}
}
@mixin adder-controls-single-layer {
	.list-editor {
		.adder-controls {
			grid-template-rows: auto;
			grid-template-columns: 1fr minmax(auto, 4fr)  1fr;

			section {
				height: $lhse*3;
			}
		}
	}
	.scryfall-button,
	.list-entry-button {
		flex-direction: column;

		.section-label {
			margin-top: $lhse*.2;
		}
	}
	.scryfall-button {
		grid-row: 1;
	}
	.list-entry-button {
		grid-row: 1;
		border-left: $border-sections;
	}
	.card-adder {
		border-top-width: 0;
		border-left: $border-sections;
		border-bottom-left-radius: 0;
		flex-grow: 2;
		grid-row: 1;
		grid-column: span 1;

		> form {
			max-width: $width-card-bars-narrow + $width-card-adder-button;
		}
		label {
			grid-column: span 2;
		}
	}
}
@mixin adder-controls-double-layers {
	.list-editor {
		.adder-controls {
			grid-template-rows: $lhse*2 $lhse*3;
			grid-template-columns: 1fr 1fr;

			section {
				height: auto;
			}
		}
	}
	.scryfall-button,
	.list-entry-button {
		flex-direction: row;

		.section-label {
			width: auto;
		}
	}
	.card-adder {
		border-left-width: 0;
		border-top: $border-sections;
		grid-row: 2;
		grid-column: span 2;
		border-bottom-right-radius: $border-radius-group;
		border-bottom-left-radius: $border-radius-group;

		input,
		> form button {
			font-size: 87.5%;
		}
	}
}

@include viewing-controls-single-layer;
@include adder-controls-single-layer;

@media (max-width: ($width-app-breakpoint-tablet * 1.03125)) {
	.list-editor {
		.layout-column {
			margin-right: $lhse; // Needed space for the quantity button cluster.
		}
	}
}
@media (max-width: $width-app-breakpoint-tablet) {
	@include viewing-controls-double-layers;
	@include adder-controls-double-layers;

	.list-editor {
		.layout-column {
			margin-right: 0;
		}
		.card-sorter,
		.card-group-switch {
			min-height: $lhse*2.3333;
		}
		.card-list-section {
			width: 100%;

			ul {
				margin-right: math.div($lhse, 3);
				margin-left: math.div($lhse, 3);
			}
		}
	}
}
@media (max-width: $min-width-app) {
	.list-editor {
		max-width: $max-width-deck-page-layout;
	}
}
@media (max-width: $width-deck-hidden-image) {
	@include viewing-controls-single-layer;
	@include adder-controls-single-layer;

	.list-editor {
		grid-template-areas:
			'panel-1'
			'card-list'
			'panel-2';
		grid-template-columns: auto;
		gap: $margin-card-gap-after 0;
	}
	.scryfall-button,
	.list-entry-button {
		.section-label {
			width: min-content;
		}
	}
}
@media (max-width: ($min-width-app * .75)) {
	.list-editor {
		.viewing-controls {
			width: 100%;
			max-width: none;
		}
		.adder-controls {
			max-width: none;
		}
	}
}
@media (max-width: ($min-width-app * .625)) {
	@include viewing-controls-double-layers;
	@include adder-controls-double-layers;
}
@media (max-width: ($min-width-app * .5)) {
	.list-editor {
		display: block;
		max-width: 100%;
		margin: 0 0 $lhse*.5;

		.layout-column {
			border-radius: 0;
		}
	}
	.card-adder {
		> form {
			button {
				width: auto;
			}
		}
	}
	.sideboard-header {
		border-radius: 0;
	}
}
