@import 'variables';
@import 'deck-header';
@import 'card-display';
@import 'card-list';
@import 'deck-control-panels';

.deck {
	width: 100%;
	
	article {
		margin: 0;
		position: relative;
	}
}
.card-display-scroll-view {
	display: flex;
	gap: $lhse*.75;
	margin-bottom: $lhse;
	justify-content: center;
}
.deck-main {
	max-width: $max-width-content*.9167;
}

@media (max-width: ($min-width-app*.875)) {
	.card-display-scroll-view {
		margin-bottom: $lhse*.5;

		.deck-main {
			margin-right: auto;
			margin-left: auto;
		}
	}
}
@media (max-width: ($max-width-app*.8)) {
	.card-display-scroll-view {
		gap: $lhse*.5;
	}
}
@media (max-width: ($min-width-app*.75)) {
	.card-display-scroll-view {
		display: block;
	}
}
@media (max-width: 768px) { // Must match window width in JavaScript.
	.card-display-scroll-view {
		gap: 0;
	}
}
@media (max-width: ($min-width-app*.5)) {
	.deck {
		.wrap {
			padding: 0 divide($lhse, 4);
		}
	}

}
