@import 'variables';

.create-deck-page {
	max-width: $max-width-app*.6667;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: $lhse;
	align-items: flex-start;
	padding-bottom: $lhse;

	h2 {
		grid-column: span 2;
		text-align: center;
		margin-bottom: 0;
	}
	.intro {
		p {
			margin-bottom: 0;
		}
	}
	figure {
		margin: 0;
	}
	.columns {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: $lhse*.5;
		height: 100%;
	}
	.new-deck,
	.import-data {
		border: $border-sections-medium;
		padding: $lhse*.5 $lhse*.75;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.new-deck {
		form {
			display: flex;
			flex-direction: column;
			width: 100%;
			align-items: center;
		}
		label {
			font-weight: $font-weight-label;
			padding-bottom: $lhse*.125;
		}
		input {
			border-radius: $border-radius-button;
			width: 100%;
			max-width: (50ch * .5);
			text-align: center;
			font-size: $font-size-bigger;
			height: $lhse*1.25;
		}
		.button-container {
			height: $lhse*1.5;
			margin-top: $lhse*.375;
			margin-bottom: $lhse*.125;
		}
		button {
			min-width: auto;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.import-data {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;

		h3 {
			margin: 0;
		}
		.button-container {
			height: $lhse*2;
		}
		button {
			display: flex;
			font-size: $font-size-small;
		}
		svg {
			width: $lhse*1.5;
			height: $lhse*1.5;
		}
	}
	h3 {
		margin-top: 0;
		display: flex;
		align-items: center;
	}
	svg {
		width: $lhse;
		height: $lhse;
	}
}

@media (max-width: ($min-width-app)) {
	.create-deck-page {
		grid-template-columns: auto;
		max-width: $max-width-content;

		h2 {
			margin-bottom: 0;
			grid-column: 1;
		}
		.columns {
			display: flex;
			gap: $lhse*.5;
		}
		.new-deck,
		.import-data {
			width: auto;
			padding-right: $lhse*.5;
			padding-left: $lhse*.5;
		}
		.new-deck {
			flex-grow: 1;
		}
		.import-data {
			flex-grow: .25;

			h3 {
				margin-bottom: divide($lhse, 3);
			}
		}
	}
}
@media (max-width: ($min-width-app*.4)) {
	.create-deck-page {
		.new-deck {
			input {
				font-size: 100%;
			}
		}
	}
}
