@use 'sass:math';
@use 'variables-and-mixins' as *;

.list-takeout {
	margin: 0 auto $lhse*.5;

	.intro {
		:first-child {
			margin-top: 0;
		}
	}
	.control-panel {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		align-items: center;
		gap: $lhse*.25 $lhse;
		margin: $lhse auto;
		border: $border-sections-medium;
		padding: $lhse*.25 $lhse*.5;
		width: fit-content;
		flex-wrap: wrap;
	}
	.button-container {
		height: $lhse*2;

		a {
			@include button;
		}
		a,
		button {
			width: 100%;
			height: $lhse*1.75;

			svg {
				width: $lhse*1.25;
				height: $lhse*1.25;
				margin-right: .25em;
			}
			span {
				font-size: 75%;
				text-align: left;
			}
		}
		button {
			span {
				font-size: 87.5%;
			}
		}
	}
	.lists {
		display: grid;
		gap: $lhse*.5 $lhse;
		margin: $lhse*.5 0;

		&.two-columns {
			grid-template-columns: 1fr 1fr;
		}
		section {
			width: $width-textarea-card-list;
			margin: 0 auto;
		}
		header {
			height: $lhse*1.5;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background: $color-heading-bg;
			padding: $lhse*.5;
		}
		h4 {
			margin: 0;
			color: $color-text-extra-brighter;
		}
		button {
			font-size: 75%;
			height: $lhse*1.625;

			svg {
				width: $lhse*1.25;
				height: $lhse*1.25;
				margin-right: .25em;
			}
		}
		.copied-message {
			font-size: $font-size-small;
			color: $color-text-extra-brighter;
			font-style: italic;
			margin-top: -$lhse*.0625;
		}
	}
	textarea {
		margin: 0 auto;
		width: 100%;
		border-color: $color-heading-bg;
		font-size: 60%;
		z-index: 1; // Needed for Safari when showing the focus outline.
		position: relative;

		&:focus {
			outline: none;
		}
	}
	footer {
		margin-top: $lhse;
	}
	.no-cards {
		max-width: $max-width-narrow-message;
		margin-top: $lhse*.25;
	}
}
:root {
	.deck-print-area {
		$print-font-size: 16px;
		$line-height-standard: 1.125;
		$lhsp: $print-font-size * $line-height-standard;

		display: none; // Hidden by default, shown when printing.
		font-size: $print-font-size;
		line-height: $line-height-standard;

		* {
			color: #000;
		}
		h2,
		h3 {
			padding: 0;
			text-align: left;
			margin: $lhsp*.5 0;
		}
		h2 {
			font-size: $print-font-size*1.3820;
			margin: $lhsp*.5 0 $lhsp;
			box-shadow: none !important;
			border: none !important;
		}
		h3 {
			font-size: $print-font-size;
			margin: $lhsp 0 $lhsp*.5;
		}
		.columns {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: $lhsp*.5;
		}
		ul {
			padding: 0;
			margin: $lhsp*.5 0;
		}
		li {
			list-style: none;
			margin: 0;
			display: flex;

			&.starred {
				font-weight: $font-weight-semibold;
			}
		}
		.qty-print {
			min-width: 1.3333em;
			text-align: right;
		}
	}
}

@media (max-width: ($min-width-app * .8333)) {
	.list-takeout {
		.lists {
			&,
			&.two-columns {
				grid-template-columns: 1fr;
				grid-template-rows: auto auto;
			}
		}
	}
}
@media (max-width: ($min-width-app * .625)) {
	.list-takeout {
		width: 100%;

		.lists {
			section {
				max-width: $width-textarea-card-list;
				width: 100%;
			}
		}
	}
}
@media (max-width: ($min-width-app * .4583)) {
	.list-takeout {
		.control-panel {
			grid-template-columns: 1fr;
		}
	}
}
@media print {
	* {
		background: none !important;
	}
	.footer-pusher {
		min-height: 0 !important;
	}
	.footer-pusher > :not(main),
	.scroll-to-top,
	.deck > :not(.list-takeout) {
		display: none !important;
	}
	.list-takeout {
		width: 100%;

		> :not(.deck-print-area) {
			display: none !important;
		}
		.deck-print-area {
			display: block;
		}
	}
}
