@import 'variables';
@import 'card-list';

$width-card-adder-button: $lhse*2.125;
$width-card-list-section-wide:
	$width-card-bars-wide + $width-card-star + $width-qty-column;
$width-card-list-section-narrow:
	$width-card-bars-narrow + $width-card-star + $width-qty-column;

.list-editor {
	margin: 0 auto $lhse*.5;
	display: flex;
	gap: $margin-card-gap-after $lhse*.5;
	position: relative;

	.layout-column {
		background: $color-group-bg;
		height: fit-content;
		border-radius: $border-radius-group;
		display: flex;
		flex-direction: column;
	}
	.viewing-controls {
		min-height: 0%; // Needed for Firefox on sideboard lists
		box-sizing: content-box;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.adder-controls {
		align-self: flex-start;
		border-radius: $border-radius-group;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		overflow: hidden;
		width: 100%;
	}
	.card-list-section {
		width: $width-card-list-section-wide;
	}
	.section-label {
		@include heading-font;
		@include tiny-font-size(true);
		line-height: 1;
		color: $color-text;
		margin: 0;
	}
}
.card-sorter,
.card-group-switch {
	svg {
		width: $lhse*1.8;
		height: $lhse*1.8;
		margin-right: $lhse*.25;
	}
	.section-label {
		padding-left: $lhse*.625;
		padding-bottom: $lhse*.125;
		line-height: $line-height-standard;
	}
}
.card-sorter {
	form {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	fieldset {
		padding: 0 0 $lhse*.0625;
		border: 0;
		margin: 0;
		display: flex;
		flex-direction: column;

		&:disabled {
			opacity: .25;
			filter: saturate(.5);

			&:active {
				select {
					cursor: not-allowed;
				}
			}
			select {
				opacity: 1;
				cursor: default;
			}
		}
	}
	select {
		height: $lhse*1.25;
		padding-top: $lhse*.0417;
		padding-bottom: $lhse*.0417;
		font-size: 87.5%;
	}
}
.card-group-switch {
	svg {
		grid-row: 1 / 3;
	}
	form {
		margin-top: -$lhse*.0417;
	}
	fieldset {
		padding: $lhse*.0417 divide($lhse, 3);
		grid-column: 2;
		grid-row: 2;
		display: flex;
		gap: $lhse;

		> div {
			display: flex;
			align-items: center;
			margin: 0;
		}
	}
	h3 {
		cursor: default;
		grid-column: 2;
		grid-row: 1;
	}
	label {
		margin-top: -$lhse*.0417;
		padding-top: $lhse*.0;
		padding-bottom: $lhse*.0;
		font-weight: $font-weight-label;
	}
}
.scryfall-button,
.list-entry-button {
	display: flex;
	flex-direction: column;
	padding-right: $lhse*.125;
	padding-left: $lhse*.125;
	text-align: center;
	gap: 0 divide($lhse, 3);

	a {
		@include button('gray');
		min-width: 0;
		width: $lhse*2;
		height: $lhse*2;
		border-radius: $border-radius-small-button;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 80%
	}
}
.scryfall-button {
	a {
		padding: 0;
	}
	img {
		filter: brightness(.9167) saturate(1.1667);
		width: $lhse*1.6;
		height: $lhse*1.6;
	}
}
.card-adder {
	flex-grow: 1;
	transition: background-color .5s ease;
	background-color: $color-group-bg;

	form {
		align-items: center;
		display: grid;
		grid-template-rows: $lhse*.75 $lhse*1.5;
		grid-template-columns: auto min-content;
	}
	form,
	.loading-indicator {
		width: 100%;
	}
	label {
		@include heading-font;
		font-size: 80%;
		padding-left: $lhse*.4167;
		width: max-content;
	}
	.sideboard-visible & {
		@include sideboard-header-bg;
		border-bottom-right-radius: $border-radius-group; // Needed for box-shadow outline.

		label {
			color: $color-text-over-mythic-brown;
		}
	}
	input {
		border-radius: $border-radius-button;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: 100%;
		padding-right: 0;

		&.attention {
			@keyframes pulsate-input {
				100% {
					background-color: $color-input-bg-active;
					color: $color-link-active;
				}
			}
			animation-name: pulsate-input;
			animation-duration: .25s;
			animation-iteration-count: 2;
			animation-direction: alternate;
			animation-timing-function: ease-in-out;
		}
	}
	button {
		width: $width-card-adder-button;
		height: $height-control-panel-input*1.0625;
		min-width: min-content;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: 1px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			fill: currentColor !important;
			width: $lhse*1.3333;
			height: $lhse*1.3333;
		}
	}
	.loading-indicator {
		display: flex;
		justify-content: center;
		animation: pulse .5s ease-out;
		animation-direction: alternate-reverse;
		animation-iteration-count: infinite;
		cursor: progress;

		@keyframes pulse {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		span {
			color: $color-text;
			font-style: italic;
			font-size: $font-size-bigger;

			.sideboard-visible & {
				color: $color-text-over-mythic-brown;
			}
		}
	}
}
.list-entry-button {
	.sideboard-visible & {
		display: none;
	}
	a {
		padding: 0;
	}
	svg {
		width: $lhse*1.75;
		height: $lhse*1.75;
	}
}

@mixin viewing-controls-single-layer {
	.list-editor {
		.viewing-controls {
			grid-template-columns: auto auto;
			height: $height-deck-header-component * 1.25;
		}
	}
	.card-sorter {
		border-bottom-width: 0;
	}
	.card-group-switch {
		border-left: $border-sections;
	}
}
@mixin viewing-controls-double-layers {
	.list-editor {
		.viewing-controls {
			grid-template-rows: 1fr 1fr;
			grid-template-columns: auto;
			height: auto;
		}
	}
	.card-sorter {
		border-bottom: $border-sections;
	}
	.card-group-switch {
		border-left-width: 0;
	}
}
@mixin adder-controls-single-layer {
	.list-editor {
		.adder-controls {
			grid-template-rows: auto;
			grid-template-columns: 1fr minmax(auto, 4fr)  1fr;

			section {
				height: $lhse*3;
			}
			.sideboard-visible & {
				grid-template-columns: 1fr minmax(auto, 5fr);
			}
		}
	}
	.scryfall-button,
	.list-entry-button {
		flex-direction: column;
	}
	.scryfall-button {
		grid-row: 1;
	}
	.list-entry-button {
		grid-row: 1;
		border-left: $border-sections;
	}
	.card-adder {
		border-top-width: 0;
		border-left: $border-sections;
		flex-grow: 2;
		grid-row: 1;
		grid-column: span 1;

		form {
			max-width: $width-card-bars-narrow + $width-card-adder-button;
		}
		label {
			grid-column: span 2;
		}
	}
}
@mixin adder-controls-double-layers {
	.list-editor {
		.adder-controls {
			grid-template-rows: $lhse*2 $lhse*3;
			grid-template-columns: 1fr 1fr;

			section {
				height: auto;
			}
			.sideboard-visible & {
				grid-template-columns: 2fr;
			}
		}
	}
	.scryfall-button,
	.list-entry-button {
		flex-direction: row;

		.section-label {
			width: auto;
		}
	}
	.card-adder {
		border-left-width: 0;
		border-top: $border-sections;
		grid-row: 2;
		grid-column: span 2;

		input,
		button {
			font-size: 87.5%;
		}
	}
}

@include viewing-controls-single-layer;
@include adder-controls-single-layer;

@media (max-width: ($width-app-breakpoint-tablet * 1.03125)) {
	.list-editor {
		.layout-column {
			margin-right: $lhse; // Needed space for the quantity button cluster.
		}
	}
}
@media (max-width: $width-app-breakpoint-tablet) {
	@include viewing-controls-double-layers;
	@include adder-controls-double-layers;

	.list-editor {
		.layout-column {
			margin-right: 0;
		}
		.card-list-section {
			width: 100%;
		}
	}
}
@media (max-width: $min-width-app) {
	.list-editor {
		max-width: $max-width-deck-page-layout;
	}
}
@media (max-width: $width-deck-hidden-image) {
	@include viewing-controls-single-layer;
	@include adder-controls-single-layer;

	.list-editor {
		grid-template-areas:
			'panel-1'
			'card-list'
			'panel-2';
		grid-template-columns: auto;
		gap: $margin-card-gap-after 0;
	}
	.scryfall-button,
	.list-entry-button {
		.section-label {
			width: min-content;
		}
	}
}
@media (max-width: ($min-width-app * .75)) {
	.list-editor {
		.viewing-controls {
			width: 100%;
			max-width: none;
		}
		.adder-controls {
			max-width: none;
		}
	}
}
@media (max-width: ($min-width-app * .625)) {
	@include viewing-controls-double-layers;
	@include adder-controls-double-layers;

}
@media (max-width: ($min-width-app * .5)) {
	.list-editor {
		display: block;
		max-width: 100%;
		margin: 0 0 $lhse*.25;

		.layout-column {
			border-radius: 0;
		}
		.sideboard-visible & {
			.adder-controls,
			.card-adder {
				border-radius: 0;
			}
		}
	}
	.card-adder {
		button {
			width: auto;
		}
	}
	.sideboard-header {
		border-radius: 0;
	}
}
