@import 'variables';
$table-borders: 1px solid $color-heading-bg;
$color-scroll-limiter-shadow: darken($color-mythic-orange, 12.5%);

.more-stats {
	max-width: calc(100% - $lhse*2);
	width: max-content;
	margin: 0 auto $lhse;
	display: flex; // This prevents a weird CSS margin-shifting glitch when clicking the "Card List" button.
	flex-direction: column;

	.tables {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: $lhse;
		margin: $lhse 0;

		section {
			grid-column: span 1;
		}
	}
	h3 {
		margin-top: $lhse*.5;
		margin-bottom: divide($lhse, 8);
		text-align: center;
	}
	section {
		cursor: default;

		> table,
		> .height-limiter {
			border-bottom: 3px solid $color-heading-bg;
		}
	}
	h4 {
		margin: 0 0 2px;
		padding: $lhse*.25;
		background: $color-heading-bg;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		border: $table-borders;
		border-width: 1px;
		border-top-width: 0;
		border-bottom-width: 0;
		width: 100%;
		max-width: $lhse*9;
		
		thead {
			th {
				@include heading-font;
				font-size: 60%;
				text-transform: uppercase;
				text-align: right;
				background: $color-heading-bg;
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		tbody {
			position: relative;
		}
		tr {
			transition: background-color .125s ease-out;

			&:hover {
				background: rgba(#000, .375);
				transition-duration: 0s;
			}
			&:last-child {
				th,
				td {
					border-bottom-width: 0;
				}
			}
		}
		th,
		td {
			padding: 0 divide($lhse, 4);
			border: $table-borders;
			text-align: right;
			line-height: 1;
			height: 1.5em;
		}
		td {
			padding-top: divide($lhse, 5);
			padding-bottom: divide($lhse, 5);
		}
		th {
			text-align: right;
		}
		.distinct-head {
			th {
				background: $color-mythic-very-dim;
				border-color: $color-mythic-very-dim;
				color: desaturate(lighten($color-mythic-very-dim, 62.5%), 8.33%);
			}
		}
		.mana-symbol {
			margin-left: auto;
			box-shadow: none;
			line-height: .9375;
		}
	}
	.height-limiter {
		overflow-y: auto;
		max-height: $lhse * 10.125;
		background:
			/* Top shadow cover */
			linear-gradient(
				$color-group-bg 33.33%,
				rgba($color-group-bg, 0)
			) center top,

			/* Bottom shadow cover */
			linear-gradient(
				rgba($color-group-bg, 0), 
				$color-group-bg 66.67%
			) center bottom,
			
			/* Top shadow */
			radial-gradient(farthest-side at 50% 0,
				rgba($color-scroll-limiter-shadow, .25),
				rgba($color-scroll-limiter-shadow, 0)
			) center top,
			
			/* Bottom shadow */
			radial-gradient(farthest-side at 50% 100%,
				rgba($color-scroll-limiter-shadow, .25),
				rgba($color-scroll-limiter-shadow, 0)
			) center bottom;
		background-repeat: no-repeat;
		background-size:
			100% $lhse*1.75, 100% $lhse*1.75,
			100% $lhse*.875, 100% $lhse*.875;
		background-attachment: local, local, scroll, scroll;

		&::-webkit-scrollbar {
			width: divide($lhse, 3);
			border-right: 1px solid $color-heading-bg;
		}
		&::-webkit-scrollbar-thumb {
			background: none;
			border-radius: $lhse;
		}
		&:hover,
		&:focus-within {
			&::-webkit-scrollbar-thumb {
				background: rgba($color-mythic-orange, .3333);
			}
		}
		&:active {
			&::-webkit-scrollbar {
				background: rgba(#000, .25);
			}
			&::-webkit-scrollbar-thumb {
				background: rgba($color-mythic-orange, .6667);
			}
		}
	}
	.return-link {
		margin: 0;
		text-align: center;
	}
	.mana-symbol {
		font-size: 133.33%;
	}
	.outdated-data-notice {
		border: $border-sections;
		border-radius: $border-radius-group;
		padding: $lhse*.75;
		max-width: $max-width-content*.8;
		margin: $lhse auto;
		
		p {
			margin: 0;
		}
		.update-button-cont {
			text-align: center;
			height: $lhse*1.75;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			margin: 0;
		}
		.loading-indicator {
			animation: pulse .5s ease-out;
			animation-direction: alternate-reverse;
			animation-iteration-count: infinite;
			font-style: italic;
			width: 100%;
			cursor: progress;
			
			@keyframes pulse {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		}
	}
}
.vert-center-cell {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	small {
		font-size: 75%;
		margin-right: .5em;
	}
}

@media (max-width: (1920px * .8333)) {
	.more-stats {
		.tables {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
@media (max-width: ($width-app-breakpoint-tablet)) {
	.more-stats {
		.tables {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media (max-width: ($width-app-breakpoint-tablet*.6667)) {
	.more-stats {
		.tables {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
@media (max-width: ($min-width-app*.625)) {
	.more-stats {
		max-width: 100%;
		width: 100%;
		margin: 0;

		.tables {
			margin: $lhse auto;
		}
	}
}
