@import 'variables';

.contact-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: $lhse $lhse*1.5;
	max-width: $max-width-content*1.5;

	h2 {
		grid-column: span 2;
		text-align: center;
		margin-bottom: 0;
	}
	> p {
		&:first-of-type {
			grid-column: span 2;
			margin-top: 0;
		}
	}
	figure {
		margin: 0 auto;
	}
	.column {
		> :first-child {
			margin-top: 0;
		}
	}
}

@media (max-width: ($min-width-app)) {
	.contact-page {
		display: block;
		max-width: $max-width-content;

		h2 {
			margin-bottom: $lhse*.5;
		}
		.column {
			margin-top: $lhse;
		}
	}
}
