@use "sass:color";
@use 'sass:list';
@use 'variables-and-mixins' as *;

.recent-decks {
	padding: 0 $lhse $lhse*1;
	max-width: $max-width-app;
	margin: 0 auto $lhse;

	nav {
		display: flex;
		gap: $lhse;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		max-width: $max-width-app;
		border-bottom: $border-width-sections-medium solid $color-content-bg;
		padding-bottom: $lhse*1.5;
		margin: 0 auto;
	}
	h3 {
		margin: 0;
		font-size: $font-size-small;
		color: $color-text;
		cursor: default;
		white-space: nowrap;
		text-align: center;
	}
	ul {
		padding: 0;
		display: flex;
		gap: $lhse*.5;
		flex-wrap: wrap;
		margin: 0;
		justify-content: center;
		max-width: 100%;
	}
	li {
		display: block;
		justify-content: center;
		align-content: center;
		margin: 0;
		width: $lhse*8;
		height: $lhse*1.3333;
		border-radius: $border-radius-button; // For decks with excessively long names.
	}
	a {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: $border-radius-button;
		font-family: $font-family-standard;
		font-weight: $font-weight-label;
		font-size: $font-size-small;
		background: $color-group-bg-lighter;
		text-decoration: none;
		padding: $lhse*.125 $lhse*.375;
		width: 100%;
		height: 100%;
		text-align: left;
		border: 1px solid $color-group-bg-darker;
		background: $color-group-bg;
		transition: $transition-duration-standard ease;
		transition-property: opacity, filter;
		opacity: .8;
		filter: brightness(1.2) saturate(.8);

		&:hover,
		&:focus,
		&:active {
			opacity: 1;
			filter: none;
		}
		svg {
			will-change: opacity; // Prevents a wiggling glitch on hover in Safari.
		}
	}
	.deck-name {
		font-weight: $font-weight-label;
		overflow: hidden;
		width: $lhse*6.3333;
		text-overflow: ellipsis;
		line-height: .875;
		padding: $lhse*.125 0;
	}
	.deck-colors {
		display: flex;
		align-items: center;
		font-size: $font-size-small;
	}
}
