@use 'sass:list';
@use 'variables-and-mixins' as *;

$height-button-scroll-to-top: $lhse*1.25;

.scroll-to-top {
	position: fixed;
	bottom: 0;
	right: $lhse*.25;
	z-index: list.index($layers, scroll-to-top);
	margin: 0 auto;
	width: fit-content;
	outline: $border-image-thin;
	background: $color-input-border;
	border-radius: $border-radius-button;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	height: $height-button-scroll-to-top;

	button {
		min-width: $lhse*2;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		margin: 0;
		padding: $lhse*.125 $lhse*.5;
		border-block-width: 0;
		font-size: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: $lhse;
			height: $lhse;
		}
		.text-label {
			width: 0;
			transition: all .5s ease;
			font-size: 75%;
			overflow: hidden;
			white-space: nowrap;
			opacity: 0;
			margin: 0;
		}
		&:hover,
		&:focus {
			.text-label {
				width: $lhse*4.25;
				margin: 0 .25em;
				opacity: 1;
			}
		}
		&:active {
			border-width: 0;
			margin-bottom: -2px;
		}
	}
}
.stt-fade-enter-active,
.stt-fade-leave-active {
  transition: bottom .25s ease;
}
.stt-fade-enter,
.stt-fade-leave-to {
	bottom: -$height-button-scroll-to-top;
}
