@import 'variables';

.scroll-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: index($layers, scroll-to-top);
	margin: 0 auto;
	width: fit-content;
	outline: 3px solid $color-section-border;
	background: $color-input-border;
	border-radius: $border-radius-button;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;

	button {
		@include button;
		min-width: $lhse*2;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		margin: 0;
		padding: $lhse*.125 $lhse*.5;
		border-block-width: 0;
		font-size: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.text-label {
			width: 0;
			transition: all .5s ease;
			text-transform: uppercase;
			font-size: 66.67%;
			overflow: hidden;
			white-space: nowrap;
			opacity: 0;
			margin: 0;
		}
		&:hover,
		&:focus {
			.text-label {
				width: $lhse*5.5;
				margin: 0 .25em;
				opacity: 1;
			}
		}
		&:active {
			border-width: 0;
			margin-bottom: -2px;
		}
	}
}
.stt-fade-enter-active,
.stt-fade-leave-active {
  transition: opacity .5s ease;
}
.stt-fade-enter,
.stt-fade-leave-to {
  opacity: 0;
}
