@use 'sass:math';
@use 'variables-and-mixins' as *;

.sideboard-header {
	@include sideboard-header-bg;
	margin: -$lhse*.5 0 $lhse*.5;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	cursor: default;
	height: $height-deck-header-component;
	width: 100%;

	h4,
	h5,
	p {
		margin: 0;
		color: $color-text-over-mythic-brown;
	}
	h4 {
		align-self: center;
		color: $color-text-brighter-over-mythic-brown;
		font-size: 125%;
	}
	h4,
	.sideboard-card-total {
		padding: 0 $lhse*.5;
	}
	h5 {
		@include label-text-style;
		text-align: right;
		margin-right: $lhse*.5;
	}
	.output {
		font-size: $font-size-stat-value;
		line-height: 1;
		margin-top: math.div(-$lhse, 12);
		display: flex;
		align-items: center;
		font-weight: $font-weight-label;
	}
	.warning-symbol {
		margin-left: .25em;
	}
	.sideboard-card-total {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		border-left: $border-sections-alt;
		padding-left: $lhse*.5;
	}
}

@media (max-width: ($min-width-app * .375)) {
	.sideboard-header {
		h4 {
			padding: 0 0;
			margin: 0 auto;
		}
	}
}
