.mana-symbol {
	$common-mana-symbol-size: .8em;

	border-radius: 50%;
	width: $common-mana-symbol-size;
	height: $common-mana-symbol-size;
	background: $color-mana-generic;
	font: $font-weight-semibold #{100%}/#{1} $font-family-standard;
	color: $color-black-label-text;
	text-shadow: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	&.white {
		background: $color-mana-white;

		div {
			transform: scaleX(.75);
			font-weight: $font-weight-semibold*1.1667;
		}
	}
	&.blue {
		background: $color-mana-blue;
	}
	&.black {
		background: $color-mana-black;
		color: $color-darker-black-label-text;
	}
	&.red {
		background: $color-mana-red;
	}
	&.green {
		background: $color-mana-green;
	}
	&.hybrid,
	&.long-hybrid {
		background: $color-mana-hybrid;
		font-size: 120%;
		font-weight: $font-weight-semibold*1.25;

		div {
			transform: scale(.5);
			line-height: $common-mana-symbol-size*2;
			letter-spacing: divide(1em, -12);
			text-indent: divide(1em, -6);
			white-space: nowrap
		}
	}
	&.long-hybrid {
		div {
			transform: scale(1) translateY(-.25em);
			letter-spacing: normal;
			text-indent: 0;
		}
	}
	.double-digits {
		transform: scale(.75); // Transforming the scale is better than changing font-size because it doesn't affect margins.
	}
	&[title] {
		cursor: help;
	}
}
.size-mana-symbols {
	grid-gap: 0 2px;
	justify-items: center;

	.mana-symbol {
		margin: 0;
	}

	$size-mana-symbol-base: $font-size-stat-value * 1.125;

	&.one {
		.mana-symbol {
			font-size: $size-mana-symbol-base;
		}
	}
	&.two {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;

		.mana-symbol {
			font-size: $font-size-stat-value*.8;
		}
	}
	&.three {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr 1fr;

		.mana-symbol {
			grid-row: 2;
			grid-column: span 3;
			font-size: $font-size-stat-value*.8*.8;

			&:first-of-type {
				grid-row: 1;
				grid-column: span 6;
			}
		}
	}
	&.four {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
		grid-gap: 2px;

		.mana-symbol {
			font-size: $font-size-stat-value*.8*.8*.8;
		}
	}
	&.five {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr 1fr;

		.mana-symbol {
			font-size: $font-size-stat-value*.8*.8*.8*.8;
			grid-row: 2;
			grid-column: span 4;

			&:first-of-type {
				grid-row: 1;
				grid-column: span 6;
				justify-self: flex-end;
			}
			&:nth-of-type(2) {
				grid-row: 1;
				grid-column: span 6;
				justify-self: flex-start;
			}
		}
	}
}
.rarity-symbol {
	border-radius: $border-radius-button;
	min-width: 16px; // Needed so that the .rarity element doesn't get squished by a very long .type element.
	text-align: center;
	font: 800 54.17%/1.125 'Ysabeau', 'Trebuchet MS', sans-serif;
	outline: 1px solid rgba(#000, 2/3);
	color: $color-black-label-text;
	text-shadow: none;

	&[title] {
		cursor: help;
	}
	> div {
		transform: scaleX(1.25);
		backface-visibility: hidden;
	}
	&.common,
	&.special {
		outline-color: darken(#fff, 8.33%);
		color: darken(#fff, 8.33%);
	}
	&.common {
		background: lighten(#000, 20%);
	}
	&.uncommon {
		background: linear-gradient(-60deg,
			saturate(darken($color-rarity-silver, 25%), 4.17%),
			saturate(lighten($color-rarity-silver, 12.5%), 4.17%),
			saturate(darken($color-rarity-silver, 25%), 4.17%)
		) $color-rarity-silver;
		text-shadow: -.375px .5px 0 rgba(#fff, .5);
	}
	&.rare {
		background: linear-gradient(-60deg,
			desaturate(darken($color-rarity-gold, 20%), 12.5%),
			desaturate(lighten($color-rarity-gold, 20%), 12.5%),
			desaturate(darken($color-rarity-gold, 20%), 12.5%)
		) $color-rarity-gold;
		text-shadow: -.375px .5px 0 rgba(#fff, .5);
	}
	&.mythic {
		background: linear-gradient(-60deg,
			saturate(darken($color-rarity-mythic, 6.25%), 25%),
			saturate(lighten($color-mythic-yellow, 8.33%), 12.5%),
			saturate(darken($color-rarity-mythic, 6.25%), 25%)
		) $color-mythic-yellow;
		text-shadow: -.375px .5px 0 rgba(#fff, .5);
	}
	&.special {
		background: linear-gradient(-60deg,
			darken($color-rarity-special, 25%),
			saturate(lighten($color-rarity-special, 20%), 25%),
			darken($color-rarity-special, 25%)
		) $color-rarity-special;
		text-shadow: .375px -.5px 0 rgba(#000, .6667);
	}
}
.warning-symbol {
	color: desaturate(darken($color-rarity-gold, 0%), 29.17%);
	font-size: 50%;
	margin-top: divide($lhse, 6);
	width: $lhse;
	height: $lhse;
}
