@use 'sass:color';
@use 'sass:math';
@use 'variables-and-mixins' as *;

.mana-symbol {
	$common-mana-symbol-size: .8em;

	border-radius: 50%;
	width: $common-mana-symbol-size;
	height: $common-mana-symbol-size;
	background: $color-mana-generic;
	font: $font-weight-semibold #{100%}/#{1} $font-family-standard;
	color: $color-black-label-text;
	text-shadow: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	&.hybrid,
	&.long-hybrid {
		background: $color-mana-hybrid;
		font-size: 120%;
		font-weight: $font-weight-semibold*1.25;

		div {
			transform: scale(.5);
			line-height: $common-mana-symbol-size*2;
			letter-spacing: math.div(1em, -12);
			text-indent: math.div(1em, -6);
			white-space: nowrap
		}
	}
	&.long-hybrid {
		div {
			transform: scale(1) translateY(-.25em);
			letter-spacing: normal;
			text-indent: 0;
		}
	}
	.double-digits {
		transform: scale(.75); // Transforming the scale is better than changing font-size because it doesn't affect margins.
	}
	svg {
		width: 75px !important;
		height: 75px !important;
		display: inline-block;
	}
}
.size-mana-symbols {
	gap: 0 2px;
	justify-items: center;

	.mana-symbol {
		margin: 0;
	}

	$size-mana-symbol-base: $font-size-stat-value * 1.125;

	&.one {
		.mana-symbol {
			font-size: $size-mana-symbol-base;
		}
	}
	&.two {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;

		.mana-symbol {
			font-size: $font-size-stat-value*.8;
		}
	}
	&.three {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr 1fr;

		.mana-symbol {
			grid-row: 2;
			grid-column: span 3;
			font-size: $font-size-stat-value*.8*.8;

			&:first-of-type {
				grid-row: 1;
				grid-column: span 6;
			}
		}
	}
	&.four {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
		gap: 2px;

		.mana-symbol {
			font-size: $font-size-stat-value*.8*.8*.8;
		}
	}
	&.five {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr 1fr;

		.mana-symbol {
			font-size: $font-size-stat-value*.8*.8*.8*.8;
			grid-row: 2;
			grid-column: span 4;

			&:first-of-type {
				grid-row: 1;
				grid-column: span 6;
				justify-self: flex-end;
			}
			&:nth-of-type(2) {
				grid-row: 1;
				grid-column: span 6;
				justify-self: flex-start;
			}
		}
	}
}
.rarity-symbol {
	border-radius: $border-radius-button;
	min-width: 16px; // Needed so that the .rarity element doesn't get squished by a very long .type element.
	text-align: center;
	font: 800 11px/#{11px} 'Ysabeau', 'Trebuchet MS', sans-serif;
	height: 12px;
	outline: 1px solid rgba(#000, math.div(2, 3));
	color: $color-black-label-text;
	text-shadow: none;

	&[title] {
		cursor: help;
	}
	> div {
		transform: scaleX(1.25);
		backface-visibility: hidden;
	}
	&.common,
	&.special {
		outline-color: color.adjust(#fff, $lightness: -8.33%);
		color: color.adjust(#fff, $lightness: -8.33%);
	}
	&.common {
		background: color.adjust(#000, $lightness: 20%);
	}
	&.uncommon {
		background: linear-gradient(-60deg,
			color.adjust($color-rarity-silver, $lightness: -25%, $saturation: 4.17%),
			color.adjust($color-rarity-silver, $lightness: 12.5%, $saturation: 4.17%),
			color.adjust($color-rarity-silver, $lightness: -25%, $saturation: 4.17%)
		);
		text-shadow: -.375px .5px 0 rgba(#fff, .5);
	}
	&.rare {
		background: linear-gradient(-60deg,
			color.adjust($color-rarity-gold, $lightness: -20%, $saturation: -12.5%),
			color.adjust($color-rarity-gold, $lightness: 20%, $saturation: -12.5%),
			color.adjust($color-rarity-gold, $lightness: -20%, $saturation: -12.5%)
		);
		text-shadow: -.375px .5px 0 rgba(#fff, .5);
	}
	&.mythic {
		background: linear-gradient(-60deg,
			color.adjust($color-rarity-mythic, $lightness: -6.25%, $saturation: 25%),
			color.adjust($color-mythic-yellow, $lightness: 8.33%, $saturation: 12.5%),
			color.adjust($color-rarity-mythic, $lightness: -6.25%, $saturation: 25%)
		);
	}
	&.special {
		background: linear-gradient(-60deg,
			color.adjust($color-rarity-special, $lightness: -25%),
			color.adjust($color-rarity-special, $lightness: 20%, $saturation: 25%),
			color.adjust($color-rarity-special, $lightness: -25%)
		);
	}
}
.warning-symbol {
	color: color.adjust($color-rarity-gold, $lightness: -8.33%, $saturation: -25%);
	font-size: 50%;
	margin-top: math.div($lhse, 6);
	width: $lhse;
	height: $lhse;
}
