@use "sass:color";
@use "sass:math";

/* ORANGE-BASED COLORS */
$color-mythic-orange: #ea4b12; // Sampled
$color-highlight-bg: color.adjust($color-mythic-orange, $lightness: -20%, $saturation: -20%);
$color-highlight-bg-hover: color.adjust($color-highlight-bg, $lightness: -6.25%, $saturation: -6.25%);
$color-highlight-border: color.adjust($color-highlight-bg, $lightness: 8.33%, $saturation: -8.33%);
$color-mythic-dim: color.adjust($color-mythic-orange, $lightness: -20%, $saturation: -56.25%);
$color-mythic-dimmer: color.adjust($color-mythic-dim, $lightness: -12.5%);
$color-mythic-brown: color.adjust($color-mythic-orange, $saturation: -75%, $lightness: -25%); // Darkened to match brightness level of $color-group-bg-lighter.
$color-link: color.adjust($color-mythic-orange, $lightness: 16.67%, $saturation: -8.33%);
$color-link-dim: color.adjust($color-link, $saturation: -37.5%);
$color-button-orange: color.adjust($color-mythic-orange, $saturation: -29.17%, $lightness: 8.33%);
$color-text-over-mythic-brown: color.adjust($color-mythic-brown, $lightness: 56.25%);
$color-text-brighter-over-mythic-brown: color.adjust($color-text-over-mythic-brown, $lightness: 6.25%);
$color-input-bg-active: color.adjust($color-link, $lightness: -37.5%);
$color-section-border-alt: color.adjust($color-mythic-brown, $lightness: 12.5%); // Lighten percentage matches that of $color-section-border.

/* YELLOW-BASED COLORS */
$color-mythic-yellow: #ff9624; // #FFF with overlay blend on mythic-orange
$color-link-focus: color.adjust($color-mythic-yellow, $lightness: 12.5%);
$color-link-active: color.adjust($color-mythic-yellow, $lightness: 25%, $saturation: 50%);
$color-app-header-link: color.adjust($color-mythic-yellow, $lightness: 16.67%, $saturation: -12.5%);
$color-app-header-link-hover: color.adjust($color-app-header-link, $lightness: 12.5%);
$color-app-header-link-active: color.adjust($color-app-header-link, $lightness: -6.25%, $saturation: 25%);
$color-input-bg-focus: color.adjust($color-mythic-yellow, $lightness: -41.67%, $saturation: -62.5%);
$color-card-star: color.adjust($color-mythic-yellow, $lightness: 16.67%, $saturation: 50%);

/* SKY-BLUE-BASED COLORS */
$color-mythic-complement: #15b4ed; // Inverted mythic-orange
$color-content-bg: color.adjust($color-mythic-complement, $lightness: -12.5%, $saturation: -75%);
$color-content-bg-lighter: color.adjust($color-content-bg, $lightness: 4.17%);
$color-group-bg: color.adjust($color-mythic-complement, $lightness: -33.33%, $saturation: -58.33%);
$color-group-bg-darker: color.adjust($color-group-bg, $lightness: -4.17%, $saturation: 6.25%);
$color-group-bg-extra-darker: color.adjust($color-group-bg, $lightness: -6.25%, $saturation: 8.33%);
$color-group-bg-lighter: color.adjust($color-group-bg, $lightness: 6.25%, $saturation: -4.17%);
$color-text: color.adjust($color-group-bg, $lightness: 60%, $saturation: -8.33%);
$color-text-brighter: color.adjust($color-text, $lightness: 6.25%);
$color-text-extra-brighter: color.adjust($color-text, $lightness: 12.5%);
$color-text-darker: color.adjust($color-text, $lightness: -12.5%, $saturation: -6.25%);
$color-button-gray: color.adjust($color-mythic-complement, $lightness: 20%, $saturation: -75%);
$color-heading-bg: color.adjust($color-group-bg, $lightness: 12.5%, $saturation: -8.33%);
$color-section-border: $color-heading-bg;
$color-subtle-bluish-shadow-base: color.adjust($color-mythic-complement, $lightness: -50%);
$color-subtle-bluish-shadow: rgba($color-subtle-bluish-shadow-base, .3820);

/* INDIGO-BASED COLORS */
// $color-mythic-yellow-complement: #0069db; // #FFF with overlay blend on mythic-orange-complement

/* GRAYSCALE COLORS */
$opacity-black-label-text: .8333;
$color-black-label-text: rgba(#000, $opacity-black-label-text);
$color-darker-black-label-text: rgba(#000, .875);
$color-button-border: rgba(#000, math.div(1, 3));
$color-input-bg: color.adjust(#000, $lightness: 16.67%); // Technically pure gray, but appears subtly orangish when surrounded by the bluish-tinted gray of $color-group-bg.

/* MISCELLANEOUS COLORS */
$color-rarity-gold: color.adjust(#C19C00, $lightness: 20%, $saturation: -20%); // Sampled from Scryfall
$color-rarity-silver: color.adjust(#6C848C, $lightness: 25%); // Sampled from Scryfall
$color-rarity-mythic: color.adjust($color-mythic-orange, $saturation: -16.67%);
$color-rarity-special: #905D98; // Sampled from Scryfall

/* MANA-BASED COLORS */
$color-mana-white: color.adjust(#fffcd5, $saturation: -66.67%); // Based on sample
$color-mana-blue: color.adjust(#aae1fa, $hue: 5.625deg); // Based on sample
$color-mana-black: color.adjust(color.invert($color-mana-white), $lightness: 62.5%, $saturation: -100%);
$color-mana-red: color.adjust(#f9aa8f, $hue: -3.75deg); // Based on sample
$color-mana-green: color.adjust(#9bd3ae, $hue: -8.8888deg); // Based on sample
$color-mana-generic: color.adjust(#ccc2c0, $saturation: -50%); // Based on sample
$color-mana-hybrid: color.adjust($color-rarity-gold, $lightness: 4.17%, $saturation: -6.25%);
$color-frame-land: color.adjust($color-mythic-yellow, $lightness: 12.5%, $saturation: -83.33%);
$color-frame-white: color.adjust($color-mana-white, $lightness: -4.17%, $saturation: -16.67%);
$color-frame-blue: color.adjust($color-mana-blue, $lightness: -3.125%, $saturation: -45.83%);
$color-frame-black: color.adjust($color-mana-black, $lightness: -6.25%);
$color-frame-red: color.adjust($color-mana-red, $lightness: 4.17%, $saturation: -45.83%);
$color-frame-green: color.adjust($color-mana-green, $lightness: 6.25%, $saturation: -16.67%);
$color-frame-multi: color.adjust($color-mana-hybrid, $lightness: 6.25%, $saturation: -25%);
$color-frame-generic: color.adjust($color-rarity-silver, $lightness: 6.25%, $saturation: -8.33%);

/* TEXT */
$font-family-standard: 'Crimson Pro', serif;
$line-height-standard: 1 + math.div(1, 3);
$lhse: $line-height-standard * 1em;
$font-weight-regular: 367;
$font-weight-label: 459; // = $font-weight-regular * 1.25
$font-weight-semibold: 573; // = $font-weight-label * 1.25
$font-size-bigger: 112.5%;
$font-size-small: 87.5%;
$font-size-card-list-textarea: 83.33%;
$font-size-stat-value: 166.67%;
$letter-spacing-tiny-font: math.div(1, 128)*1em;

/* WIDTHS & HEIGHTS */
$min-width-app: 960px;
$width-mobile-breakpoint: $min-width-app * .625;
$width-app-breakpoint: $min-width-app*1.375;
$width-app-breakpoint-tablet: 1024px - 1;
$width-deck-hidden-image: 768px; // Must match window width in JavaScript.
$max-width-app: 1440px - 1;
$max-width-content: 64ch;
$max-width-mobile-header-menu: 576px; // This must match the value from the `mobileView()` method in AppHeaderMenu.vue.
$max-width-narrow-message: $max-width-content * .75;
$height-control-panel-input: $lhse * 1.5;
$height-deck-header-component: $lhse*2;
$height-app-header-short: $height-deck-header-component;
$height-app-header-medium: $height-deck-header-component;
$height-app-header-tall: $lhse*3;
$width-card-bars-wide: $lhse*22; // Set to have the width between the card name and the mana cost on the card bars to match the width of those labels on the actual cards. Add a little extra space to avoid text overflow.
$width-card-bars-narrow: $lhse*11;
$width-card-star: $lhse*1.25;
$width-qty-column: $lhse*1.5;
$max-width-deck-page-layout: calc(100vw - #{$lhse*3});
$width-list-editor-region: $lhse*14.5;
$margin-sections: math.div($lhse, 3);
$width-textarea-card-list: $lhse*11.5; // Slightly wider than the width of a line with the card "Okina, Temple to the Grandfathers" (the longest Magic card name that's not a joke card).
$border-width-sections: 1px;
$border-width-sections-medium: 3px;
$border-width-sections-thickest: 5px;
$margin-card-gap-after: $border-width-sections-thickest;

/* BORDERS */
$border-sections: $border-width-sections solid $color-section-border;
$border-sections-medium: $border-width-sections-medium solid $color-section-border;
$border-sections-thick: $border-width-sections-thickest solid $color-section-border;
$border-sections-alt: $border-width-sections solid $color-section-border-alt;
$color-input-border: $border-width-sections solid $color-button-orange;
$border-image-thin: $border-width-sections solid $color-group-bg-extra-darker;
$border-bottom-width-button: 3px;
$outline-focus-visible: 1px solid $color-link-active;
$outline-keyboard-focus: 2px solid $color-button-orange;
$box-shadow-card-list-row-bg-edge: inset 0 0 0 1px $color-heading-bg;

/* SHADOWS AND GLOWS */
$box-shadow-button-shine: inset -.5px 1px 1px rgba(#fff, .25);
$box-shadow-sticky-header: 0 $lhse*.0833 $lhse*.125 rgba($color-subtle-bluish-shadow-base, math.div(1, 3));
$drop-shadow-card-shadow: drop-shadow(-$lhse*.5 $lhse*1.5 $lhse*.5 $color-subtle-bluish-shadow);
$box-shadow-popups:
	0 0 0 1px $color-mythic-dim,
	(-$lhse*.25) $lhse*.75 $lhse*.6667 1px $color-subtle-bluish-shadow;

/* TRANSITIONS */
$transition-duration-standard: .25s;
$transition-duration-card-image-hover-slow: .75s;
$transition-duration-card-image-hover-fast: $transition-duration-card-image-hover-slow * .3820;

/* MISCELLANEOUS VARIABLES */
$border-radius-button: #{$lhse} / #{$lhse * 2};
$border-radius-group: $lhse*.5;
$border-radius-small-button: math.div($border-radius-group, 2);
$layers: card-li-focus-within, card-li-hover, scroll-to-top, dropdown-label, card-overlay, app-header, update-notif, bg-overlay, above-overlay, app-menu-toggler;
$opacity-mana-symbols: .9167;
$filter-brightness-button-hover: brightness(1.1667) saturate(1.0833);
$x: 2px dashed rgba(#0f0, .5);
