@use "sass:math";
@use "sass:color";
@function divide($dividend, $divisor) {
	@return math.div($dividend, $divisor);
}

/* ORANGE-BASED COLORS */
$color-mythic-orange: #ea4b12; // Sampled
$color-highlight-bg: desaturate(darken($color-mythic-orange, 20%), 20%);
$color-highlight-border: desaturate(lighten($color-highlight-bg, 8.33%), 8.33%);
$color-mythic-dim: desaturate(darken($color-mythic-orange, 20%), 45.83%);
$color-mythic-dimmer: darken($color-mythic-dim, 12.5%);
$color-mythic-brown: darken(desaturate($color-mythic-orange, 80%), 25%); // Darkened to match brightness level of $color-group-bg-lighter.
$color-link: desaturate(lighten($color-mythic-orange, 16.67%), 8.33%);
$color-link-dim: desaturate($color-link, 37.5%);
$color-button-orange: lighten(desaturate($color-mythic-orange, 33.33%), 6.25%);
$color-text-over-mythic-brown: lighten($color-mythic-brown, 56.25%);
$color-text-brighter-over-mythic-brown: lighten($color-text-over-mythic-brown, 6.25%);
$color-input-bg-active: darken($color-link, 37.5%);
$color-section-border-alt: lighten($color-mythic-brown, 12.5%); // Lighten percentage matches that of $color-section-border.

/* YELLOW-BASED COLORS */
$color-mythic-yellow: #ff9624; // #FFF with overlay blend on mythic-orange
$color-link-focus: lighten($color-mythic-yellow, 12.5%);
$color-link-active: saturate(lighten($color-mythic-yellow, 25%), 50%);
$color-app-header-link: desaturate(lighten($color-mythic-yellow, 8.33%), 12.5%);
$color-app-header-link-hover: saturate(darken($color-app-header-link, 12.5%), 50%);
$color-app-header-link-active: lighten($color-app-header-link, 12.5%);
$color-input-bg-focus: desaturate(darken($color-mythic-yellow, 41.67%), 62.5%);
$color-card-star: saturate(lighten($color-mythic-yellow, 16.67%), 50%);

/* SKY-BLUE-BASED COLORS */
$color-mythic-complement: #15b4ed; // Inverted mythic-orange
$color-content-bg: darken(desaturate($color-mythic-complement, 75%), 12.5%);
$color-content-bg-lighter: lighten($color-content-bg, 4.17%);
$color-group-bg: desaturate(darken($color-mythic-complement, 33.33%), 60%);
$color-group-bg-darker: saturate(darken($color-group-bg, 4.17%), 6.25%);
$color-group-bg-lighter: desaturate(lighten($color-group-bg, 6.25%), 4.17%);
$color-text: desaturate(lighten($color-group-bg, 60%), 8.33%);
$color-text-brighter: lighten($color-text, 6.25%);
$color-text-extra-brighter: lighten($color-text, 12.5%);
$color-text-darker: desaturate(darken($color-text, 12.5%), 4.17%);
$color-button-gray: lighten(desaturate($color-mythic-complement, 75%), 20%);
$color-heading-bg: desaturate(lighten($color-group-bg, 12.5%), 8.33%);
$color-section-border: $color-heading-bg;
$color-subtle-bluish-shadow-base: darken($color-mythic-complement, 50%);
$color-subtle-bluish-shadow: rgba($color-subtle-bluish-shadow-base, .5);

/* INDIGO-BASED COLORS */
// $color-mythic-yellow-complement: #0069db; // #FFF with overlay blend on mythic-orange-complement

/* GRAYSCALE COLORS */
$opacity-black-label-text: .8333;
$color-black-label-text: rgba(#000, $opacity-black-label-text);
$color-darker-black-label-text: rgba(#000, .875);
$color-button-border: rgba(#000, 1/3);
$color-input-bg: lighten(#000, 16.67%); // Technically pure gray, but appears subtly orangish when surrounded by the bluish-tinted gray of $color-group-bg.

/* MISCELLANEOUS COLORS */
$color-rarity-gold: desaturate(lighten(#C19C00, 20%), 20%); // Sampled from Scryfall
$color-rarity-silver: lighten(#6C848C, 25%); // Sampled from Scryfall
$color-rarity-mythic: desaturate($color-mythic-orange, 16.67%);
$color-rarity-special: #905D98; // Sampled from Scryfall

/* MANA-BASED COLORS */
$color-mana-white: desaturate(#fffcd5, 66.67%); // Based on sample
$color-mana-blue: adjust_hue(#aae1fa, 5.625deg); // Based on sample
$color-mana-black: desaturate(lighten(invert($color-mana-white), 62.5%), 100%);
$color-mana-red: adjust_hue(#f9aa8f, -3.75deg); // Based on sample
$color-mana-green: adjust_hue(#9bd3ae, -8.8888deg); // Based on sample
$color-mana-generic: desaturate(#ccc2c0, 50%); // Based on sample
$color-mana-hybrid: desaturate(lighten($color-rarity-gold, 4.17%), 6.25%);
$color-frame-land: desaturate(lighten($color-mythic-yellow, 12.5%), 83.33%);
$color-frame-white: desaturate(darken($color-mana-white, 4.17%), 16.67%);
$color-frame-blue: desaturate(darken($color-mana-blue, 3.125%), 45.83%);
$color-frame-black: darken($color-mana-black, 6.25%);
$color-frame-red: desaturate(lighten($color-mana-red, 4.17%), 45.83%);
$color-frame-green: desaturate(lighten($color-mana-green, 6.25%), 16.67%);
$color-frame-multi: desaturate(lighten($color-mana-hybrid, 6.25%), 25%);
$color-frame-generic: desaturate(lighten($color-rarity-silver, 6.25%), 8.33%);

/* TEXT */
$font-family-standard: 'Crimson Pro', serif;
$line-height-standard: 1 + divide(1, 3);
$lhse: $line-height-standard * 1em;
$font-weight-regular: 367;
$font-weight-label: 500;
$font-weight-semibold: 600;
$font-size-bigger: 112.5%;
$font-size-small: 83.33%;
$font-size-card-list-textarea: 83.33%;
$font-size-stat-value: 166.67%;
$letter-spacing-tiny-font: divide(1, 96)*1em;

/* WIDTHS & HEIGHTS */
$min-width-app: 960px;
$width-mobile-breakpoint: $min-width-app * .625;
$width-app-breakpoint: $min-width-app*1.375;
$width-app-breakpoint-tablet: 1024px - 1;
$width-deck-hidden-image: 768px; // Must match window width in JavaScript.
$max-width-app: 1440px - 1;
$max-width-content: 64ch;
$max-width-mobile-header-menu: 512px; // This must match the value from the `mobileView()` method in HeaderMenu.vue.
$max-width-narrow-message: $max-width-content * .75;
$height-control-panel-input: $lhse * 1.5;
$height-deck-header-component: $lhse*2;
$height-app-header-short: $height-deck-header-component;
$height-app-header-medium: $height-deck-header-component;
$height-app-header-tall: $lhse*3;
$width-card-bars-wide: $lhse*22; // Set to have the width between the card name and the mana cost on the card bars to match the width of those labels on the actual cards. Add a little extra space to avoid text overflow.
$width-card-bars-narrow: $lhse*11;
$width-card-star: $lhse*1.25;
$width-qty-column: $lhse*1.5;
$max-width-deck-page-layout: calc(100vw - #{$lhse*3});
$width-list-editor-region: $lhse*14.5;
$margin-sections: divide($lhse, 3);
$width-textarea-card-list: $lhse*11.5; // Slightly wider than the width of a line with the card "Okina, Temple to the Grandfathers" (the longest Magic card name that's not a joke card).
$border-width-sections: 1px;
$border-width-sections-medium: 3px;
$border-width-sections-thickest: 5px;
$margin-card-gap-after: $border-width-sections-thickest;

/* BORDERS */
$border-sections: $border-width-sections solid $color-section-border;
$border-sections-medium: $border-width-sections-medium solid $color-section-border;
$border-sections-thick: $border-width-sections-thickest solid $color-section-border;
$border-sections-alt: $border-width-sections solid $color-section-border-alt;
$color-input-border: $border-width-sections solid $color-button-orange;
$border-image-thin: $border-width-sections solid $color-group-bg-darker;
$border-bottom-width-button: 3px;
$outline-focus-visible: 2px solid $color-link-active;
$outline-keyboard-focus: 2px solid $color-button-orange;
$box-shadow-card-list-row-bg-edge: inset 0 0 0 1px $color-heading-bg;

/* SHADOWS AND GLOWS */
$box-shadow-button-shine: inset -.5px 1px 1px rgba(#fff, .25);
$box-shadow-sticky-header: 0 $lhse*.0833 $lhse*.125 rgba($color-subtle-bluish-shadow-base, 1/3);

/* TRANSITIONS */
$transition-duration-standard: .25s;
$transition-duration-card-image-hover-slow: .75s;
$transition-duration-card-image-hover-fast: $transition-duration-card-image-hover-slow * .3820;

/* MISCELLANEOUS VARIABLES */
$border-radius-button: #{$lhse} / #{$lhse * 2};
$border-radius-group: $lhse*.5;
$border-radius-small-button: divide($border-radius-group, 2);
$layers: card-li-focus-within, card-li-hover, scroll-to-top, card-overlay, dropdown-label, app-header, update-notif, bg-overlay, above-overlay, app-menu-toggler;
$opacity-mana-symbols: .9167;
$filter-brightness-button-hover: brightness(1.2);
$filter-brightness-button-active: brightness(.8);
$x: 2px dashed rgba(#0f0, .5);

/* MIXINS */
@import 'mixins';
