$font-family-standard: 'Crimson Pro', 'Palatino Linotype', serif;

$color-content-bg: darken(linen, 1%);
$color-black-label: #0d0f0f;

$color-mana-white: #f8f6d8; // Actual
$color-mana-blue: #c1d7e9; // Actual
$color-mana-black: #bab1ab; // Actual
$color-mana-red: #e49977; // Actual
$color-mana-green: #a3c095; // Actual
$color-mana-hybrid: #f7d264;
$color-mana-generic: #cac5c0; // Actual

$color-frame-white: lighten($color-mana-white, 6.25%);
$color-frame-blue: lighten($color-mana-blue, 8.33%);
$color-frame-black: lighten($color-mana-black, 6.25%);
$color-frame-red: lighten($color-mana-red, 16.67%);
$color-frame-green: lighten($color-mana-green, 16.67%);
$color-frame-multicolor: lighten($color-mana-hybrid, 16.67%);
$color-frame-generic: lighten($color-mana-generic, 8.33%);

$width-site: 1280px;

$x: 2px dashed rgba(#c0f, .75);

@mixin heading-font {
	font-family: 'Asul', $font-family-standard;
	letter-spacing: -(1/32) * 1em;
	font-weight: bold;
}
