$font-family-standard: 'Crimson Pro', 'Palatino Linotype', serif;

$color-content-bg: linen;

@mixin heading-font {
	font-family: 'Asul', $font-family-standard;
	letter-spacing: -(1/32) * 1em;
	font-weight: bold;
}

$x: 2px dashed rgba(#c0f, .75)