.card-adder {
	border: 2px solid tan;
	grid-column: span 2;
	padding: .75em;

	h2 {
		line-height: 1;
		margin: 0;
	}
	label {
		display: block;
		margin: .375em 0
	}
	input {
		font-size: 1em;
		line-height: 1.5;
		margin-left: .25em;
	}
	button {
		font-size: 1em;
		padding: .375em;
	}
	.message {
		margin-left: .75em;
		font-size: .875em;
		display: inline-block
	}
	.error-message {
		color: #d33c40;
	}
	.success-message {
		color: #32a95d;
	}
	.has-error {
		background: #d33c40;
	}
}