.deck-footer {
	grid-column: span 7;
	padding: .75em 1.5em;
	background: tan;
	display: flex;
	align-items: center;
	justify-content: space-between;

	h3 {
		color: #111;
	}
	label {
		display: flex;
		align-items: center;
		margin-right: .5em;
	}
	.deck-actions {
		button {
			margin-left: 1.5em;
		}
	}
}