.deck-header {
	grid-column: span 3;
	padding-bottom: .75em;
	border-bottom: 1px solid tan;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	.rename-btn {
		padding: 0;
		color: #000;
		background: none;
		border: 0;
		box-shadow: none;
		min-width: auto;
		display: flex;
		align-items: center;

		&:hover,
		&:focus {
			span {
				color: orangered;
				text-decoration: underline;
			}
			small {
				opacity: 1;
			}	
		}
		span,
		small {
			transition: all .25s ease;
		}
		small {
			opacity: 0;
			font-size: .667em;
			font-family: $font-family-standard;
			padding-left: .5em;
		}	
	}
	h2 {
		margin: 0;
		flex-grow: 1;
	}
	> div {
		line-height: 1;
		text-align: center;
		margin-left: 2em;
		height: 2.5em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;;
	}
	h3 {
		margin: .125em 0 -.125em;
		text-transform: uppercase;
		font-size: .667em;
		letter-spacing: 0;
	}
	.date {
		line-height: 1.5 * .667;
		font-size: .875em;
	}
	.amount {
		font-size: 1.75em;
	}
	select {
		border: 1px solid tan;
		margin-top: .125em;
		line-height: 1.5;
		padding: .125em 0;
		background: rgba(#fff, .75);

		&:hover,
		&:focus {
			border-color: orangered;
			cursor: pointer;
		}
	}
}