.deck-header {
	grid-column: span 3;
	padding-bottom: .75em;
	border-bottom: 1px solid tan;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	h2 {
		margin: 0;
		flex-grow: 1;
	}
	> div {
		line-height: 1;
		text-align: center;
		margin-left: 2em;
	}
	h3 {
		margin: .125em 0 -.125em;
		text-transform: uppercase;
		font-size: .667em;
		letter-spacing: 0;
	}
	.date {
		line-height: 1.375
	}
	.amount {
		font-size: 1.5em;
	}
}