.deck-list {
	grid-column: span 5;
	align-self: flex-start;

	.no-cards {
		padding: 6em 1.5em;
		text-align: center;
		background: rgba(tan, .25);
		font-style: italic;
	}
	.labels {
		@include heading-font;
		text-transform: uppercase;
		justify-content: space-between;
		font-size: .75em;
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		padding: 0 .5em;
		letter-spacing: 0;
	
		.button-group {
			display: flex;
			grid-column: span 8;
	
			div {
				&:nth-of-type(1) {
					width: 40%;
				}
				&:nth-of-type(2) {
					width: 20%;
				}
				&:nth-of-type(3) {
					width: 40%;
				}
			}
		}
		.qty-group {
			grid-column: span 1;
		}
	}
	ul {
		line-height: 1.25;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		
		&:hover {
			input {
				outline: 1px solid tan;
				color: #000;
				background: #fff;
			}
			> button {
				filter: brightness(112.5%) contrast(112.5%);
				transition-duration: 0s;
				outline: 0;
			}
		}
		> button {
			background: $color-frame-generic;
			display: flex;
			grid-column: span 8;
			justify-content: space-between;
			margin: 0 0 1px 0;
			padding: 0 .375em;
			border-radius: .5em / 50%;
			border: 3px solid rgba(#000, .5);
			border-top-color: rgba(#fff, .333);
			border-right-color: rgba(#fff, .1667);
			border-left-color: rgba(#000, .25);
			transition: all .2s ease-out;
			width: 100%;
			text-align: left;
			align-items: center;
			line-height: 1.375;
			color: $color-black-label;
			box-shadow: none;

			&:active {
				background: orangered;
			}
			&.white {
				background: $color-frame-white;
			}
			&.blue {
				background: $color-frame-blue;
			}
			&.black {
				background: $color-frame-black;
			}
			&.red {
				background: $color-frame-red;
			}
			&.green {
				background: $color-frame-green;
			}
			&.multicolored {
				background: moccasin;
			}
		}
	}
	.name {
		font-size: 1em;
		line-height: 1;
		margin: 0;
		width: 40%;
		color: inherit;
	}
	.mana {
		text-align: left;
		width: 20%;
		display: flex;
		align-items: center
	}
	.type {
		@include heading-font;
		font-size: .833em;
		width: 40%;
	}
	.qty {
		grid-column: span 1;
		display: flex;
		align-items: center;
		line-height: 1;
		
		> span {
			font-size: 1.25em;
			margin-right: -.125em;
			margin: 0 2px 0 .375em;
		}
		input {
			background: transparent;
			border: 0;
			font-size: 1.5em;
			width: 1.75em;
			text-align: center;
			caret-color: orangered;
			outline: 1px solid rgba(tan, 0);
			transition: all .25s ease-out;
			padding: 0;
			font-weight: 500;

			&:hover,
			&:focus {
				background: #fff;
				outline-color: tan;
				transition-duration: 0s;
			}
			&:focus {
				outline: 2px solid orangered;
			}
		}
	}
}
.mana-symbol {
	$common-mana-symbol-size: 1.333rem;

	border-radius: 50%;
	min-width: $common-mana-symbol-size;
	height: $common-mana-symbol-size;
	line-height: $common-mana-symbol-size*.875;
	display: inline-block;
	margin-right: 1.5px;
	text-align: center;
	box-shadow: inset .25px -1px 0px 0.5px rgba(#000, .667);
	font-size: 1.167em;
	font-weight: 500;
	background: $color-mana-generic;
	overflow: hidden;

	&.white {
		background: $color-mana-white;
	}
	&.blue {
		background: $color-mana-blue;
	}
	&.black {
		background: $color-mana-black;
	}
	&.red {
		background: $color-mana-red;
	}
	&.green {
		background: $color-mana-green;
	}
	&.hybrid {
		background: gold;
		font-size: .667em;
	}
}