.card-list-controls {
	grid-column: 3 / 8;
	display: flex;
	padding: 0 .75em .167em;
	background: lighten(tan, 12.5%);
	height: 4.5em;
	align-items: center;
	justify-content: space-between;

	label {
		@include heading-font;
		display: block;
		font-size: .833em;
	}
	input,
	select {
		&:hover,
		&:focus {
			border-style: solid;
			border-color: orangered;
		}
	}
}
.card-adder {
	form {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 0 1px;
		margin-right: 1.5em;
		width: 100%;
	}
	label {
		grid-column: span 4;
	}
	input {
		grid-column: span 3;
		font-size: 1em;
		line-height: 1.5;
		background: rgba(#fff, .667);
		border: 2px inset tan;
		padding: .125em .25em;
		width: 100%;
		height: 100%;

		&::placeholder {
			font-style: italic;
			color: rgba($color-black-label, .667);
		}
	}
	button {
		grid-column: span 1;
		height: 100%; // The pixel subtraction is to compensate for the button's box shadow which makes the button seem slightly taller.
		border-radius: .167em;
		margin-left: 1px;

	}
	.message {
		margin-left: .75em;
		font-size: .875em;
		margin: 0 1.5em;
		clear: both;
	}
	.error-message {
		color: #d33c40;
	}
	.success-message {
		color: #32a95d;
	}
	.has-error {
		background: #d33c40;
	}
}
.card-sorter {
	select {
		border: 1px solid tan;
		margin-top: .125em;
		line-height: 1.5;
		padding: .375em .25em;
		background: rgba(#fff, .75);
		cursor: pointer;
	}
}
.card-total {
	text-align: center;

	h3 {
		margin: 0;
		font-size: .833em;
	}
	.amount {
		font-size: 1.75em;
		font-weight: 500;
		line-height: 1;

		span {
			font-size: .833em;
		}
	}
}