.deck-list {
	grid-column: span 3;

	.no-cards {
		margin: 3em;
		text-align: center;
	}
	.labels {
		@include heading-font;
		text-transform: uppercase;
		justify-content: space-between;
		font-size: .75em;
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		padding: 0 .5em;
		letter-spacing: 0;
	
		.button-group {
			display: flex;
			grid-column: span 8;
	
			div {
				&:nth-of-type(1) {
					width: 40%;
				}
				&:nth-of-type(2) {
					width: 20%;
				}
				&:nth-of-type(3) {
					width: 40%;
				}
			}
		}
		.qty-group {
			grid-column: span 1;
		}
	}
	ul {
		line-height: 1.25;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
	
		&:hover {
			input {
				outline: 1px solid tan;
				color: #000;
				background: #fff;
			}
			> button {
				background: #eee;
				transition-duration: 0s;
				outline: 0;
			}
		}
		> button {
			background: #dfdfdf;
			display: flex;
			grid-column: span 8;
			justify-content: space-between;
			margin: 1px 0;
			padding: 0 .375em;
			border-radius: .5em / 50%;
			border: 3px outset #bbb;
			transition: all .125s ease-out;
			width: 100%;
			text-align: left;
			align-items: center;
			line-height: 1.375;
			color: #111;
			box-shadow: none;

			&:active {
				background: orangered;
			}
		}
	}
	.name {
		font-size: 1em;
		line-height: 1;
		margin: 0;
		width: 40%;
		color: inherit;
	}
	.mana {
		text-align: left;
		width: 20%;
	}
	.type {
		@include heading-font;
		font-size: .875em;
		width: 40%;
	}
	.qty {
		grid-column: span 1;
		display: flex;
		align-items: center;
		line-height: 1;
		
		> span {
			font-size: 1.25em;
			margin-right: -.125em;
			margin: 0 2px 0 .375em;
		}
		input {
			background: transparent;
			border: 0;
			font-size: 1.5em;
			width: 1.75em;
			text-align: center;
			caret-color: orangered;
			outline: 1px solid rgba(tan, 0);
			transition: all .25s ease-out;
			padding: 0;

			&:hover,
			&:focus {
				color: #000;
				background: #fff;
				outline-color: tan;
				transition-duration: 0s;
			}
			&:focus {
				outline: 2px solid orangered;
			}
		}
	}
}
