.site-footer {
	font-size: .833em;
	padding: .75em 1.5em;
	background: rgba(#000, .5);
	color: #999;
	text-align: center;
	
	p {
		margin: .375em .75em;

		strong {
			font-family: 'Goblin One', $font-family-standard;
			font-weight: normal;
			font-size: 83.33%;
		}
	}
	a {
		&:active {
			color: #fff;
		}
	}
}