.tabs {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: block;
		margin: 0 .25em;
		height: 2.25em;
		float: left;

		> a,
		> div {
			@include heading-font;
			border-radius: .5em .5em 0 0;
			padding: 0 .5em;
			height: 100%;
			display: block;
			line-height: 2.25em;
			text-decoration: none;
			text-align: center;
			min-width: 4.5em;
			border: 1px solid rgba(#000, .125);
			border-top-color: rgba(#fff, .333);
			border-bottom-width: 0;
			color: linen;
			box-sizing: content-box;
		}
		> a {
			background: linear-gradient(
				desaturate(darken(orangered, 8.33%), 8.33%) 75%,
				desaturate(darken(orangered, 16.7%), 16.7%)
			);
			&:hover,
			&:focus {
				background: linear-gradient(
					desaturate(darken(orangered, 12.5%), 8.33%) 75%,
					desaturate(darken(orangered, 25%), 16.7%)
				);
			}
			&:active {
				background: lighten(orangered, 12.5%);
				background: linear-gradient(
					lighten(orangered, 12.5%) 25%,
					orangered
				);
				color: #fff;
			}
		}
		> div {
			background: orangered;
		}
		&.add-new-deck {
			span {
				font-size: 1.5em;
			}
		}
	}
}