.tabs {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		margin: 0 .25em;

		> a,
		> div {
			@include heading-font;
			border-radius: .5em .5em 0 0;
			line-height: 1;
			display: block;
			padding: .75em;
			text-decoration: none;
			text-align: center;
			min-width: 2.5em;
			border-top: 1px solid #fff;
		}
		> a {
			background: linear-gradient(
				desaturate(darken($color-content-bg, 25%), 25%) 75%,
				desaturate(darken($color-content-bg, 37.5%), 33.33%)
			);
			color: #000;
			border-top-color: rgba(#fff, .333);
			text-shadow: 0 1px 1px rgba(#fff, .25);

			&:hover,
			&:focus {
				background: linear-gradient(
					desaturate(darken($color-content-bg, 12.5%), 12.5%) 66.67%,
					desaturate(darken($color-content-bg, 25%), 25%)
				);
			}
			&:active {
				color: orangered;
			}
		}
		> div {
			background: linear-gradient(#444, #333);
			background: $color-content-bg;
			color: desaturate(darken($color-content-bg, 50%), 50%);
		}
	}
}