.welcome {
	.contents {
		background-image: url('../public/img/welcome.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-bottom: 0;
		height: 87.5vh;
	}
	.text-box {
		font-size: 1.167em;
		background: rgba(#000, .833);
		box-shadow: inset 0 0 3em rgba(#000, .5);
		color: linen;
		padding: .75em;
		max-width: 16.5em;
		margin: 1.5em .75em;
		border-radius: .375em;
		line-height: 1.5;

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			&:hover,
			&:focus {
				color: #fff;
			}
			&:active {
				color: peru
			}
		}
	}
	h2 {
		margin-top: 0;
		font-size: 1.25em;
		line-height: 1.25;
	}
	footer {
		margin: 1px 0 1.5em;
		text-align: center;

		small {
			display: block;
			color: lighten(#000, 83.3%);	
		}
		a {
			&:active {
				color: #fff;
			}
		}
	}
}