*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font: 20px/1.5 $font-family-standard;
	background: linear-gradient(darken(slategray, 8.33%), #222);
	color: #ddd;
	overflow-x: hidden;
}
#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
}
main {
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
	flex-grow: 1;
	width: 100%;
}
.contents,
.tab-contents {
	background: $color-content-bg;
	color: #000;
	border: 6px solid orangered;
	margin-bottom: 1.5em;	
}
.contents {
	padding: .75em;
}
.tab-contents-main {
	display: grid;
	grid-gap: .75em;
	grid-template-columns: repeat(7, 1fr);
	padding: .75em 1.5em;
}