*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font: 18px/1.5 $font-family-standard;
	background: linear-gradient(slategray, #333);
	color: #ddd;
}
#app {
	border-top: .375em solid orangered;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
}
.site-header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1.5em;

	h1 {
		margin: .75em 0;
		line-height: 1;
		font-size: 1.5em;
		text-shadow: 0 0 .125em #000;

		a {
			color: #fff;

			&,
			&:hover,
			&:focus {
				text-decoration: none
			}
		}
	}
}
main {
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
	flex-grow: 1;
	width: 100%;
}
.contents,
.tab-contents {
	background: $color-content-bg;
	color: #000;
}
.contents {
	padding: 1.5em;

	&.welcome {
		text-align: center;
	}
}
.tab-contents-main {
	display: grid;
	grid-gap: .75em;
	grid-template-columns: repeat(4, 1fr);
	padding: 1.5em 1.5em .75em;
}