@mixin button-style($color) {
	background: linear-gradient(
		$color 0%,
		darken($color, 8.33%) 95%,
		lighten($color, 12.5%) 100%
	);
	border-color: darken($color, 8.33%);
}
* {
	transition: outline .25s ease;
	outline: 2px solid rgba(orangered, 0);
}
*:focus {
	outline: 0;
}
*:focus-visible {
	outline: 2px solid orangered;
}
a {
	color: orangered;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
	&:active {
		color: #000;
	}
}
button {
	@include button-style(desaturate(peru, 16.7%));
	cursor: pointer;
	box-shadow: 0 1px 0 1px rgba(#000, .75);
	border-width: 0px;
	border-style: outset;
	border-top-width: 0;
	border-bottom-width: 2px;
	color: rgba(#fff, .875);
	border-radius: 12.5% / 1.5em;
	padding: .375em ;
	min-width: 4.5em;

	&:hover,
	&:focus {
		@include button-style(peru);
	}
	&:active {
		border-top-width: 2px;
		border-bottom-width: 0;
	}
	&[type="submit"],
	&.primary-btn {
		@include button-style(desaturate(orangered, 16.7%));

		&:hover,
		&:focus {
			@include button-style(orangered);
		}
		&:active {
			@include button-style(darken(orangered, 8.33%));
		}
	}
	&:disabled {
		filter: grayscale(.25);
		opacity: .75;
		cursor: default;
	}
}
input {
	&[type="text"],
	&[type="number"] {
		background-color: #fff;
		color: $color-black-label;
	}
}