a {
	color: royalblue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
	&:active {
		color: #fff;
	}
}
button {
	cursor: pointer;
	box-shadow: 0 1px 0 1px rgba(#000, .5);
}
input {
	&[type="text"],
	&[type="number"] {
		background-color: #ddd;
		color: #000
	}
}